# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule CoinAPIMarketDataRESTAPI.Api.Metadata do
  @moduledoc """
  API calls for all endpoints tagged `Metadata`.
  """

  alias CoinAPIMarketDataRESTAPI.Connection
  import CoinAPIMarketDataRESTAPI.RequestBuilder

  @doc """
  List all assets by asset ID

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `asset_id` (String.t): The asset ID.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%MarketDataMetadataAsset{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_assets_asset_id_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataAsset.t]} | {:error, Tesla.Env.t}
  def v1_assets_asset_id_get(connection, asset_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/assets/#{asset_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataAsset}
    ])
  end

  @doc """
  List all assets
  Retrieves all assets.              :::info Our asset identifiers are aligned with the ISO 4217 currency codes standard only for fiat money (government or law regulated currency). :::              :::info Properties of the output are providing aggregated information from across all symbols related to the specific asset. If you need to calculate your aggregation (e.g., limiting only the particular type of symbols), you should use /v1/symbols endpoint as a data source. :::

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:filter_asset_id` (String.t): Comma or semicolon delimited asset identifiers used to filter response. (optional, eg. `BTC;ETH`).
    - `:filter_asset_type` (String.t): Optional asset type filter. Allowed values: FIAT, STABLECOIN, CRYPTO, COMMODITY, STOCK.

  ### Returns

  - `{:ok, [%MarketDataMetadataAsset{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_assets_get(Tesla.Env.client, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataAsset.t]} | {:error, Tesla.Env.t}
  def v1_assets_get(connection, opts \\ []) do
    optional_params = %{
      :filter_asset_id => :query,
      :filter_asset_type => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/assets")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataAsset}
    ])
  end

  @doc """
  List all asset icons
  Gets the list of icons (of the given size) for all the assets.

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `size` (integer()): The size of the icons.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%MarketDataMetadataIcon{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_assets_icons_size_get(Tesla.Env.client, integer(), keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataIcon.t]} | {:error, Tesla.Env.t}
  def v1_assets_icons_size_get(connection, size, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/assets/icons/#{size}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataIcon}
    ])
  end

  @doc """
  List all chains by chain ID

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `chain_id` (String.t): The chain ID.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%MarketDataMetadataChain{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_chains_chain_id_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataChain.t]} | {:error, Tesla.Env.t}
  def v1_chains_chain_id_get(connection, chain_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/chains/#{chain_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataChain}
    ])
  end

  @doc """
  List all blockchain chains
  Retrieves all blockchain chains supported by the system.              :::info Properties of the output are providing aggregated information from across all symbols related to the specific chain. If you need to calculate your aggregation (e.g., limiting only the particular type of symbols), you should use /v1/symbols endpoint as a data source. :::

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:filter_chain_id` (String.t): Comma or semicolon delimited chain identifiers used to filter response. (optional, eg. `ETHEREUM;ARBITRUM`).

  ### Returns

  - `{:ok, [%MarketDataMetadataChain{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_chains_get(Tesla.Env.client, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataChain.t]} | {:error, Tesla.Env.t}
  def v1_chains_get(connection, opts \\ []) do
    optional_params = %{
      :filter_chain_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/chains")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataChain}
    ])
  end

  @doc """
  List all exchanges by exchange_id

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `exchange_id` (String.t): The ID of the exchange.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%MarketDataMetadataExchange{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_exchanges_exchange_id_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataExchange.t]} | {:error, Tesla.Env.t}
  def v1_exchanges_exchange_id_get(connection, exchange_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/exchanges/#{exchange_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataExchange}
    ])
  end

  @doc """
  List all exchanges
  Get a detailed list of exchanges provided by the system.              :::info Properties of the output are providing aggregated information from across all symbols related to the specific exchange. If you need to calculate your aggregation (e.g., limiting only the particular type of symbols), you should use /v1/symbols endpoint as a data source. :::

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:filter_exchange_id` (String.t): Comma or semicolon delimited exchange identifiers used to filter response. (optional, eg. `BITSTAMP;GEMINI`)

  ### Returns

  - `{:ok, [%MarketDataMetadataExchange{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_exchanges_get(Tesla.Env.client, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataExchange.t]} | {:error, Tesla.Env.t}
  def v1_exchanges_get(connection, opts \\ []) do
    optional_params = %{
      :filter_exchange_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/exchanges")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataExchange}
    ])
  end

  @doc """
  List of icons for the exchanges

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `size` (integer()): The size of the icons.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%MarketDataMetadataIcon{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_exchanges_icons_size_get(Tesla.Env.client, integer(), keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataIcon.t]} | {:error, Tesla.Env.t}
  def v1_exchanges_icons_size_get(connection, size, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/exchanges/icons/#{size}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataIcon}
    ])
  end

  @doc """
  List all active symbols
  Retrieves all currently active (listed) symbols, with optional filtering.              :::info \"price_precision\" and \"size_precision\" are data precisions and are not always the same precisions used for trading eg. for the \"BINANCE\" exchanges. :::              :::info You should not assume that the market data will be always within the resolution provided by the \"price_precision\" and \"size_precision\". The fact that the precision values can be derived from a posterior implies the fact that this data could be delayed, also it can be changed by the data source without notice and we will immediately deliver data with the new precision while could not update the precision values in this endpoint immediately. :::              ### Symbol identifier              Our symbol identifier is created using a pattern that depends on symbol type.              Type | `symbol_id` pattern --------- | --------- SPOT | `{exchange_id}_SPOT_{asset_id_base}_{asset_id_quote}` FUTURES | `{exchange_id}_FTS_{asset_id_base}_{asset_id_quote}_{YYMMDD of future_delivery_time}` OPTION | `{exchange_id}_OPT_{asset_id_base}_{asset_id_quote}_{YYMMDD of option_expiration_time}_{option_strike_price}_{option_type_is_call as C/P}` PERPETUAL | `{exchange_id}_PERP_{asset_id_base}_{asset_id_quote}` DEPLOYER_PERPETUAL | `{exchange_id}_DPERP_{deployer_symbol}_{asset_id_quote}` INDEX | `{exchange_id}_IDX_{index_id}` CREDIT | `{exchange_id}_CRE_{asset_id_base}` CONTACT  | `{exchange_id}_COT_{contract_id}` OPTION_COMBO | `{exchange_id}_OPTCMB_{exchange_symbol_id}` FUTURE_COMBO | `{exchange_id}_FTSCMB_{exchange_symbol_id}`              :::info In the unlikely event when the \"symbol_id\" for more than one market is the same. We will append the additional term (prefixed with the \"_\") at the end of the duplicated identifiers to differentiate them. :::info              ### Symbol types list (enumeration of `symbol_type` output variable)              Type | Name | Description -------- | - | ----------- SPOT | FX Spot | Agreement to exchange one asset for another one *(e.g. Buy BTC for USD)* FUTURES | Futures contract | FX Spot derivative contract where traders agree to trade fx spot at predetermined future time OPTION | Option contract | FX Spot derivative contract where traders agree to trade right to require buy or sell of fx spot at agreed price on exercise date PERPETUAL | Perpetual contract | FX Spot derivative contract where traders agree to trade fx spot continously without predetermined future delivery time DEPLOYER_PERPETUAL | Deployer Perpetual contract | Perpetual contract for user-deployed markets *(e.g. Hyperliquid user-deployed perpetuals)* INDEX | Index | Statistical composite that measures changes in the economy or markets. CREDIT | Credit/Funding | Margin funding contract. Order book displays lending offers and borrow bids. Price represents the daily rate. CONTRACT | Contract | Represents other types of financial instruments *(e.g. spreads, interest rate swap)* OPTION_COMBO | Option Combo | Multi-leg option strategy combining two or more option positions *(e.g. put spread, protective collar)* FUTURE_COMBO | Future Combo | Multi-leg futures calendar spread combining two futures positions *(e.g. futures vs perpetual)*              ### Additional output variables for `symbol_type = INDEX`              Variable | Description --------- | ----------- index_id | Index identifier index_display_name | Human readable name of the index *(optional)* index_display_description | Description of the index *(optional)*              ### Additional output variables for `symbol_type = FUTURES`              Variable | Description --------- | ----------- future_delivery_time | Predetermined time of futures contract delivery date in ISO 8601 future_contract_unit | Contact size *(eg. 10 BTC if `future_contract_unit` = `10` and `future_contract_unit_asset` = `BTC`)* future_contract_unit_asset | Identifier of the asset used to denominate the contract unit              ### Additional output variables for `symbol_type = PERPETUAL`              Variable | Description --------- | ----------- future_contract_unit | Contact size *(eg. 10 BTC if `future_contract_unit` = `10` and `future_contract_unit_asset` = `BTC`)* future_contract_unit_asset | Identifier of the asset used to denominate the contract unit              ### Additional output variables for `symbol_type = DEPLOYER_PERPETUAL`              Variable | Description --------- | ----------- future_contract_unit | Contact size *(eg. 10 BTC if `future_contract_unit` = `10` and `future_contract_unit_asset` = `BTC`)* future_contract_unit_asset | Identifier of the asset used to denominate the contract unit              ### Additional output variables for `symbol_type = OPTION`              Variable | Description --------- | ----------- option_type_is_call | Boolean value representing option type. `true` for Call options, `false` for Put options option_strike_price | Price at which option contract can be exercised option_contract_unit | Base asset amount of underlying spot which single option represents option_exercise_style | Option exercise style. Can be `EUROPEAN` or `AMERICAN` option_expiration_time | Option contract expiration time in ISO 8601              ### Additional output variables for `symbol_type = CONTRACT`              Variable | Description --------- | ----------- contract_delivery_time | Predetermined time of contract delivery date in ISO 8601 contract_unit | Contact size *(eg. 10 BTC if `contract_unit` = `10` and `contract_unit_asset` = `BTC`)* contract_unit_asset | Identifier of the asset used to denominate the contract unit contract_id | Identifier of contract by the exchange

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `exchange_id` (String.t): The ID of the exchange.
  - `opts` (keyword): Optional parameters
    - `:filter_symbol_id` (String.t): Comma or semicolon delimited parts of symbol identifier used to filter response. (optional, eg. `BITSTAMP`_ or `BINANCE_SPOT_`)
    - `:filter_asset_id` (String.t): The filter for asset ID.

  ### Returns

  - `{:ok, [%MarketDataMetadataSymbol{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_symbols_exchange_id_active_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataSymbol.t]} | {:error, Tesla.Env.t}
  def v1_symbols_exchange_id_active_get(connection, exchange_id, opts \\ []) do
    optional_params = %{
      :filter_symbol_id => :query,
      :filter_asset_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/symbols/#{exchange_id}/active")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataSymbol}
    ])
  end

  @doc """
  Get a single symbol by its exchange-native symbol identifier.
  Looks up a symbol by `symbol_id_exchange` regardless of mapping status - this also returns symbols that have not been mapped to a CoinAPI `symbol_id` yet (see `{exchange_id}/unmapped`).

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `exchange_id` (String.t): The ID of the exchange.
  - `exchange_symbol_id` (String.t): The exchange-native symbol identifier (`symbol_id_exchange`).
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataSymbol.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_symbols_exchange_id_by_exchange_symbol_exchange_symbol_id_get(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataSymbol.t} | {:error, Tesla.Env.t}
  def v1_symbols_exchange_id_by_exchange_symbol_exchange_symbol_id_get(connection, exchange_id, exchange_symbol_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/symbols/#{exchange_id}/by-exchange-symbol/#{exchange_symbol_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataSymbol}
    ])
  end

  @doc """
  List all historical symbols for an exchange.
  This endpoint provides access to symbols that are no longer actively traded or listed on a given exchange. The data is provided with pagination support.

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `exchange_id` (String.t): The ID of the exchange.
  - `opts` (keyword): Optional parameters
    - `:page` (integer()): The page number for pagination (starts from 1).
    - `:limit` (integer()): Number of records to return per page.

  ### Returns

  - `{:ok, [%MarketDataMetadataSymbol{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_symbols_exchange_id_history_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataSymbol.t]} | {:error, Tesla.Env.t}
  def v1_symbols_exchange_id_history_get(connection, exchange_id, opts \\ []) do
    optional_params = %{
      :page => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/symbols/#{exchange_id}/history")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataSymbol}
    ])
  end

  @doc """
  List symbols not yet mapped to a CoinAPI symbol_id for an exchange.
  Returns raw exchange symbols that MarketAccess has received (KVP data available) but that have not been mapped to a CoinAPI `symbol_id` yet. Since `symbol_id` is null for these rows, use `symbol_id_exchange` (and `GET {exchange_id}/by-exchange-symbol/{exchange_symbol_id}`) to reference them. The `raw_kvp` field contains the raw exchange payload as received.

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `exchange_id` (String.t): The ID of the exchange.
  - `opts` (keyword): Optional parameters
    - `:page` (integer()): The page number for pagination (starts from 1).
    - `:limit` (integer()): Number of records to return per page.

  ### Returns

  - `{:ok, [%MarketDataMetadataSymbol{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_symbols_exchange_id_unmapped_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataSymbol.t]} | {:error, Tesla.Env.t}
  def v1_symbols_exchange_id_unmapped_get(connection, exchange_id, opts \\ []) do
    optional_params = %{
      :page => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v1/symbols/#{exchange_id}/unmapped")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.MarketDataMetadataSymbol}
    ])
  end

  @doc """
  List active symbol mapping for the exchange

  ### Parameters

  - `connection` (CoinAPIMarketDataRESTAPI.Connection): Connection to server
  - `exchange_id` (String.t): The ID of the exchange (from the Metadata -> Exchanges)
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%V1SymbolMapping{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec v1_symbols_map_exchange_id_get(Tesla.Env.client, String.t, keyword()) :: {:ok, [CoinAPIMarketDataRESTAPI.Model.V1SymbolMapping.t]} | {:error, Tesla.Env.t}
  def v1_symbols_map_exchange_id_get(connection, exchange_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v1/symbols/map/#{exchange_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, CoinAPIMarketDataRESTAPI.Model.V1SymbolMapping}
    ])
  end
end
