openapi: 3.0.4
info:
  contact:
    email: support@apibricks.io
    name: API BRICKS LTD
    url: https://www.finfeedapi.com
  license:
    name: MIT License
    url: https://github.com/api-bricks/api-bricks-sdk/blob/master/LICENSE
  title: FinFeedAPI Stock REST API
  version: v1
servers:
- url: https://api-historical.stock.finfeedapi.com
security:
- APIKey: []
- JWT: []
tags:
- description: "Provides access to OHLCV (Open, High, Low, Close, Volume) timeseries\
    \ data."
  name: Ohlcv
  x-displayName: Ohlcv
- description: Provides access to exchange and symbol metadata.
  name: Metadata
  x-displayName: Metadata
- description: Provides access to IEX market data endpoints.
  name: NativeIEX
  x-displayName: NativeIEX
paths:
  /v1/symbols/{exchange_id}:
    get:
      description: |-
        Results are paginated. Use `limit` and `page` to control page size and offset
        (default limit: 100, max: 10000, default page: 1).
      parameters:
      - description: The ID of the exchange (from the Metadata -> Exchanges)
        explode: false
        in: path
        name: exchange_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Comma or semicolon delimited symbol identifiers used to filter\
          \ response (optional, eg. `TSLA` or `TSLA,NVDA`)"
        explode: true
        in: query
        name: filter_symbol_id
        required: false
        schema:
          type: string
        style: form
      - description: "Maximum number of symbols to return (1-10000, default 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      - description: "Page number (1-based, default 1)"
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - symbol_id: TSLA
                    exchange_id: IEXG
                    security_category: Common Stock
                    name: TESLA INC
                    date: 2026-08-18
                  - symbol_id: NVDA
                    exchange_id: IEXG
                    security_category: Common Stock
                    name: NVIDIA CORP
                    date: 2026-08-18
              schema:
                items:
                  $ref: "#/components/schemas/FinFeedAPI.SymbolModel"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - symbol_id: TSLA
                    exchange_id: IEXG
                    security_category: Common Stock
                    name: TESLA INC
                    date: 2026-08-18
                  - symbol_id: NVDA
                    exchange_id: IEXG
                    security_category: Common Stock
                    name: NVIDIA CORP
                    date: 2026-08-18
              schema:
                items:
                  $ref: "#/components/schemas/FinFeedAPI.SymbolModel"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - symbol_id: TSLA
                    exchange_id: IEXG
                    security_category: Common Stock
                    name: TESLA INC
                    date: 2026-08-18
                  - symbol_id: NVDA
                    exchange_id: IEXG
                    security_category: Common Stock
                    name: NVIDIA CORP
                    date: 2026-08-18
              schema:
                items:
                  $ref: "#/components/schemas/FinFeedAPI.SymbolModel"
                type: array
          description: successful operation
      summary: List of symbols for the exchange
      tags:
      - Metadata
  /v1/exchanges:
    get:
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - exchange_id: IEXG
                    mic: IEXG
                    operating_mic: IEXG
                    oprt_sgmt: OPRT
                    market_name_institution_description: INVESTORS EXCHANGE
                    legal_entity_name: INVESTORS EXCHANGE LLC
                    market_category_code: NSPD
                    acronym: IEX
                    iso_country_code: US
                    city: NEW YORK
                    website: WWW.IEX.IO
                    status: ACTIVE
                    creation_date: 2013-10-28T00:00:00.0000000Z
                    last_update_date: 2022-10-24T00:00:00.0000000Z
                  - exchange_id: XNAS
                    mic: XNAS
                    operating_mic: XNAS
                    oprt_sgmt: OPRT
                    market_name_institution_description: NASDAQ - ALL MARKETS
                    market_category_code: NSPD
                    acronym: NASDAQ
                    iso_country_code: US
                    city: NEW YORK
                    website: WWW.NASDAQ.COM
                    status: ACTIVE
                    creation_date: 2005-06-27T00:00:00.0000000Z
                    last_update_date: 2005-06-27T00:00:00.0000000Z
              schema:
                items:
                  $ref: "#/components/schemas/FinFeedAPI.ExchangeModel"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - exchange_id: IEXG
                    mic: IEXG
                    operating_mic: IEXG
                    oprt_sgmt: OPRT
                    market_name_institution_description: INVESTORS EXCHANGE
                    legal_entity_name: INVESTORS EXCHANGE LLC
                    market_category_code: NSPD
                    acronym: IEX
                    iso_country_code: US
                    city: NEW YORK
                    website: WWW.IEX.IO
                    status: ACTIVE
                    creation_date: 2013-10-28T00:00:00.0000000Z
                    last_update_date: 2022-10-24T00:00:00.0000000Z
                  - exchange_id: XNAS
                    mic: XNAS
                    operating_mic: XNAS
                    oprt_sgmt: OPRT
                    market_name_institution_description: NASDAQ - ALL MARKETS
                    market_category_code: NSPD
                    acronym: NASDAQ
                    iso_country_code: US
                    city: NEW YORK
                    website: WWW.NASDAQ.COM
                    status: ACTIVE
                    creation_date: 2005-06-27T00:00:00.0000000Z
                    last_update_date: 2005-06-27T00:00:00.0000000Z
              schema:
                items:
                  $ref: "#/components/schemas/FinFeedAPI.ExchangeModel"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - exchange_id: IEXG
                    mic: IEXG
                    operating_mic: IEXG
                    oprt_sgmt: OPRT
                    market_name_institution_description: INVESTORS EXCHANGE
                    legal_entity_name: INVESTORS EXCHANGE LLC
                    market_category_code: NSPD
                    acronym: IEX
                    iso_country_code: US
                    city: NEW YORK
                    website: WWW.IEX.IO
                    status: ACTIVE
                    creation_date: 2013-10-28T00:00:00.0000000Z
                    last_update_date: 2022-10-24T00:00:00.0000000Z
                  - exchange_id: XNAS
                    mic: XNAS
                    operating_mic: XNAS
                    oprt_sgmt: OPRT
                    market_name_institution_description: NASDAQ - ALL MARKETS
                    market_category_code: NSPD
                    acronym: NASDAQ
                    iso_country_code: US
                    city: NEW YORK
                    website: WWW.NASDAQ.COM
                    status: ACTIVE
                    creation_date: 2005-06-27T00:00:00.0000000Z
                    last_update_date: 2005-06-27T00:00:00.0000000Z
              schema:
                items:
                  $ref: "#/components/schemas/FinFeedAPI.ExchangeModel"
                type: array
          description: successful operation
      summary: List of exchanges
      tags:
      - Metadata
  /v1/native/iex/trade/{symbol}:
    get:
      description: "Streaming endpoint. Use `limit` to cap the number of trade records\
        \ returned (default 100, max 10000)."
      parameters:
      - description: The symbol identifier
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      - description: Date in format YYYY-MM-DD
        explode: true
        in: query
        name: date
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: "Maximum number of records to return (1-10000, default 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/IEXTrade.TradeModel"
                type: array
          description: successful operation
      summary: Get Trades
      tags:
      - NativeIEX
  /v1/native/iex/admin/system-event:
    get:
      description: "Streaming endpoint. Use `limit` to cap the number of records returned\
        \ (default 100, max 10000)."
      parameters:
      - description: Date in format YYYY-MM-DD
        explode: true
        in: query
        name: date
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: "Maximum number of records to return (1-10000, default 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/IEXSystemEvent.SystemEventModel"
                type: array
          description: successful operation
      summary: Get System Events
      tags:
      - NativeIEX
  /v1/native/iex/level1-quote/{symbol}:
    get:
      description: "Streaming endpoint. Use `limit` to cap the number of records returned\
        \ (default 100, max 10000)."
      parameters:
      - description: The symbol identifier
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      - description: Date in format YYYY-MM-DD
        explode: true
        in: query
        name: date
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: "Maximum number of records to return (1-10000, default 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/IEXQuoteUpdate.QuoteUpdateModel"
                type: array
          description: successful operation
      summary: Get Level-1 Quotes
      tags:
      - NativeIEX
  /v1/native/iex/level2-price-level-update/{symbol}:
    get:
      description: "Streaming endpoint. Use `limit` to cap the number of records returned\
        \ (default 100, max 10000)."
      parameters:
      - description: The symbol identifier
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      - description: Date in format YYYY-MM-DD
        explode: true
        in: query
        name: date
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: "Maximum number of records to return (1-10000, default 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/IEXPriceLevelUpdate.PriceLevelUpdateModel"
                type: array
          description: successful operation
      summary: Get Level-2 Price Level Book
      tags:
      - NativeIEX
  /v1/native/iex/level3-order-book/{symbol}:
    get:
      description: "Streaming endpoint. Use `limit` to cap the number of records returned\
        \ (default 100, max 10000)."
      parameters:
      - description: The symbol identifier
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      - description: Date in format YYYY-MM-DD
        explode: true
        in: query
        name: date
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: "Maximum number of records to return (1-10000, default 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - add_order:
                  symbol: AAPL
                  timestamp_nanos: 1787033136551000000
                  timestamp: 2026-08-18T06:05:36.5510000Z
                  is_side_buy: true
                  size: 100
                  price: 176.42
                  order_id: 123456789
              - delete_order:
                  symbol: TSLA
                  timestamp_nanos: 1787033136551000000
                  timestamp: 2026-08-18T06:05:36.5510000Z
                  order_id_reference: 987654321
              - modify_order:
                  symbol: NFLX
                  timestamp_nanos: 1787033136551000000
                  timestamp: 2026-08-18T06:05:36.5510000Z
                  order_id_reference: 789456123
                  is_priority_reset: false
                  size: 150
                  price: 625.85
              - executed_order:
                  symbol: META
                  timestamp_nanos: 1787033136551000000
                  timestamp: 2026-08-18T06:05:36.5510000Z
                  order_id_reference: 555123456
                  sale_condition_flags: 0
                  is_intermarket_sweep: false
                  is_extended_hours_trade: false
                  is_odd_lot_trade: false
                  is_trade_through_exempt: false
                  is_single_price_cross_trade: false
                  size: 200
                  price: 421
                  trade_id: 123987456
              - clear_book:
                  symbol: MSFT
                  timestamp_nanos: 1787033136551000000
                  timestamp: 2026-08-18T06:05:36.5510000Z
              schema:
                items:
                  $ref: "#/components/schemas/Models.OrderBookModel"
                type: array
          description: successful operation
      summary: Get Level-3 Order Book
      tags:
      - NativeIEX
  /v1/native/iex/admin/messages/{symbol}:
    get:
      description: "Streaming endpoint. Use `limit` to cap the number of records returned\
        \ (default 100, max 10000)."
      parameters:
      - description: The symbol identifier
        explode: false
        in: path
        name: symbol
        required: true
        schema:
          type: string
        style: simple
      - description: Date in format YYYY-MM-DD
        explode: true
        in: query
        name: date
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: "Maximum number of records to return (1-10000, default 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - trading_status:
                  symbol: PYPL
                  timestamp_nanos: 1787033136555000000
                  timestamp: 2026-08-18T06:05:36.5550000Z
                  is_trading_live: true
                  is_trading_halted: false
                  is_trading_in_order_acceptance_period: false
                  is_trading_paused: false
                  is_reason_halt_news_pending: false
                  is_reason_ipo_not_yet_trading: false
                  is_reason_ipo_deferred: false
                  is_reason_halt_news_dissemination: false
                  is_reason_ipo_order_acceptance_period: false
                  is_reason_ipo_pre_launch_period: false
                  is_reason_market_wide_circuit_breaker_level1: false
                  is_reason_market_wide_circuit_breaker_level2: false
                  is_reason_market_wide_circuit_breaker_level3: false
                  is_reason_not_applicable: true
                  is_reason_not_available: false
              - official_price:
                  symbol: AAPL
                  timestamp_nanos: 1787033136555000000
                  timestamp: 2026-08-18T06:05:36.5550000Z
                  price_type: 81
                  price_type_code: Q
                  price_type_text: IEX Official Opening Price
                  is_price_type_opening: true
                  is_price_type_closing: false
                  official_price: 12.3456
              - security_event:
                  symbol: CRM
                  timestamp_nanos: 1787033136555000000
                  timestamp: 2026-08-18T06:05:36.5550000Z
                  security_event: 79
                  security_event_code: O
                  security_event_text: Opening Process Complete
                  is_opening_process_complete: true
                  is_closing_process_complete: false
              - auction_information:
                  symbol: AAPL
                  timestamp_nanos: 1787033136555000000
                  timestamp: 2026-08-18T06:05:36.5550000Z
                  auction_type: 79
                  auction_type_code: O
                  auction_type_text: Opening Auction
                  is_auction_type_opening: true
                  is_auction_type_closing: false
                  is_auction_type_ipo: false
                  is_auction_type_halt: false
                  is_auction_type_volatility: false
                  paired_shares: 12500
                  reference_price: 156.42
                  indicative_clearing_price: 156.5
                  imbalance_shares: 2300
                  imbalance_side: 66
                  imbalance_side_code: B
                  imbalance_side_text: Buy-side imbalance
                  is_imbalance_side_buy: true
                  is_imbalance_side_sell: false
                  is_imbalance_side_none: false
                  extension_number: 0
                  scheduled_auction_time_seconds: 1787033436
                  scheduled_auction_time: 2026-08-18T06:10:36.0000000Z
                  auction_book_clearing_price: 156.45
                  collar_reference_price: 157
                  lower_auction_collar: 152.5
                  upper_auction_collar: 161.5
              - short_sale_price_test:
                  symbol: MSFT
                  timestamp_nanos: 1787033136555000000
                  timestamp: 2026-08-18T06:05:36.5550000Z
                  short_sale_price_test_status: 1
                  short_sale_price_test_status_code: "1"
                  short_sale_price_test_status_text: Short Sale Price Test in Effect
                  is_short_sale_price_test_not_in_effect: false
                  is_short_sale_price_test_in_effect: true
                  detail: 65
                  detail_code: A
                  detail_text: Short sale price test restriction in effect due to
                    an intraday price drop (Activated)
                  is_detail_no_price_test: false
                  is_detail_activated: true
                  is_detail_continued: false
                  is_detail_deactivated: false
                  is_detail_not_available: false
              - operational_halt_status:
                  symbol: AAPL
                  timestamp_nanos: 1787033136555000000
                  timestamp: 2026-08-18T06:05:36.5550000Z
                  operational_halt_status: 79
                  operational_halt_status_code: O
                  operational_halt_status_text: IEX specific operational trading halt
                  is_operationally_halted: true
                  is_not_operationally_halted: false
              - retail_liquidity_indicator:
                  symbol: GOOG
                  timestamp_nanos: 1787033136555000000
                  timestamp: 2026-08-18T06:05:36.5550000Z
                  retail_liquidity_indicator: 65
                  retail_liquidity_indicator_code: A
                  retail_liquidity_indicator_text: Buy interest for Retail
                  is_retail_indicator_not_applicable: false
                  is_retail_indicator_buy_interest: true
                  is_retail_indicator_sell_interest: false
                  is_retail_indicator_buy_and_sell_interest: false
              - system_event:
                  timestamp_nanos: 1787033136555000000
                  timestamp: 2026-08-18T06:05:36.5550000Z
                  system_event: 79
                  system_event_code: O
                  system_event_text: "Start of Messages – Outside of heartbeat messages\
                    \ on the lower level protocol, the start of day message is the\
                    \ first message sent in any trading session."
                  is_system_event_start_of_messages: true
                  is_system_event_start_of_system_hours: false
                  is_system_event_start_of_regular_market_hours: false
                  is_system_event_end_of_regular_market_hours: false
                  is_system_event_end_of_system_hours: false
                  is_system_event_end_of_messages: false
              - security_directory:
                  symbol: INTC
                  timestamp_nanos: 1787033136555000000
                  timestamp: 2026-08-18T06:05:36.5550000Z
                  flags: 0
                  round_lot_size: 100
                  adjusted_poc_price: 35.36
                  luld_tier: 1
                  luld_tier_code: "1"
                  luld_tier_text: Tier 1 NMS Stock
                  is_luld_tier_not_applicable: false
                  is_luld_tier1: true
                  is_luld_tier2: false
              schema:
                items:
                  $ref: "#/components/schemas/Models.AdminMessageModel"
                type: array
          description: successful operation
      summary: Get Admin Messages
      tags:
      - NativeIEX
  /v1/ohlcv/periods:
    get:
      description: "Get full list of supported time periods available for requesting\
        \ OHLCV timeseries data.\n            \n### Available periods\n          \
        \  \nTime unit | Period identifiers\n--------- | -----------\nSecond | 1SEC,\
        \ 2SEC, 3SEC, 4SEC, 5SEC, 6SEC, 10SEC, 15SEC, 20SEC, 30SEC\nMinute | 1MIN,\
        \ 2MIN, 3MIN, 4MIN, 5MIN, 6MIN, 10MIN, 15MIN, 20MIN, 30MIN\nHour | 1HRS, 2HRS,\
        \ 3HRS, 4HRS, 6HRS, 8HRS, 12HRS\nDay | 1DAY, 2DAY, 3DAY, 5DAY, 7DAY, 10DAY\n\
        Month | 1MTH, 2MTH, 3MTH, 4MTH, 6MTH\nYear | 1YRS, 2YRS, 3YRS, 4YRS, 5YRS\n\
        \            \n:::tip\nYou can assume that we will not remove any periods\
        \ from this response, however, we may add new ones.\n:::"
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - period_id: 1SEC
                    length_seconds: 1
                    length_months: 0
                    unit_count: 1
                    unit_name: second
                    display_name: 1 Second
                  - period_id: 10DAY
                    length_seconds: 864000
                    length_months: 0
                    unit_count: 10
                    unit_name: day
                    display_name: 10 Days
                  - period_id: 2YRS
                    length_seconds: 0
                    length_months: 24
                    unit_count: 2
                    unit_name: year
                    display_name: 2 Years
              schema:
                items:
                  $ref: "#/components/schemas/OHLCVTimeSeries.TimeseriesPeriod"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - period_id: 1SEC
                    length_seconds: 1
                    length_months: 0
                    unit_count: 1
                    unit_name: second
                    display_name: 1 Second
                  - period_id: 10DAY
                    length_seconds: 864000
                    length_months: 0
                    unit_count: 10
                    unit_name: day
                    display_name: 10 Days
                  - period_id: 2YRS
                    length_seconds: 0
                    length_months: 24
                    unit_count: 2
                    unit_name: year
                    display_name: 2 Years
              schema:
                items:
                  $ref: "#/components/schemas/OHLCVTimeSeries.TimeseriesPeriod"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - period_id: 1SEC
                    length_seconds: 1
                    length_months: 0
                    unit_count: 1
                    unit_name: second
                    display_name: 1 Second
                  - period_id: 10DAY
                    length_seconds: 864000
                    length_months: 0
                    unit_count: 10
                    unit_name: day
                    display_name: 10 Days
                  - period_id: 2YRS
                    length_seconds: 0
                    length_months: 24
                    unit_count: 2
                    unit_name: year
                    display_name: 2 Years
              schema:
                items:
                  $ref: "#/components/schemas/OHLCVTimeSeries.TimeseriesPeriod"
                type: array
          description: successful operation
      summary: List all periods
      tags:
      - Ohlcv
  /v1/ohlcv/exchange-symbol/{exchange_id}/{symbol_id}/history:
    get:
      description: Get OHLCV timeseries data returned in time ascending order.
      parameters:
      - description: Exchange identifier of requested timeseries (from the Metadata
          -> Exchanges)
        explode: false
        in: path
        name: exchange_id
        required: true
        schema:
          type: string
        style: simple
      - description: Symbol identifier of requested timeseries (from the Metadata
          -> Symbols)
        explode: false
        in: path
        name: symbol_id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier of requested timeseries period (e.g. `5SEC` or `2MTH`)
        explode: true
        in: query
        name: period_id
        required: true
        schema:
          type: string
        style: form
      - description: Timeseries starting time in ISO 8601
        explode: true
        in: query
        name: time_start
        required: false
        schema:
          type: string
        style: form
      - description: Timeseries ending time in ISO 8601
        explode: true
        in: query
        name: time_end
        required: false
        schema:
          type: string
        style: form
      - description: "Amount of items to return (mininum is 1, maximum is 100000,\
          \ default value is 100, if the parameter is used then every 100 output items\
          \ are counted as one request)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - time_period_start: 2017-01-01T00:00:00.0000000Z
                    time_period_end: 2017-01-02T00:00:00.0000000Z
                    time_open: 2017-01-01T00:01:08.0000000Z
                    time_close: 2017-01-01T23:59:46.0000000Z
                    price_open: 966.34
                    price_high: 1005.0
                    price_low: 960.53
                    price_close: 997.75
                    volume_traded: 6850.59330859
                    trades_count: 7815
                  - time_period_start: 2017-01-02T00:00:00.0000000Z
                    time_period_end: 2017-01-03T00:00:00.0000000Z
                    time_open: 2017-01-02T00:00:05.0000000Z
                    time_close: 2017-01-02T23:59:37.0000000Z
                    price_open: 997.75
                    price_high: 1032.0
                    price_low: 990.01
                    price_close: 1012.54
                    volume_traded: 8167.38103018
                    trades_count: 7871
              schema:
                items:
                  $ref: "#/components/schemas/OHLCVTimeSeries.TimeseriesItem"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - time_period_start: 2017-01-01T00:00:00.0000000Z
                    time_period_end: 2017-01-02T00:00:00.0000000Z
                    time_open: 2017-01-01T00:01:08.0000000Z
                    time_close: 2017-01-01T23:59:46.0000000Z
                    price_open: 966.34
                    price_high: 1005.0
                    price_low: 960.53
                    price_close: 997.75
                    volume_traded: 6850.59330859
                    trades_count: 7815
                  - time_period_start: 2017-01-02T00:00:00.0000000Z
                    time_period_end: 2017-01-03T00:00:00.0000000Z
                    time_open: 2017-01-02T00:00:05.0000000Z
                    time_close: 2017-01-02T23:59:37.0000000Z
                    price_open: 997.75
                    price_high: 1032.0
                    price_low: 990.01
                    price_close: 1012.54
                    volume_traded: 8167.38103018
                    trades_count: 7871
              schema:
                items:
                  $ref: "#/components/schemas/OHLCVTimeSeries.TimeseriesItem"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - time_period_start: 2017-01-01T00:00:00.0000000Z
                    time_period_end: 2017-01-02T00:00:00.0000000Z
                    time_open: 2017-01-01T00:01:08.0000000Z
                    time_close: 2017-01-01T23:59:46.0000000Z
                    price_open: 966.34
                    price_high: 1005.0
                    price_low: 960.53
                    price_close: 997.75
                    volume_traded: 6850.59330859
                    trades_count: 7815
                  - time_period_start: 2017-01-02T00:00:00.0000000Z
                    time_period_end: 2017-01-03T00:00:00.0000000Z
                    time_open: 2017-01-02T00:00:05.0000000Z
                    time_close: 2017-01-02T23:59:37.0000000Z
                    price_open: 997.75
                    price_high: 1032.0
                    price_low: 990.01
                    price_close: 1012.54
                    volume_traded: 8167.38103018
                    trades_count: 7871
              schema:
                items:
                  $ref: "#/components/schemas/OHLCVTimeSeries.TimeseriesItem"
                type: array
          description: successful operation
      summary: Historical data
      tags:
      - Ohlcv
  /v1/ohlcv/exchange/{exchange_id}/history:
    get:
      description: |-
        Get OHLCV timeseries data returned in time ascending order. Data can be requested by the period and for the specific exchange.
        Time range is limited to 24 hours. Use `limit` to cap the number of symbol rows returned.
      parameters:
      - description: Exchange identifier of requested timeseries (from the Metadata
          -> Exchanges)
        explode: false
        in: path
        name: exchange_id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier of requested timeseries period (e.g. `5SEC` or `1DAY`)
        explode: true
        in: query
        name: period_id
        required: true
        schema:
          type: string
        style: form
      - description: Timeseries starting time in ISO 8601
        explode: true
        in: query
        name: time_start
        required: true
        schema:
          type: string
        style: form
      - description: Timeseries ending time in ISO 8601
        explode: true
        in: query
        name: time_end
        required: true
        schema:
          type: string
        style: form
      - description: "Maximum number of symbol rows to return (1-10000, default 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/OHLCVTimeSeries.ExchangeTimeseriesItem"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/OHLCVTimeSeries.ExchangeTimeseriesItem"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/OHLCVTimeSeries.ExchangeTimeseriesItem"
                type: array
          description: successful operation
      summary: Historical data by exchange
      tags:
      - Ohlcv
  /v1/ohlcv/exchange-symbol/{exchange_id}/{symbol_id}/latest:
    get:
      description: "Get OHLCV latest timeseries data returned in time descending order.\
        \ Data can be requested by the period and for the specific symbol eg `BITSTAMP_SPOT_BTC_USD`,\
        \ if you need to query timeseries by asset pairs eg. `BTC/USD`, then please\
        \ reffer to the Exchange Rates Timeseries data\n            \n:::info\nOHLCV\
        \ Latest endpoint is just the shortcut to the OHLCV Historical endpoint with\
        \ substituted `time_start` and `time_end` parameters. \nThe OHLCV Historical\
        \ endpoint data can be delayed a few seconds. Use OHLCV real-time data stream\
        \ to get data without delay.\n:::"
      parameters:
      - description: Exchange identifier of requested timeseries (from the Metadata
          -> Exchanges)
        explode: false
        in: path
        name: exchange_id
        required: true
        schema:
          type: string
        style: simple
      - description: Symbol identifier of requested timeseries (from the Metadata
          -> Symbols)
        explode: false
        in: path
        name: symbol_id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier of requested timeseries period (e.g. `5SEC` or `2MTH`)
        explode: true
        in: query
        name: period_id
        required: true
        schema:
          type: string
        style: form
      - description: "Amount of items to return (mininum is 1, maximum is 100000,\
          \ default value is 100, if the parameter is used then every 100 output items\
          \ are counted as one request)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - time_period_start: 2017-08-09T14:31:00.0000000Z
                    time_period_end: 2017-08-09T14:32:00.0000000Z
                    time_open: 2017-08-09T14:31:01.0000000Z
                    time_close: 2017-08-09T14:31:46.0000000Z
                    price_open: 3255.59
                    price_high: 3255.59
                    price_low: 3244.74
                    price_close: 3244.74
                    volume_traded: 16.90327455
                    trades_count: 31
                  - time_period_start: 2017-08-09T14:30:00.0000000Z
                    time_period_end: 2017-08-09T14:31:00.0000000Z
                    time_open: 2017-08-09T14:30:05.0000000Z
                    time_close: 2017-08-09T14:30:35.0000000Z
                    price_open: 3256.0
                    price_high: 3256.01
                    price_low: 3247.0
                    price_close: 3255.6
                    volume_traded: 58.13139792
                    trades_count: 33
              schema:
                items:
                  $ref: "#/components/schemas/OHLCVTimeSeries.TimeseriesItem"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - time_period_start: 2017-08-09T14:31:00.0000000Z
                    time_period_end: 2017-08-09T14:32:00.0000000Z
                    time_open: 2017-08-09T14:31:01.0000000Z
                    time_close: 2017-08-09T14:31:46.0000000Z
                    price_open: 3255.59
                    price_high: 3255.59
                    price_low: 3244.74
                    price_close: 3244.74
                    volume_traded: 16.90327455
                    trades_count: 31
                  - time_period_start: 2017-08-09T14:30:00.0000000Z
                    time_period_end: 2017-08-09T14:31:00.0000000Z
                    time_open: 2017-08-09T14:30:05.0000000Z
                    time_close: 2017-08-09T14:30:35.0000000Z
                    price_open: 3256.0
                    price_high: 3256.01
                    price_low: 3247.0
                    price_close: 3255.6
                    volume_traded: 58.13139792
                    trades_count: 33
              schema:
                items:
                  $ref: "#/components/schemas/OHLCVTimeSeries.TimeseriesItem"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - time_period_start: 2017-08-09T14:31:00.0000000Z
                    time_period_end: 2017-08-09T14:32:00.0000000Z
                    time_open: 2017-08-09T14:31:01.0000000Z
                    time_close: 2017-08-09T14:31:46.0000000Z
                    price_open: 3255.59
                    price_high: 3255.59
                    price_low: 3244.74
                    price_close: 3244.74
                    volume_traded: 16.90327455
                    trades_count: 31
                  - time_period_start: 2017-08-09T14:30:00.0000000Z
                    time_period_end: 2017-08-09T14:31:00.0000000Z
                    time_open: 2017-08-09T14:30:05.0000000Z
                    time_close: 2017-08-09T14:30:35.0000000Z
                    price_open: 3256.0
                    price_high: 3256.01
                    price_low: 3247.0
                    price_close: 3255.6
                    volume_traded: 58.13139792
                    trades_count: 33
              schema:
                items:
                  $ref: "#/components/schemas/OHLCVTimeSeries.TimeseriesItem"
                type: array
          description: successful operation
      summary: Latest data
      tags:
      - Ohlcv
components:
  schemas:
    FinFeedAPI.ExchangeModel:
      additionalProperties: {}
      example:
        exchange_id: exchange_id
        last_datapoint_date: last_datapoint_date
        mic: mic
        operating_mic: operating_mic
        oprt_sgmt: oprt_sgmt
        market_name_institution_description: market_name_institution_description
        legal_entity_name: legal_entity_name
        lei: lei
        market_category_code: market_category_code
        acronym: acronym
        iso_country_code: iso_country_code
        city: city
        website: website
        status: status
        creation_date: 2000-01-23T04:56:07.000+00:00
        last_update_date: 2000-01-23T04:56:07.000+00:00
        last_validation_date: 2000-01-23T04:56:07.000+00:00
        expiry_date: 2000-01-23T04:56:07.000+00:00
        comments: comments
      properties:
        exchange_id:
          nullable: true
          type: string
        last_datapoint_date:
          nullable: true
          type: string
        mic:
          nullable: true
          type: string
        operating_mic:
          nullable: true
          type: string
        oprt_sgmt:
          nullable: true
          type: string
        market_name_institution_description:
          nullable: true
          type: string
        legal_entity_name:
          nullable: true
          type: string
        lei:
          nullable: true
          type: string
        market_category_code:
          nullable: true
          type: string
        acronym:
          nullable: true
          type: string
        iso_country_code:
          nullable: true
          type: string
        city:
          nullable: true
          type: string
        website:
          nullable: true
          type: string
        status:
          nullable: true
          type: string
        creation_date:
          format: date-time
          nullable: true
          type: string
        last_update_date:
          format: date-time
          nullable: true
          type: string
        last_validation_date:
          format: date-time
          nullable: true
          type: string
        expiry_date:
          format: date-time
          nullable: true
          type: string
        comments:
          nullable: true
          type: string
      type: object
    FinFeedAPI.SymbolModel:
      additionalProperties: {}
      example:
        symbol_id: symbol_id
        exchange_id: exchange_id
        security_category: security_category
        name: name
        date: date
        asset_class: asset_class
        cfi_code: cfi_code
        cfi_category: cfi_category
        cfi_group: cfi_group
        cfi_attribute1: cfi_attribute1
        cfi_attribute2: cfi_attribute2
        cfi_attribute3: cfi_attribute3
        cfi_attribute4: cfi_attribute4
        cfi_category_desc: cfi_category_desc
        cfi_group_desc: cfi_group_desc
        cfi_attribute1_desc: cfi_attribute1_desc
        cfi_attribute2_desc: cfi_attribute2_desc
        cfi_attribute3_desc: cfi_attribute3_desc
        cfi_attribute4_desc: cfi_attribute4_desc
      properties:
        symbol_id:
          nullable: true
          type: string
        exchange_id:
          nullable: true
          type: string
        security_category:
          nullable: true
          readOnly: true
          type: string
        name:
          nullable: true
          type: string
        date:
          nullable: true
          type: string
        asset_class:
          nullable: true
          type: string
        cfi_code:
          nullable: true
          type: string
        cfi_category:
          nullable: true
          readOnly: true
          type: string
        cfi_group:
          nullable: true
          readOnly: true
          type: string
        cfi_attribute1:
          nullable: true
          readOnly: true
          type: string
        cfi_attribute2:
          nullable: true
          readOnly: true
          type: string
        cfi_attribute3:
          nullable: true
          readOnly: true
          type: string
        cfi_attribute4:
          nullable: true
          readOnly: true
          type: string
        cfi_category_desc:
          nullable: true
          readOnly: true
          type: string
        cfi_group_desc:
          nullable: true
          readOnly: true
          type: string
        cfi_attribute1_desc:
          nullable: true
          readOnly: true
          type: string
        cfi_attribute2_desc:
          nullable: true
          readOnly: true
          type: string
        cfi_attribute3_desc:
          nullable: true
          readOnly: true
          type: string
        cfi_attribute4_desc:
          nullable: true
          readOnly: true
          type: string
      type: object
    IEXPriceLevelUpdate.PriceLevelUpdateModel:
      additionalProperties: false
      description: Represents the response DTO for price level update information
      example:
        symbol: symbol
        timestamp_nanos: 0
        timestamp: 2000-01-23T04:56:07.000+00:00
        is_side_buy: true
        is_event_processing_complete: true
        size: 6
        price: 1.4658129805029452
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the price level update was recorded as DateTime
          format: date-time
          type: string
        is_side_buy:
          description: Indicates if this is a price level update for the Buy Side.
          type: boolean
        is_event_processing_complete:
          description: Indicates if event processing is complete.
          type: boolean
        size:
          description: Aggregate quoted size at the price level
          format: int32
          type: integer
        price:
          description: Price level as decimal
          format: double
          type: number
      type: object
    IEXQuoteUpdate.QuoteUpdateModel:
      additionalProperties: false
      description: Represents the response DTO for quote update information
      example:
        symbol: symbol
        timestamp_nanos: 0
        timestamp: 2000-01-23T04:56:07.000+00:00
        is_symbol_available: true
        is_pre_post_market_session: true
        ask_size: 6
        ask_price: 1.4658129805029452
        bid_price: 5.962133916683182
        bid_size: 5
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the quote update was recorded as DateTime
          format: date-time
          type: string
        is_symbol_available:
          description: |-
            Gets whether the symbol is available for trading
            True if active, False if halted, paused, or otherwise not available
          type: boolean
        is_pre_post_market_session:
          description: |-
            Gets whether the market session is regular or pre/post-market
            True if pre/post-market session, False if regular market session
          type: boolean
        ask_size:
          description: Ask size in number of shares
          format: int32
          type: integer
        ask_price:
          description: Ask price as decimal
          format: double
          type: number
        bid_price:
          description: Bid price as decimal
          format: double
          type: number
        bid_size:
          description: Bid size in number of shares
          format: int32
          type: integer
      type: object
    IEXSystemEvent.SystemEventModel:
      additionalProperties: false
      description: Represents the response DTO for system event information
      example:
        timestamp_nanos: 0
        timestamp: 2000-01-23T04:56:07.000+00:00
        system_event: 6
        system_event_code: system_event_code
        system_event_text: system_event_text
        is_system_event_start_of_messages: true
        is_system_event_start_of_system_hours: true
        is_system_event_start_of_regular_market_hours: true
        is_system_event_end_of_regular_market_hours: true
        is_system_event_end_of_system_hours: true
        is_system_event_end_of_messages: true
      properties:
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the system event was recorded as DateTime
          format: date-time
          type: string
        system_event:
          description: System event as byte value
          format: int32
          type: integer
        system_event_code:
          description: System event as string
          nullable: true
          type: string
        system_event_text:
          description: Human-readable description of the system event
          nullable: true
          type: string
        is_system_event_start_of_messages:
          description: "Indicates if the system event is 'Start of Messages' (O).\n\
            Outside of heartbeat messages on the lower level protocol, \nthe start\
            \ of day message is the first message sent in any trading session."
          type: boolean
        is_system_event_start_of_system_hours:
          description: |-
            Indicates if the system event is 'Start of System Hours' (S).
            This message indicates that IEX is open and ready to start accepting orders.
          type: boolean
        is_system_event_start_of_regular_market_hours:
          description: "Indicates if the system event is 'Start of Regular Market\
            \ Hours' (R).\nThis message indicates that DAY and GTX orders, as well\
            \ as market orders and pegged orders, \nare available for execution on\
            \ IEX."
          type: boolean
        is_system_event_end_of_regular_market_hours:
          description: "Indicates if the system event is 'End of Regular Market Hours'\
            \ (M).\nThis message indicates that DAY orders, market orders, and pegged\
            \ orders \nare no longer accepted by IEX."
          type: boolean
        is_system_event_end_of_system_hours:
          description: "Indicates if the system event is 'End of System Hours' (E).\n\
            This message indicates that IEX is now closed and will not accept \nany\
            \ new orders during this trading session. It is still possible \nto receive\
            \ messages after the end of day."
          type: boolean
        is_system_event_end_of_messages:
          description: |-
            Indicates if the system event is 'End of Messages' (C).
            This is always the last message sent in any trading session.
          type: boolean
      type: object
    IEXTrade.TradeModel:
      additionalProperties: false
      description: Represents the response DTO for a single trade event (report or
        break).
      example:
        is_trade_break: true
        symbol: symbol
        timestamp_nanos: 0
        timestamp: 2000-01-23T04:56:07.000+00:00
        size: 6
        price: 1.4658129805029452
        trade_id: 5
        is_intermarket_sweep: true
        is_extended_hours_trade: true
        is_odd_lot_trade: true
        is_trade_through_exempt: true
        is_single_price_cross_trade: true
      properties:
        is_trade_break:
          description: Indicates if this record represents a trade break (true) or
            a trade report (false).
          type: boolean
        symbol:
          description: The stock symbol.
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch.
          format: int64
          type: integer
        timestamp:
          description: Time when the event was recorded as DateTime (UTC).
          format: date-time
          type: string
        size:
          description: Trade volume (or break volume) in number of shares.
          format: int32
          type: integer
        price:
          description: Trade price (or break price) as decimal.
          format: double
          type: number
        trade_id:
          description: IEX trade identifier (same for report and its corresponding
            break).
          format: int64
          type: integer
        is_intermarket_sweep:
          description: |-
            Bit 7 (Mask 0x80): Intermarket Sweep Flag.
            True: Intermarket Sweep Order ("ISO").
            False: Non-Intermarket Sweep Order.
          type: boolean
        is_extended_hours_trade:
          description: |-
            Bit 6 (Mask 0x40): Extended Hours Flag.
            True: Extended Hours Trade (i.e., Form T sale condition).
            False: Regular Market Session Trade.
          type: boolean
        is_odd_lot_trade:
          description: |-
            Bit 5 (Mask 0x20): Odd Lot Flag.
            True: Odd Lot Trade.
            False: Round or Mixed Lot Trade.
          type: boolean
        is_trade_through_exempt:
          description: |-
            Bit 4 (Mask 0x10): Trade Through Exempt Flag.
            True: Trade is not subject to Rule 611 (Trade Through) of SEC Reg. NMS.
            False: Trade is subject to Rule 611 (Trade Through) of SEC Reg. NMS.
            Applied when the taking order was an ISO that traded through a protected quotation,
            OR the NBBO was crossed at the time of the trade,
            OR the trade occurred through a self-helped venue's quotation,
            OR the trade was a single-price cross.
          type: boolean
        is_single_price_cross_trade:
          description: |-
            Bit 3 (Mask 0x08): Single-price Cross Trade Flag.
            True: Trade resulting from a single-price cross.
            False: Execution during continuous trading.
          type: boolean
      type: object
    Models.AddOrderModel:
      additionalProperties: false
      description: Represents the response DTO for add order information
      example:
        symbol: symbol
        timestamp_nanos: 0
        timestamp: 2000-01-23T04:56:07.000+00:00
        is_side_buy: true
        size: 6
        price: 1.4658129805029452
        order_id: 5
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the order was added as DateTime (UTC)
          format: date-time
          type: string
        is_side_buy:
          description: Indicates if this is a Buy order ('8'/0x38).
          type: boolean
        size:
          description: Quoted size in number of shares
          format: int32
          type: integer
        price:
          description: Price as decimal
          format: double
          type: number
        order_id:
          description: Order identifier
          format: int64
          type: integer
      type: object
    Models.AdminMessageModel:
      additionalProperties: false
      description: "Represents the response DTO for IEX admin information, combining\
        \ all symbol-based admin message types"
      example:
        trading_status:
          symbol: symbol
          timestamp_nanos: 0
          timestamp: 2000-01-23T04:56:07.000+00:00
          is_trading_live: true
          is_trading_halted: true
          is_trading_in_order_acceptance_period: true
          is_trading_paused: true
          is_reason_halt_news_pending: true
          is_reason_ipo_not_yet_trading: true
          is_reason_ipo_deferred: true
          is_reason_halt_news_dissemination: true
          is_reason_ipo_order_acceptance_period: true
          is_reason_ipo_pre_launch_period: true
          is_reason_market_wide_circuit_breaker_level1: true
          is_reason_market_wide_circuit_breaker_level2: true
          is_reason_market_wide_circuit_breaker_level3: true
          is_reason_not_applicable: true
          is_reason_not_available: true
        official_price:
          symbol: symbol
          timestamp_nanos: 6
          timestamp: 2000-01-23T04:56:07.000+00:00
          price_type: 1
          price_type_code: price_type_code
          price_type_text: price_type_text
          is_price_type_opening: true
          is_price_type_closing: true
          official_price: 5.962133916683182
        security_event:
          symbol: symbol
          timestamp_nanos: 5
          timestamp: 2000-01-23T04:56:07.000+00:00
          security_event: 2
          security_event_code: security_event_code
          security_event_text: security_event_text
          is_opening_process_complete: true
          is_closing_process_complete: true
        auction_information:
          symbol: symbol
          timestamp_nanos: 7
          timestamp: 2000-01-23T04:56:07.000+00:00
          auction_type: 9
          auction_type_code: auction_type_code
          auction_type_text: auction_type_text
          is_auction_type_opening: true
          is_auction_type_closing: true
          is_auction_type_ipo: true
          is_auction_type_halt: true
          is_auction_type_volatility: true
          paired_shares: 3
          reference_price: 2.027123023002322
          indicative_clearing_price: 4.145608029883936
          imbalance_shares: 7
          imbalance_side: 1
          imbalance_side_code: imbalance_side_code
          imbalance_side_text: imbalance_side_text
          is_imbalance_side_buy: true
          is_imbalance_side_sell: true
          is_imbalance_side_none: true
          extension_number: 1
          scheduled_auction_time_seconds: 1
          scheduled_auction_time: 2000-01-23T04:56:07.000+00:00
          auction_book_clearing_price: 6.84685269835264
          collar_reference_price: 7.457744773683766
          lower_auction_collar: 1.1730742509559433
          upper_auction_collar: 4.965218492984954
        short_sale_price_test:
          symbol: symbol
          timestamp_nanos: 5
          timestamp: 2000-01-23T04:56:07.000+00:00
          short_sale_price_test_status: 9
          short_sale_price_test_status_code: short_sale_price_test_status_code
          short_sale_price_test_status_text: short_sale_price_test_status_text
          is_short_sale_price_test_not_in_effect: true
          is_short_sale_price_test_in_effect: true
          detail: 9
          detail_code: detail_code
          detail_text: detail_text
          is_detail_no_price_test: true
          is_detail_activated: true
          is_detail_continued: true
          is_detail_deactivated: true
          is_detail_not_available: true
        operational_halt_status:
          symbol: symbol
          timestamp_nanos: 6
          timestamp: 2000-01-23T04:56:07.000+00:00
          operational_halt_status: 8
          operational_halt_status_code: operational_halt_status_code
          operational_halt_status_text: operational_halt_status_text
          is_operationally_halted: true
          is_not_operationally_halted: true
        retail_liquidity_indicator:
          symbol: symbol
          timestamp_nanos: 9
          timestamp: 2000-01-23T04:56:07.000+00:00
          retail_liquidity_indicator: 6
          retail_liquidity_indicator_code: retail_liquidity_indicator_code
          retail_liquidity_indicator_text: retail_liquidity_indicator_text
          is_retail_indicator_not_applicable: true
          is_retail_indicator_buy_interest: true
          is_retail_indicator_sell_interest: true
          is_retail_indicator_buy_and_sell_interest: true
        system_event:
          timestamp_nanos: 0
          timestamp: 2000-01-23T04:56:07.000+00:00
          system_event: 6
          system_event_code: system_event_code
          system_event_text: system_event_text
          is_system_event_start_of_messages: true
          is_system_event_start_of_system_hours: true
          is_system_event_start_of_regular_market_hours: true
          is_system_event_end_of_regular_market_hours: true
          is_system_event_end_of_system_hours: true
          is_system_event_end_of_messages: true
        security_directory:
          symbol: symbol
          timestamp_nanos: 3
          timestamp: 2000-01-23T04:56:07.000+00:00
          flags: 6
          round_lot_size: 1
          adjusted_poc_price: 2.8841621266687802
          luld_tier: 6
          luld_tier_code: luld_tier_code
          luld_tier_text: luld_tier_text
          is_luld_tier_not_applicable: true
          is_luld_tier1: true
          is_luld_tier2: true
      properties:
        trading_status:
          $ref: "#/components/schemas/Models.TradingStatusModel"
        official_price:
          $ref: "#/components/schemas/Models.OfficialPriceModel"
        security_event:
          $ref: "#/components/schemas/Models.SecurityEventModel"
        auction_information:
          $ref: "#/components/schemas/Models.AuctionInformationModel"
        short_sale_price_test:
          $ref: "#/components/schemas/Models.ShortSalePriceTestStatusModel"
        operational_halt_status:
          $ref: "#/components/schemas/Models.OperationalHaltStatusModel"
        retail_liquidity_indicator:
          $ref: "#/components/schemas/Models.RetailLiquidityIndicatorModel"
        system_event:
          $ref: "#/components/schemas/IEXSystemEvent.SystemEventModel"
        security_directory:
          $ref: "#/components/schemas/Models.SecurityDirectoryModel"
      type: object
    Models.AuctionInformationModel:
      additionalProperties: false
      description: Represents the response DTO for auction information
      example:
        symbol: symbol
        timestamp_nanos: 7
        timestamp: 2000-01-23T04:56:07.000+00:00
        auction_type: 9
        auction_type_code: auction_type_code
        auction_type_text: auction_type_text
        is_auction_type_opening: true
        is_auction_type_closing: true
        is_auction_type_ipo: true
        is_auction_type_halt: true
        is_auction_type_volatility: true
        paired_shares: 3
        reference_price: 2.027123023002322
        indicative_clearing_price: 4.145608029883936
        imbalance_shares: 7
        imbalance_side: 1
        imbalance_side_code: imbalance_side_code
        imbalance_side_text: imbalance_side_text
        is_imbalance_side_buy: true
        is_imbalance_side_sell: true
        is_imbalance_side_none: true
        extension_number: 1
        scheduled_auction_time_seconds: 1
        scheduled_auction_time: 2000-01-23T04:56:07.000+00:00
        auction_book_clearing_price: 6.84685269835264
        collar_reference_price: 7.457744773683766
        lower_auction_collar: 1.1730742509559433
        upper_auction_collar: 4.965218492984954
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the auction data was recorded as DateTime
          format: date-time
          type: string
        auction_type:
          description: Type of auction as byte value
          format: int32
          type: integer
        auction_type_code:
          description: Type of auction as character string
          nullable: true
          type: string
        auction_type_text:
          description: Human-readable description of the auction type
          nullable: true
          type: string
        is_auction_type_opening:
          description: Indicates if the auction type is 'Opening Auction' ('O'/0x4f).
          type: boolean
        is_auction_type_closing:
          description: Indicates if the auction type is 'Closing Auction' ('C'/0x43).
          type: boolean
        is_auction_type_ipo:
          description: Indicates if the auction type is 'IPO Auction' ('I'/0x49).
          type: boolean
        is_auction_type_halt:
          description: Indicates if the auction type is 'Halt Auction' ('H'/0x48).
          type: boolean
        is_auction_type_volatility:
          description: Indicates if the auction type is 'Volatility Auction' ('V'/0x56).
          type: boolean
        paired_shares:
          description: Number of shares paired at the Reference Price
          format: int32
          type: integer
        reference_price:
          description: Reference price as decimal
          format: double
          type: number
        indicative_clearing_price:
          description: Indicative clearing price as decimal
          format: double
          type: number
        imbalance_shares:
          description: Number of unpaired shares at the Reference Price
          format: int32
          type: integer
        imbalance_side:
          description: Side of the imbalance as byte value
          format: int32
          type: integer
        imbalance_side_code:
          description: Side of the imbalance as character string
          nullable: true
          type: string
        imbalance_side_text:
          description: Human-readable description of the imbalance side
          nullable: true
          type: string
        is_imbalance_side_buy:
          description: Indicates if there is a buy-side imbalance ('B'/0x42).
          type: boolean
        is_imbalance_side_sell:
          description: Indicates if there is a sell-side imbalance ('S'/0x53).
          type: boolean
        is_imbalance_side_none:
          description: Indicates if there is no imbalance ('N'/0x4e).
          type: boolean
        extension_number:
          description: Number of extensions to the auction
          format: int32
          type: integer
        scheduled_auction_time_seconds:
          description: Scheduled auction time in seconds since epoch
          format: int32
          type: integer
        scheduled_auction_time:
          description: Scheduled time for the auction as DateTime
          format: date-time
          type: string
        auction_book_clearing_price:
          description: Auction book clearing price as decimal
          format: double
          type: number
        collar_reference_price:
          description: Collar reference price as decimal
          format: double
          type: number
        lower_auction_collar:
          description: Lower auction collar as decimal
          format: double
          type: number
        upper_auction_collar:
          description: Upper auction collar as decimal
          format: double
          type: number
      type: object
    Models.ClearBookModel:
      additionalProperties: false
      description: Represents the response DTO for clear book information
      example:
        symbol: symbol
        timestamp_nanos: 7
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the book was cleared as DateTime
          format: date-time
          type: string
      type: object
    Models.DeleteOrderModel:
      additionalProperties: false
      description: Represents the response DTO for order delete information
      example:
        symbol: symbol
        timestamp_nanos: 5
        timestamp: 2000-01-23T04:56:07.000+00:00
        order_id_reference: 2
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the order was deleted as DateTime
          format: date-time
          type: string
        order_id_reference:
          description: Order identifier reference
          format: int64
          type: integer
      type: object
    Models.ExecutedOrderModel:
      additionalProperties: false
      description: Represents the response DTO for order executed information
      example:
        symbol: symbol
        timestamp_nanos: 4
        timestamp: 2000-01-23T04:56:07.000+00:00
        order_id_reference: 7
        sale_condition_flags: 1
        is_intermarket_sweep: true
        is_extended_hours_trade: true
        is_odd_lot_trade: true
        is_trade_through_exempt: true
        is_single_price_cross_trade: true
        size: 1
        price: 1.4894159098541704
        trade_id: 6
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the order was executed as DateTime
          format: date-time
          type: string
        order_id_reference:
          description: Order identifier reference
          format: int64
          type: integer
        sale_condition_flags:
          description: Sale condition flags for the execution as byte value
          format: int32
          type: integer
        is_intermarket_sweep:
          description: |-
            Bit 7 (Mask 0x80): Intermarket Sweep Flag
            True: Intermarket Sweep Order ("ISO")
            False: Non-Intermarket Sweep Order
          type: boolean
        is_extended_hours_trade:
          description: |-
            Bit 6 (Mask 0x40): Extended Hours Flag
            True: Extended Hours Trade (i.e., Form T sale condition)
            False: Regular Market Session Trade
          type: boolean
        is_odd_lot_trade:
          description: |-
            Bit 5 (Mask 0x20): Odd Lot Flag
            True: Odd Lot Trade
            False: Round or Mixed Lot Trade
          type: boolean
        is_trade_through_exempt:
          description: |-
            Bit 4 (Mask 0x10): Trade Through Exempt Flag
            True: Trade is not subject to Rule 611 (Trade Through) of SEC Reg. NMS
            False: Trade is subject to Rule 611 (Trade Through) of SEC Reg. NMS
          type: boolean
        is_single_price_cross_trade:
          description: |-
            Bit 3 (Mask 0x08): Single-price Cross Trade Flag
            True: Trade resulting from a single-price cross
            False: Execution during continuous trading
          type: boolean
        size:
          description: Trade volume in number of shares
          format: int32
          type: integer
        price:
          description: Execution price as decimal
          format: double
          type: number
        trade_id:
          description: IEX trade identifier
          format: int64
          type: integer
      type: object
    Models.ModifyOrderModel:
      additionalProperties: false
      description: Represents the response DTO for order modify information
      example:
        symbol: symbol
        timestamp_nanos: 7
        timestamp: 2000-01-23T04:56:07.000+00:00
        order_id_reference: 9
        is_priority_reset: true
        size: 3
        price: 2.027123023002322
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the order was modified as DateTime (UTC)
          format: date-time
          type: string
        order_id_reference:
          description: Order identifier reference
          format: int64
          type: integer
        is_priority_reset:
          description: Indicates if priority is reseted
          type: boolean
        size:
          description: New total quoted size in number of shares
          format: int32
          type: integer
        price:
          description: Price as decimal
          format: double
          type: number
      type: object
    Models.OfficialPriceModel:
      additionalProperties: false
      description: Represents the response DTO for official price information
      example:
        symbol: symbol
        timestamp_nanos: 6
        timestamp: 2000-01-23T04:56:07.000+00:00
        price_type: 1
        price_type_code: price_type_code
        price_type_text: price_type_text
        is_price_type_opening: true
        is_price_type_closing: true
        official_price: 5.962133916683182
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the official price was recorded as DateTime
          format: date-time
          type: string
        price_type:
          description: Type of price as byte value
          format: int32
          type: integer
        price_type_code:
          description: Type of price as character string
          nullable: true
          type: string
        price_type_text:
          description: Human-readable description of the price type
          nullable: true
          type: string
        is_price_type_opening:
          description: Indicates if the price type is 'IEX Official Opening Price'
            ('Q'/0x51).
          type: boolean
        is_price_type_closing:
          description: Indicates if the price type is 'IEX Official Closing Price'
            ('M'/0x4d).
          type: boolean
        official_price:
          description: Official price as decimal
          format: double
          type: number
      type: object
    Models.OperationalHaltStatusModel:
      additionalProperties: false
      description: Represents the response DTO for operational halt status information
      example:
        symbol: symbol
        timestamp_nanos: 6
        timestamp: 2000-01-23T04:56:07.000+00:00
        operational_halt_status: 8
        operational_halt_status_code: operational_halt_status_code
        operational_halt_status_text: operational_halt_status_text
        is_operationally_halted: true
        is_not_operationally_halted: true
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the operational halt status was recorded as DateTime
          format: date-time
          type: string
        operational_halt_status:
          description: Operational halt status as byte value
          format: int32
          type: integer
        operational_halt_status_code:
          description: Operational halt status as character string
          nullable: true
          type: string
        operational_halt_status_text:
          description: Human-readable description of the operational halt status
          nullable: true
          type: string
        is_operationally_halted:
          description: Indicates if the status is 'IEX specific operational trading
            halt' ('O'/0x4f).
          type: boolean
        is_not_operationally_halted:
          description: Indicates if the status is 'Not operationally halted on IEX'
            ('N'/0x4e).
          type: boolean
      type: object
    Models.OrderBookModel:
      additionalProperties: false
      description: Represents the response DTO for Level-3 order book information
      example:
        add_order:
          symbol: symbol
          timestamp_nanos: 0
          timestamp: 2000-01-23T04:56:07.000+00:00
          is_side_buy: true
          size: 6
          price: 1.4658129805029452
          order_id: 5
        delete_order:
          symbol: symbol
          timestamp_nanos: 5
          timestamp: 2000-01-23T04:56:07.000+00:00
          order_id_reference: 2
        modify_order:
          symbol: symbol
          timestamp_nanos: 7
          timestamp: 2000-01-23T04:56:07.000+00:00
          order_id_reference: 9
          is_priority_reset: true
          size: 3
          price: 2.027123023002322
        executed_order:
          symbol: symbol
          timestamp_nanos: 4
          timestamp: 2000-01-23T04:56:07.000+00:00
          order_id_reference: 7
          sale_condition_flags: 1
          is_intermarket_sweep: true
          is_extended_hours_trade: true
          is_odd_lot_trade: true
          is_trade_through_exempt: true
          is_single_price_cross_trade: true
          size: 1
          price: 1.4894159098541704
          trade_id: 6
        clear_book:
          symbol: symbol
          timestamp_nanos: 7
          timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        add_order:
          $ref: "#/components/schemas/Models.AddOrderModel"
        delete_order:
          $ref: "#/components/schemas/Models.DeleteOrderModel"
        modify_order:
          $ref: "#/components/schemas/Models.ModifyOrderModel"
        executed_order:
          $ref: "#/components/schemas/Models.ExecutedOrderModel"
        clear_book:
          $ref: "#/components/schemas/Models.ClearBookModel"
      type: object
    Models.RetailLiquidityIndicatorModel:
      additionalProperties: false
      description: Represents the response DTO for retail liquidity indicator information
      example:
        symbol: symbol
        timestamp_nanos: 9
        timestamp: 2000-01-23T04:56:07.000+00:00
        retail_liquidity_indicator: 6
        retail_liquidity_indicator_code: retail_liquidity_indicator_code
        retail_liquidity_indicator_text: retail_liquidity_indicator_text
        is_retail_indicator_not_applicable: true
        is_retail_indicator_buy_interest: true
        is_retail_indicator_sell_interest: true
        is_retail_indicator_buy_and_sell_interest: true
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the retail liquidity indicator was recorded as DateTime
          format: date-time
          type: string
        retail_liquidity_indicator:
          description: Retail liquidity indicator as byte value
          format: int32
          type: integer
        retail_liquidity_indicator_code:
          description: Retail liquidity indicator as character string
          nullable: true
          type: string
        retail_liquidity_indicator_text:
          description: Human-readable description of the retail liquidity indicator
          nullable: true
          type: string
        is_retail_indicator_not_applicable:
          description: Indicates if the indicator is 'Not Applicable' (' '/0x20).
          type: boolean
        is_retail_indicator_buy_interest:
          description: Indicates if there is 'Buy interest for Retail' ('A'/0x41).
          type: boolean
        is_retail_indicator_sell_interest:
          description: Indicates if there is 'Sell interest for Retail' ('B'/0x42).
          type: boolean
        is_retail_indicator_buy_and_sell_interest:
          description: Indicates if there is 'Buy and sell interest for Retail' ('C'/0x43).
          type: boolean
      type: object
    Models.SecurityDirectoryModel:
      additionalProperties: false
      description: Represents the response DTO for security directory information
      example:
        symbol: symbol
        timestamp_nanos: 3
        timestamp: 2000-01-23T04:56:07.000+00:00
        flags: 6
        round_lot_size: 1
        adjusted_poc_price: 2.8841621266687802
        luld_tier: 6
        luld_tier_code: luld_tier_code
        luld_tier_text: luld_tier_text
        is_luld_tier_not_applicable: true
        is_luld_tier1: true
        is_luld_tier2: true
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the security directory information was recorded as
            DateTime
          format: date-time
          type: string
        flags:
          description: Flags for the security
          format: int32
          type: integer
        round_lot_size:
          description: Number of shares that represent a round lot
          format: int32
          type: integer
        adjusted_poc_price:
          description: Adjusted previous official closing price as decimal
          format: double
          type: number
        luld_tier:
          description: LULD tier as byte value
          format: int32
          type: integer
        luld_tier_code:
          description: LULD tier as numeric string
          nullable: true
          type: string
        luld_tier_text:
          description: Human-readable description of the LULD tier
          nullable: true
          type: string
        is_luld_tier_not_applicable:
          description: Indicates if LULD Tier is 'Not applicable' (0x0).
          type: boolean
        is_luld_tier1:
          description: Indicates if LULD Tier is 'Tier 1 NMS Stock' (0x1).
          type: boolean
        is_luld_tier2:
          description: Indicates if LULD Tier is 'Tier 2 NMS Stock' (0x2).
          type: boolean
      type: object
    Models.SecurityEventModel:
      additionalProperties: false
      description: Represents the response DTO for security event information
      example:
        symbol: symbol
        timestamp_nanos: 5
        timestamp: 2000-01-23T04:56:07.000+00:00
        security_event: 2
        security_event_code: security_event_code
        security_event_text: security_event_text
        is_opening_process_complete: true
        is_closing_process_complete: true
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the security event was recorded as DateTime
          format: date-time
          type: string
        security_event:
          description: Security event as byte value
          format: int32
          type: integer
        security_event_code:
          description: Security event as character string ('O' or 'C')
          nullable: true
          type: string
        security_event_text:
          description: Human-readable description of the security event
          nullable: true
          type: string
        is_opening_process_complete:
          description: Indicates if the security event is 'Opening Process Complete'
            ('O'/0x4f).
          type: boolean
        is_closing_process_complete:
          description: Indicates if the security event is 'Closing Process Complete'
            ('C'/0x43).
          type: boolean
      type: object
    Models.ShortSalePriceTestStatusModel:
      additionalProperties: false
      description: Represents the response DTO for short sale price test status information
      example:
        symbol: symbol
        timestamp_nanos: 5
        timestamp: 2000-01-23T04:56:07.000+00:00
        short_sale_price_test_status: 9
        short_sale_price_test_status_code: short_sale_price_test_status_code
        short_sale_price_test_status_text: short_sale_price_test_status_text
        is_short_sale_price_test_not_in_effect: true
        is_short_sale_price_test_in_effect: true
        detail: 9
        detail_code: detail_code
        detail_text: detail_text
        is_detail_no_price_test: true
        is_detail_activated: true
        is_detail_continued: true
        is_detail_deactivated: true
        is_detail_not_available: true
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the short sale price test status was recorded as
            DateTime
          format: date-time
          type: string
        short_sale_price_test_status:
          description: Short sale price test status as byte value
          format: int32
          type: integer
        short_sale_price_test_status_code:
          description: Short sale price test status as hex string
          nullable: true
          type: string
        short_sale_price_test_status_text:
          description: Human-readable description of the short sale price test status
          nullable: true
          type: string
        is_short_sale_price_test_not_in_effect:
          description: Indicates if the short sale price test is not in effect
          type: boolean
        is_short_sale_price_test_in_effect:
          description: Indicates if the short sale price test is in effect
          type: boolean
        detail:
          description: Detail of the short sale price test as byte value
          format: int32
          type: integer
        detail_code:
          description: Detail of the short sale price test as character string
          nullable: true
          type: string
        detail_text:
          description: Human-readable description of the short sale price test detail
          nullable: true
          type: string
        is_detail_no_price_test:
          description: Indicates if there is no price test in place
          type: boolean
        is_detail_activated:
          description: Indicates if the short sale price test restriction is in effect
            due to an intraday price drop
          type: boolean
        is_detail_continued:
          description: Indicates if the short sale price test restriction remains
            in effect from prior day
          type: boolean
        is_detail_deactivated:
          description: Indicates if the short sale price test restriction is deactivated
          type: boolean
        is_detail_not_available:
          description: Indicates if the detail is not available
          type: boolean
      type: object
    Models.TradingStatusModel:
      additionalProperties: false
      description: Represents the response DTO for trading status information
      example:
        symbol: symbol
        timestamp_nanos: 0
        timestamp: 2000-01-23T04:56:07.000+00:00
        is_trading_live: true
        is_trading_halted: true
        is_trading_in_order_acceptance_period: true
        is_trading_paused: true
        is_reason_halt_news_pending: true
        is_reason_ipo_not_yet_trading: true
        is_reason_ipo_deferred: true
        is_reason_halt_news_dissemination: true
        is_reason_ipo_order_acceptance_period: true
        is_reason_ipo_pre_launch_period: true
        is_reason_market_wide_circuit_breaker_level1: true
        is_reason_market_wide_circuit_breaker_level2: true
        is_reason_market_wide_circuit_breaker_level3: true
        is_reason_not_applicable: true
        is_reason_not_available: true
      properties:
        symbol:
          description: The stock symbol
          nullable: true
          type: string
        timestamp_nanos:
          description: Original timestamp in nanoseconds since epoch
          format: int64
          type: integer
        timestamp:
          description: Time when the trading status was recorded as DateTime
          format: date-time
          type: string
        is_trading_live:
          description: Gets whether the security is currently trading on IEX
          type: boolean
        is_trading_halted:
          description: Gets whether the security is halted across all US equity markets
          type: boolean
        is_trading_in_order_acceptance_period:
          description: Gets whether the security is in Order Acceptance Period on
            IEX
          type: boolean
        is_trading_paused:
          description: Gets whether the security is paused and in Order Acceptance
            Period on IEX
          type: boolean
        is_reason_halt_news_pending:
          description: Gets whether the halt reason is News Pending
          type: boolean
        is_reason_ipo_not_yet_trading:
          description: Gets whether the halt reason is IPO Not Yet Trading
          type: boolean
        is_reason_ipo_deferred:
          description: Gets whether the halt reason is IPO Deferred
          type: boolean
        is_reason_halt_news_dissemination:
          description: Gets whether the order acceptance period reason is Halt News
            Dissemination
          type: boolean
        is_reason_ipo_order_acceptance_period:
          description: Gets whether the order acceptance period reason is IPO Order
            Acceptance Period
          type: boolean
        is_reason_ipo_pre_launch_period:
          description: Gets whether the order acceptance period reason is IPO Pre-Launch
            Period
          type: boolean
        is_reason_market_wide_circuit_breaker_level1:
          description: Gets whether the order acceptance period reason is Market-Wide
            Circuit Breaker Level 1 – Breached
          type: boolean
        is_reason_market_wide_circuit_breaker_level2:
          description: Gets whether the order acceptance period reason is Market-Wide
            Circuit Breaker Level 2 – Breached
          type: boolean
        is_reason_market_wide_circuit_breaker_level3:
          description: Gets whether the halt reason is Market-Wide Circuit Breaker
            Level 3 – Breached
          type: boolean
        is_reason_not_applicable:
          description: Gets whether the reason is Not Applicable
          type: boolean
        is_reason_not_available:
          description: Gets whether the halt reason is Not Available
          type: boolean
      type: object
    OHLCVTimeSeries.ExchangeTimeseriesItem:
      additionalProperties: false
      description: Represents a timeseries item with price and volume information.
      example:
        time_period_start: 2000-01-23T04:56:07.000+00:00
        time_period_end: 2000-01-23T04:56:07.000+00:00
        time_open: 2000-01-23T04:56:07.000+00:00
        time_close: 2000-01-23T04:56:07.000+00:00
        price_open: 0.8008281904610115
        price_high: 6.027456183070403
        price_low: 1.4658129805029452
        price_close: 5.962133916683182
        volume_traded: 5.637376656633329
        trades_count: 2
        symbol_id_exchange: symbol_id_exchange
      properties:
        time_period_start:
          description: Gets or sets the start time of the time period.
          format: date-time
          type: string
        time_period_end:
          description: Gets or sets the end time of the time period.
          format: date-time
          type: string
        time_open:
          description: Gets or sets the time when the price opened.
          format: date-time
          nullable: true
          type: string
        time_close:
          description: Gets or sets the time when the price closed.
          format: date-time
          nullable: true
          type: string
        price_open:
          description: Gets or sets the opening price.
          format: double
          nullable: true
          type: number
        price_high:
          description: Gets or sets the highest price during the time period.
          format: double
          nullable: true
          type: number
        price_low:
          description: Gets or sets the lowest price during the time period.
          format: double
          nullable: true
          type: number
        price_close:
          description: Gets or sets the closing price.
          format: double
          nullable: true
          type: number
        volume_traded:
          description: Gets or sets the total volume traded during the time period.
          format: double
          type: number
        trades_count:
          description: Gets or sets the number of trades executed during the time
            period.
          format: int64
          type: integer
        symbol_id_exchange:
          nullable: true
          type: string
      type: object
    OHLCVTimeSeries.TimeseriesItem:
      additionalProperties: false
      description: Represents a timeseries item with price and volume information.
      example:
        time_period_start: 2000-01-23T04:56:07.000+00:00
        time_period_end: 2000-01-23T04:56:07.000+00:00
        time_open: 2000-01-23T04:56:07.000+00:00
        time_close: 2000-01-23T04:56:07.000+00:00
        price_open: 0.8008281904610115
        price_high: 6.027456183070403
        price_low: 1.4658129805029452
        price_close: 5.962133916683182
        volume_traded: 5.637376656633329
        trades_count: 2
      properties:
        time_period_start:
          description: Gets or sets the start time of the time period.
          format: date-time
          type: string
        time_period_end:
          description: Gets or sets the end time of the time period.
          format: date-time
          type: string
        time_open:
          description: Gets or sets the time when the price opened.
          format: date-time
          nullable: true
          type: string
        time_close:
          description: Gets or sets the time when the price closed.
          format: date-time
          nullable: true
          type: string
        price_open:
          description: Gets or sets the opening price.
          format: double
          nullable: true
          type: number
        price_high:
          description: Gets or sets the highest price during the time period.
          format: double
          nullable: true
          type: number
        price_low:
          description: Gets or sets the lowest price during the time period.
          format: double
          nullable: true
          type: number
        price_close:
          description: Gets or sets the closing price.
          format: double
          nullable: true
          type: number
        volume_traded:
          description: Gets or sets the total volume traded during the time period.
          format: double
          type: number
        trades_count:
          description: Gets or sets the number of trades executed during the time
            period.
          format: int64
          type: integer
      type: object
    OHLCVTimeSeries.TimeseriesPeriod:
      additionalProperties: false
      description: Represents a timeseries period used in exchange rate data.
      example:
        period_id: period_id
        length_seconds: 0
        length_months: 6
        unit_count: 1
        unit_name: unit_name
        display_name: display_name
      properties:
        period_id:
          description: Gets or sets the period ID.
          nullable: true
          type: string
        length_seconds:
          description: Gets or sets the length of the period in seconds.
          format: int32
          type: integer
        length_months:
          description: Gets or sets the length of the period in months.
          format: int32
          type: integer
        unit_count:
          description: Gets or sets the unit count.
          format: int32
          nullable: true
          type: integer
        unit_name:
          description: Gets or sets the unit name.
          nullable: true
          type: string
        display_name:
          description: Gets or sets the display name of the timeseries period.
          nullable: true
          type: string
      type: object
  securitySchemes:
    APIKey:
      description: API Key is required to access the endpoints
      in: header
      name: Authorization
      type: apiKey
    JWT:
      bearerFormat: JWT
      description: "JWT Authorization header using the Bearer scheme. Example: \"\
        Bearer {token}\""
      scheme: bearer
      type: http
