/**
 * FinFeedAPI Stock REST API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: v1
 * Contact: support@apibricks.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AdminMessageModel
import java.time.OffsetDateTime
import org.openapitools.client.model.OrderBookModel
import org.openapitools.client.model.PriceLevelUpdateModel
import org.openapitools.client.model.QuoteUpdateModel
import org.openapitools.client.model.SystemEventModel
import org.openapitools.client.model.TradeModel
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object NativeIEXApi {

  def apply(baseUrl: String = "https://api-historical.stock.finfeedapi.com") = new NativeIEXApi(baseUrl)
}

class NativeIEXApi(baseUrl: String) {

  /**
   * Streams one UTC day. `time_start` may be a full timestamp (`2026-09-28T13:31:14.8560065Z`) or a time of day (`13:31:14.8560065Z`) when `date` is set. Events start at that instant, inclusive. Omit `limit` to stream through the end of the day.
   * 
   * Expected answers:
   *   code 200 : Seq[AdminMessageModel] (successful operation)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   * 
   * @param symbol The symbol identifier
   * @param date UTC day (`YYYY-MM-DD`). Optional when `time_start` includes a calendar day.
   * @param timeStart Inclusive start. Full ISO-8601 timestamp, or a UTC time of day when `date` is set.
   * @param limit Optional cap on the number of records (1-10000). Omit to stream through the end of the day.
   */
  def v1NativeIexAdminMessagesSymbolGet(symbol: String, date: Option[OffsetDateTime] = None, timeStart: Option[String] = None, limit: Option[Int] = None)(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Seq[AdminMessageModel]] =
    ApiRequest[Seq[AdminMessageModel]](ApiMethods.GET, baseUrl, "/v1/native/iex/admin/messages/{symbol}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withQueryParam("date", date)
      .withQueryParam("time_start", timeStart)
      .withQueryParam("limit", limit)
      .withPathParam("symbol", symbol)
      .withSuccessResponse[Seq[AdminMessageModel]](200)
      

  /**
   * Streams one UTC day. `time_start` may be a full timestamp (`2026-09-28T13:31:14.8560065Z`) or a time of day (`13:31:14.8560065Z`) when `date` is set. Events start at that instant, inclusive. Omit `limit` to stream through the end of the day.
   * 
   * Expected answers:
   *   code 200 : Seq[SystemEventModel] (successful operation)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   * 
   * @param date UTC day (`YYYY-MM-DD`). Optional when `time_start` includes a calendar day.
   * @param timeStart Inclusive start. Full ISO-8601 timestamp, or a UTC time of day when `date` is set.
   * @param limit Optional cap on the number of records (1-10000). Omit to stream through the end of the day.
   */
  def v1NativeIexAdminSystemEventGet(date: Option[OffsetDateTime] = None, timeStart: Option[String] = None, limit: Option[Int] = None)(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Seq[SystemEventModel]] =
    ApiRequest[Seq[SystemEventModel]](ApiMethods.GET, baseUrl, "/v1/native/iex/admin/system-event", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withQueryParam("date", date)
      .withQueryParam("time_start", timeStart)
      .withQueryParam("limit", limit)
      .withSuccessResponse[Seq[SystemEventModel]](200)
      

  /**
   * Streams one UTC day. `time_start` may be a full timestamp (`2026-09-28T13:31:14.8560065Z`) or a time of day (`13:31:14.8560065Z`) when `date` is set. Events start at that instant, inclusive. Omit `limit` to stream through the end of the day.
   * 
   * Expected answers:
   *   code 200 : Seq[QuoteUpdateModel] (successful operation)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   * 
   * @param symbol The symbol identifier
   * @param date UTC day (`YYYY-MM-DD`). Optional when `time_start` includes a calendar day.
   * @param timeStart Inclusive start. Full ISO-8601 timestamp, or a UTC time of day when `date` is set.
   * @param limit Optional cap on the number of records (1-10000). Omit to stream through the end of the day.
   */
  def v1NativeIexLevel1QuoteSymbolGet(symbol: String, date: Option[OffsetDateTime] = None, timeStart: Option[String] = None, limit: Option[Int] = None)(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Seq[QuoteUpdateModel]] =
    ApiRequest[Seq[QuoteUpdateModel]](ApiMethods.GET, baseUrl, "/v1/native/iex/level1-quote/{symbol}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withQueryParam("date", date)
      .withQueryParam("time_start", timeStart)
      .withQueryParam("limit", limit)
      .withPathParam("symbol", symbol)
      .withSuccessResponse[Seq[QuoteUpdateModel]](200)
      

  /**
   * Streams one UTC day. `time_start` may be a full timestamp (`2026-09-28T13:31:14.8560065Z`) or a time of day (`13:31:14.8560065Z`) when `date` is set. Events start at that instant, inclusive. Omit `limit` to stream through the end of the day.
   * 
   * Expected answers:
   *   code 200 : Seq[PriceLevelUpdateModel] (successful operation)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   * 
   * @param symbol The symbol identifier
   * @param date UTC day (`YYYY-MM-DD`). Optional when `time_start` includes a calendar day.
   * @param timeStart Inclusive start. Full ISO-8601 timestamp, or a UTC time of day when `date` is set.
   * @param limit Optional cap on the number of records (1-10000). Omit to stream through the end of the day.
   */
  def v1NativeIexLevel2PriceLevelUpdateSymbolGet(symbol: String, date: Option[OffsetDateTime] = None, timeStart: Option[String] = None, limit: Option[Int] = None)(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Seq[PriceLevelUpdateModel]] =
    ApiRequest[Seq[PriceLevelUpdateModel]](ApiMethods.GET, baseUrl, "/v1/native/iex/level2-price-level-update/{symbol}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withQueryParam("date", date)
      .withQueryParam("time_start", timeStart)
      .withQueryParam("limit", limit)
      .withPathParam("symbol", symbol)
      .withSuccessResponse[Seq[PriceLevelUpdateModel]](200)
      

  /**
   * Streams one UTC day. `time_start` may be a full timestamp (`2026-09-28T13:31:14.8560065Z`) or a time of day (`13:31:14.8560065Z`) when `date` is set. Events start at that instant, inclusive. Omit `limit` to stream through the end of the day.
   * 
   * Expected answers:
   *   code 200 : Seq[OrderBookModel] (successful operation)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   * 
   * @param symbol The symbol identifier
   * @param date UTC day (`YYYY-MM-DD`). Optional when `time_start` includes a calendar day.
   * @param timeStart Inclusive start. Full ISO-8601 timestamp, or a UTC time of day when `date` is set.
   * @param limit Optional cap on the number of records (1-10000). Omit to stream through the end of the day.
   */
  def v1NativeIexLevel3OrderBookSymbolGet(symbol: String, date: Option[OffsetDateTime] = None, timeStart: Option[String] = None, limit: Option[Int] = None)(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Seq[OrderBookModel]] =
    ApiRequest[Seq[OrderBookModel]](ApiMethods.GET, baseUrl, "/v1/native/iex/level3-order-book/{symbol}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withQueryParam("date", date)
      .withQueryParam("time_start", timeStart)
      .withQueryParam("limit", limit)
      .withPathParam("symbol", symbol)
      .withSuccessResponse[Seq[OrderBookModel]](200)
      

  /**
   * Streams one UTC day. `time_start` may be a full timestamp (`2026-09-28T13:31:14.8560065Z`) or a time of day (`13:31:14.8560065Z`) when `date` is set. Events start at that instant, inclusive. Omit `limit` to stream through the end of the day.
   * 
   * Expected answers:
   *   code 200 : Seq[TradeModel] (successful operation)
   * 
   * Available security schemes:
   *   APIKey (apiKey)
   *   JWT (http)
   * 
   * @param symbol The symbol identifier
   * @param date UTC day (`YYYY-MM-DD`). Optional when `time_start` includes a calendar day.
   * @param timeStart Inclusive start. Full ISO-8601 timestamp, or a UTC time of day when `date` is set.
   * @param limit Optional cap on the number of records (1-10000). Omit to stream through the end of the day.
   */
  def v1NativeIexTradeSymbolGet(symbol: String, date: Option[OffsetDateTime] = None, timeStart: Option[String] = None, limit: Option[Int] = None)(implicit apiKey: ApiKeyValue, bearerToken: BearerToken): ApiRequest[Seq[TradeModel]] =
    ApiRequest[Seq[TradeModel]](ApiMethods.GET, baseUrl, "/v1/native/iex/trade/{symbol}", "application/json")
      .withApiKey(apiKey, "Authorization", HEADER)
      .withCredentials(bearerToken).withQueryParam("date", date)
      .withQueryParam("time_start", timeStart)
      .withQueryParam("limit", limit)
      .withPathParam("symbol", symbol)
      .withSuccessResponse[Seq[TradeModel]](200)
      



}

