/*
On Chain Dapps - REST API

 This section will provide necessary information about the `OnChain API` protocol.  <br/><br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.                             

API version: v1
Contact: support@coinapi.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// CRYPTOPUNKSApiService CRYPTOPUNKSApi service
type CRYPTOPUNKSApiService service

type ApiCRYPTOPUNKSBidsCurrentRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
}

func (r ApiCRYPTOPUNKSBidsCurrentRequest) Execute() ([]CRYPTOPUNKSBidDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSBidsCurrentExecute(r)
}

/*
CRYPTOPUNKSBidsCurrent Bids (current)

Gets bids.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSBidsCurrentRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSBidsCurrent(ctx context.Context) ApiCRYPTOPUNKSBidsCurrentRequest {
	return ApiCRYPTOPUNKSBidsCurrentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSBidDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSBidsCurrentExecute(r ApiCRYPTOPUNKSBidsCurrentRequest) ([]CRYPTOPUNKSBidDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSBidDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSBidsCurrent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/bids/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSCollectionDailySnapshotsCurrentRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
}

func (r ApiCRYPTOPUNKSCollectionDailySnapshotsCurrentRequest) Execute() ([]CRYPTOPUNKSCollectionDailySnapshotDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSCollectionDailySnapshotsCurrentExecute(r)
}

/*
CRYPTOPUNKSCollectionDailySnapshotsCurrent CollectionDailySnapshots (current)

Gets collectionDailySnapshots.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSCollectionDailySnapshotsCurrentRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSCollectionDailySnapshotsCurrent(ctx context.Context) ApiCRYPTOPUNKSCollectionDailySnapshotsCurrentRequest {
	return ApiCRYPTOPUNKSCollectionDailySnapshotsCurrentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSCollectionDailySnapshotDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSCollectionDailySnapshotsCurrentExecute(r ApiCRYPTOPUNKSCollectionDailySnapshotsCurrentRequest) ([]CRYPTOPUNKSCollectionDailySnapshotDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSCollectionDailySnapshotDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSCollectionDailySnapshotsCurrent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/collectionDailySnapshots/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSCollectionsCurrentRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
}

func (r ApiCRYPTOPUNKSCollectionsCurrentRequest) Execute() ([]CRYPTOPUNKSCollectionDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSCollectionsCurrentExecute(r)
}

/*
CRYPTOPUNKSCollectionsCurrent Collections (current)

Gets collections.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSCollectionsCurrentRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSCollectionsCurrent(ctx context.Context) ApiCRYPTOPUNKSCollectionsCurrentRequest {
	return ApiCRYPTOPUNKSCollectionsCurrentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSCollectionDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSCollectionsCurrentExecute(r ApiCRYPTOPUNKSCollectionsCurrentRequest) ([]CRYPTOPUNKSCollectionDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSCollectionDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSCollectionsCurrent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/collections/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSDataSourcesCurrentRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
}

func (r ApiCRYPTOPUNKSDataSourcesCurrentRequest) Execute() ([]CRYPTOPUNKSDataSourcesDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSDataSourcesCurrentExecute(r)
}

/*
CRYPTOPUNKSDataSourcesCurrent DataSources (current)

Gets dataSources.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSDataSourcesCurrentRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSDataSourcesCurrent(ctx context.Context) ApiCRYPTOPUNKSDataSourcesCurrentRequest {
	return ApiCRYPTOPUNKSDataSourcesCurrentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSDataSourcesDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSDataSourcesCurrentExecute(r ApiCRYPTOPUNKSDataSourcesCurrentRequest) ([]CRYPTOPUNKSDataSourcesDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSDataSourcesDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSDataSourcesCurrent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/dataSources/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSGetBidsHistoricalRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
	startBlock *int64
	endBlock *int64
	startDate *time.Time
	endDate *time.Time
	id *string
}

// The start block. If endblock is not given, only those entities will be included that were exactly created in startBlock.
func (r ApiCRYPTOPUNKSGetBidsHistoricalRequest) StartBlock(startBlock int64) ApiCRYPTOPUNKSGetBidsHistoricalRequest {
	r.startBlock = &startBlock
	return r
}

// The end block. Useful to filter data in range of blocks (FROM startBlock TO endBlock).
func (r ApiCRYPTOPUNKSGetBidsHistoricalRequest) EndBlock(endBlock int64) ApiCRYPTOPUNKSGetBidsHistoricalRequest {
	r.endBlock = &endBlock
	return r
}

// The start date of timeframe. If endDate is not given, entities created FROM startDate TO startDate plus 24 hours will be included.
func (r ApiCRYPTOPUNKSGetBidsHistoricalRequest) StartDate(startDate time.Time) ApiCRYPTOPUNKSGetBidsHistoricalRequest {
	r.startDate = &startDate
	return r
}

// The end date of timeframe.
func (r ApiCRYPTOPUNKSGetBidsHistoricalRequest) EndDate(endDate time.Time) ApiCRYPTOPUNKSGetBidsHistoricalRequest {
	r.endDate = &endDate
	return r
}

// 
func (r ApiCRYPTOPUNKSGetBidsHistoricalRequest) Id(id string) ApiCRYPTOPUNKSGetBidsHistoricalRequest {
	r.id = &id
	return r
}

func (r ApiCRYPTOPUNKSGetBidsHistoricalRequest) Execute() ([]CRYPTOPUNKSBidDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSGetBidsHistoricalExecute(r)
}

/*
CRYPTOPUNKSGetBidsHistorical Bids (historical)

Gets bids.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSGetBidsHistoricalRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetBidsHistorical(ctx context.Context) ApiCRYPTOPUNKSGetBidsHistoricalRequest {
	return ApiCRYPTOPUNKSGetBidsHistoricalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSBidDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetBidsHistoricalExecute(r ApiCRYPTOPUNKSGetBidsHistoricalRequest) ([]CRYPTOPUNKSBidDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSBidDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSGetBidsHistorical")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/bids/historical"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startBlock", r.startBlock, "")
	}
	if r.endBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endBlock", r.endBlock, "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
	startBlock *int64
	endBlock *int64
	startDate *time.Time
	endDate *time.Time
}

// The start block. If endblock is not given, only those entities will be included that were exactly created in startBlock.
func (r ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest) StartBlock(startBlock int64) ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest {
	r.startBlock = &startBlock
	return r
}

// The end block. Useful to filter data in range of blocks (FROM startBlock TO endBlock).
func (r ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest) EndBlock(endBlock int64) ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest {
	r.endBlock = &endBlock
	return r
}

// The start date of timeframe. If endDate is not given, entities created FROM startDate TO startDate plus 24 hours will be included.
func (r ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest) StartDate(startDate time.Time) ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest {
	r.startDate = &startDate
	return r
}

// The end date of timeframe.
func (r ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest) EndDate(endDate time.Time) ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest {
	r.endDate = &endDate
	return r
}

func (r ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest) Execute() ([]CRYPTOPUNKSCollectionDailySnapshotDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSGetCollectionDailySnapshotsHistoricalExecute(r)
}

/*
CRYPTOPUNKSGetCollectionDailySnapshotsHistorical CollectionDailySnapshots (historical)

Gets collectionDailySnapshots.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetCollectionDailySnapshotsHistorical(ctx context.Context) ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest {
	return ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSCollectionDailySnapshotDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetCollectionDailySnapshotsHistoricalExecute(r ApiCRYPTOPUNKSGetCollectionDailySnapshotsHistoricalRequest) ([]CRYPTOPUNKSCollectionDailySnapshotDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSCollectionDailySnapshotDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSGetCollectionDailySnapshotsHistorical")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/collectionDailySnapshots/historical"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startBlock", r.startBlock, "")
	}
	if r.endBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endBlock", r.endBlock, "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSGetCollectionsHistoricalRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
	startBlock *int64
	endBlock *int64
	startDate *time.Time
	endDate *time.Time
	id *string
}

// The start block. If endblock is not given, only those entities will be included that were exactly created in startBlock.
func (r ApiCRYPTOPUNKSGetCollectionsHistoricalRequest) StartBlock(startBlock int64) ApiCRYPTOPUNKSGetCollectionsHistoricalRequest {
	r.startBlock = &startBlock
	return r
}

// The end block. Useful to filter data in range of blocks (FROM startBlock TO endBlock).
func (r ApiCRYPTOPUNKSGetCollectionsHistoricalRequest) EndBlock(endBlock int64) ApiCRYPTOPUNKSGetCollectionsHistoricalRequest {
	r.endBlock = &endBlock
	return r
}

// The start date of timeframe. If endDate is not given, entities created FROM startDate TO startDate plus 24 hours will be included.
func (r ApiCRYPTOPUNKSGetCollectionsHistoricalRequest) StartDate(startDate time.Time) ApiCRYPTOPUNKSGetCollectionsHistoricalRequest {
	r.startDate = &startDate
	return r
}

// The end date of timeframe.
func (r ApiCRYPTOPUNKSGetCollectionsHistoricalRequest) EndDate(endDate time.Time) ApiCRYPTOPUNKSGetCollectionsHistoricalRequest {
	r.endDate = &endDate
	return r
}

// 
func (r ApiCRYPTOPUNKSGetCollectionsHistoricalRequest) Id(id string) ApiCRYPTOPUNKSGetCollectionsHistoricalRequest {
	r.id = &id
	return r
}

func (r ApiCRYPTOPUNKSGetCollectionsHistoricalRequest) Execute() ([]CRYPTOPUNKSCollectionDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSGetCollectionsHistoricalExecute(r)
}

/*
CRYPTOPUNKSGetCollectionsHistorical Collections (historical)

Gets collections.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSGetCollectionsHistoricalRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetCollectionsHistorical(ctx context.Context) ApiCRYPTOPUNKSGetCollectionsHistoricalRequest {
	return ApiCRYPTOPUNKSGetCollectionsHistoricalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSCollectionDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetCollectionsHistoricalExecute(r ApiCRYPTOPUNKSGetCollectionsHistoricalRequest) ([]CRYPTOPUNKSCollectionDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSCollectionDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSGetCollectionsHistorical")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/collections/historical"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startBlock", r.startBlock, "")
	}
	if r.endBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endBlock", r.endBlock, "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
	startBlock *int64
	endBlock *int64
	startDate *time.Time
	endDate *time.Time
	id *string
}

// The start block. If endblock is not given, only those entities will be included that were exactly created in startBlock.
func (r ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest) StartBlock(startBlock int64) ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest {
	r.startBlock = &startBlock
	return r
}

// The end block. Useful to filter data in range of blocks (FROM startBlock TO endBlock).
func (r ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest) EndBlock(endBlock int64) ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest {
	r.endBlock = &endBlock
	return r
}

// The start date of timeframe. If endDate is not given, entities created FROM startDate TO startDate plus 24 hours will be included.
func (r ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest) StartDate(startDate time.Time) ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest {
	r.startDate = &startDate
	return r
}

// The end date of timeframe.
func (r ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest) EndDate(endDate time.Time) ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest {
	r.endDate = &endDate
	return r
}

// 
func (r ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest) Id(id string) ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest {
	r.id = &id
	return r
}

func (r ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest) Execute() ([]CRYPTOPUNKSDataSourcesDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSGetDataSourcesHistoricalExecute(r)
}

/*
CRYPTOPUNKSGetDataSourcesHistorical DataSources (historical)

Gets dataSources.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetDataSourcesHistorical(ctx context.Context) ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest {
	return ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSDataSourcesDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetDataSourcesHistoricalExecute(r ApiCRYPTOPUNKSGetDataSourcesHistoricalRequest) ([]CRYPTOPUNKSDataSourcesDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSDataSourcesDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSGetDataSourcesHistorical")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/dataSources/historical"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startBlock", r.startBlock, "")
	}
	if r.endBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endBlock", r.endBlock, "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSGetItemsHistoricalRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
	startBlock *int64
	endBlock *int64
	startDate *time.Time
	endDate *time.Time
}

// The start block. If endblock is not given, only those entities will be included that were exactly created in startBlock.
func (r ApiCRYPTOPUNKSGetItemsHistoricalRequest) StartBlock(startBlock int64) ApiCRYPTOPUNKSGetItemsHistoricalRequest {
	r.startBlock = &startBlock
	return r
}

// The end block. Useful to filter data in range of blocks (FROM startBlock TO endBlock).
func (r ApiCRYPTOPUNKSGetItemsHistoricalRequest) EndBlock(endBlock int64) ApiCRYPTOPUNKSGetItemsHistoricalRequest {
	r.endBlock = &endBlock
	return r
}

// The start date of timeframe. If endDate is not given, entities created FROM startDate TO startDate plus 24 hours will be included.
func (r ApiCRYPTOPUNKSGetItemsHistoricalRequest) StartDate(startDate time.Time) ApiCRYPTOPUNKSGetItemsHistoricalRequest {
	r.startDate = &startDate
	return r
}

// The end date of timeframe.
func (r ApiCRYPTOPUNKSGetItemsHistoricalRequest) EndDate(endDate time.Time) ApiCRYPTOPUNKSGetItemsHistoricalRequest {
	r.endDate = &endDate
	return r
}

func (r ApiCRYPTOPUNKSGetItemsHistoricalRequest) Execute() ([]CRYPTOPUNKSItemDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSGetItemsHistoricalExecute(r)
}

/*
CRYPTOPUNKSGetItemsHistorical Items (historical)

Gets items.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSGetItemsHistoricalRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetItemsHistorical(ctx context.Context) ApiCRYPTOPUNKSGetItemsHistoricalRequest {
	return ApiCRYPTOPUNKSGetItemsHistoricalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSItemDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetItemsHistoricalExecute(r ApiCRYPTOPUNKSGetItemsHistoricalRequest) ([]CRYPTOPUNKSItemDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSItemDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSGetItemsHistorical")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/items/historical"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startBlock", r.startBlock, "")
	}
	if r.endBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endBlock", r.endBlock, "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
	startBlock *int64
	endBlock *int64
	startDate *time.Time
	endDate *time.Time
	id *string
}

// The start block. If endblock is not given, only those entities will be included that were exactly created in startBlock.
func (r ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest) StartBlock(startBlock int64) ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest {
	r.startBlock = &startBlock
	return r
}

// The end block. Useful to filter data in range of blocks (FROM startBlock TO endBlock).
func (r ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest) EndBlock(endBlock int64) ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest {
	r.endBlock = &endBlock
	return r
}

// The start date of timeframe. If endDate is not given, entities created FROM startDate TO startDate plus 24 hours will be included.
func (r ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest) StartDate(startDate time.Time) ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest {
	r.startDate = &startDate
	return r
}

// The end date of timeframe.
func (r ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest) EndDate(endDate time.Time) ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest {
	r.endDate = &endDate
	return r
}

// 
func (r ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest) Id(id string) ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest {
	r.id = &id
	return r
}

func (r ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest) Execute() ([]CRYPTOPUNKSMarketPlaceDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSGetMarketPlacesHistoricalExecute(r)
}

/*
CRYPTOPUNKSGetMarketPlacesHistorical MarketPlaces (historical)

Gets marketPlaces.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetMarketPlacesHistorical(ctx context.Context) ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest {
	return ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSMarketPlaceDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetMarketPlacesHistoricalExecute(r ApiCRYPTOPUNKSGetMarketPlacesHistoricalRequest) ([]CRYPTOPUNKSMarketPlaceDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSMarketPlaceDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSGetMarketPlacesHistorical")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/marketPlaces/historical"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startBlock", r.startBlock, "")
	}
	if r.endBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endBlock", r.endBlock, "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
	startBlock *int64
	endBlock *int64
	startDate *time.Time
	endDate *time.Time
	id *string
}

// The start block. If endblock is not given, only those entities will be included that were exactly created in startBlock.
func (r ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest) StartBlock(startBlock int64) ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest {
	r.startBlock = &startBlock
	return r
}

// The end block. Useful to filter data in range of blocks (FROM startBlock TO endBlock).
func (r ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest) EndBlock(endBlock int64) ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest {
	r.endBlock = &endBlock
	return r
}

// The start date of timeframe. If endDate is not given, entities created FROM startDate TO startDate plus 24 hours will be included.
func (r ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest) StartDate(startDate time.Time) ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest {
	r.startDate = &startDate
	return r
}

// The end date of timeframe.
func (r ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest) EndDate(endDate time.Time) ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest {
	r.endDate = &endDate
	return r
}

// 
func (r ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest) Id(id string) ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest {
	r.id = &id
	return r
}

func (r ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest) Execute() ([]CRYPTOPUNKSMarketplaceDailySnapshotDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalExecute(r)
}

/*
CRYPTOPUNKSGetMarketplaceDailySnapshotsHistorical MarketplaceDailySnapshots (historical)

Gets marketplaceDailySnapshots.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetMarketplaceDailySnapshotsHistorical(ctx context.Context) ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest {
	return ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSMarketplaceDailySnapshotDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalExecute(r ApiCRYPTOPUNKSGetMarketplaceDailySnapshotsHistoricalRequest) ([]CRYPTOPUNKSMarketplaceDailySnapshotDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSMarketplaceDailySnapshotDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSGetMarketplaceDailySnapshotsHistorical")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/marketplaceDailySnapshots/historical"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startBlock", r.startBlock, "")
	}
	if r.endBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endBlock", r.endBlock, "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSGetTradesHistoricalRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
	startBlock *int64
	endBlock *int64
	startDate *time.Time
	endDate *time.Time
	id *string
}

// The start block. If endblock is not given, only those entities will be included that were exactly created in startBlock.
func (r ApiCRYPTOPUNKSGetTradesHistoricalRequest) StartBlock(startBlock int64) ApiCRYPTOPUNKSGetTradesHistoricalRequest {
	r.startBlock = &startBlock
	return r
}

// The end block. Useful to filter data in range of blocks (FROM startBlock TO endBlock).
func (r ApiCRYPTOPUNKSGetTradesHistoricalRequest) EndBlock(endBlock int64) ApiCRYPTOPUNKSGetTradesHistoricalRequest {
	r.endBlock = &endBlock
	return r
}

// The start date of timeframe. If endDate is not given, entities created FROM startDate TO startDate plus 24 hours will be included.
func (r ApiCRYPTOPUNKSGetTradesHistoricalRequest) StartDate(startDate time.Time) ApiCRYPTOPUNKSGetTradesHistoricalRequest {
	r.startDate = &startDate
	return r
}

// The end date of timeframe.
func (r ApiCRYPTOPUNKSGetTradesHistoricalRequest) EndDate(endDate time.Time) ApiCRYPTOPUNKSGetTradesHistoricalRequest {
	r.endDate = &endDate
	return r
}

// 
func (r ApiCRYPTOPUNKSGetTradesHistoricalRequest) Id(id string) ApiCRYPTOPUNKSGetTradesHistoricalRequest {
	r.id = &id
	return r
}

func (r ApiCRYPTOPUNKSGetTradesHistoricalRequest) Execute() ([]CRYPTOPUNKSTradeDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSGetTradesHistoricalExecute(r)
}

/*
CRYPTOPUNKSGetTradesHistorical Trades (historical)

Gets trades.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSGetTradesHistoricalRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetTradesHistorical(ctx context.Context) ApiCRYPTOPUNKSGetTradesHistoricalRequest {
	return ApiCRYPTOPUNKSGetTradesHistoricalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSTradeDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetTradesHistoricalExecute(r ApiCRYPTOPUNKSGetTradesHistoricalRequest) ([]CRYPTOPUNKSTradeDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSTradeDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSGetTradesHistorical")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/trades/historical"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startBlock", r.startBlock, "")
	}
	if r.endBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endBlock", r.endBlock, "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSGetUsersHistoricalRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
	startBlock *int64
	endBlock *int64
	startDate *time.Time
	endDate *time.Time
	id *string
}

// The start block. If endblock is not given, only those entities will be included that were exactly created in startBlock.
func (r ApiCRYPTOPUNKSGetUsersHistoricalRequest) StartBlock(startBlock int64) ApiCRYPTOPUNKSGetUsersHistoricalRequest {
	r.startBlock = &startBlock
	return r
}

// The end block. Useful to filter data in range of blocks (FROM startBlock TO endBlock).
func (r ApiCRYPTOPUNKSGetUsersHistoricalRequest) EndBlock(endBlock int64) ApiCRYPTOPUNKSGetUsersHistoricalRequest {
	r.endBlock = &endBlock
	return r
}

// The start date of timeframe. If endDate is not given, entities created FROM startDate TO startDate plus 24 hours will be included.
func (r ApiCRYPTOPUNKSGetUsersHistoricalRequest) StartDate(startDate time.Time) ApiCRYPTOPUNKSGetUsersHistoricalRequest {
	r.startDate = &startDate
	return r
}

// The end date of timeframe.
func (r ApiCRYPTOPUNKSGetUsersHistoricalRequest) EndDate(endDate time.Time) ApiCRYPTOPUNKSGetUsersHistoricalRequest {
	r.endDate = &endDate
	return r
}

// 
func (r ApiCRYPTOPUNKSGetUsersHistoricalRequest) Id(id string) ApiCRYPTOPUNKSGetUsersHistoricalRequest {
	r.id = &id
	return r
}

func (r ApiCRYPTOPUNKSGetUsersHistoricalRequest) Execute() ([]CRYPTOPUNKSUserDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSGetUsersHistoricalExecute(r)
}

/*
CRYPTOPUNKSGetUsersHistorical Users (historical)

Gets users.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSGetUsersHistoricalRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetUsersHistorical(ctx context.Context) ApiCRYPTOPUNKSGetUsersHistoricalRequest {
	return ApiCRYPTOPUNKSGetUsersHistoricalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSUserDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSGetUsersHistoricalExecute(r ApiCRYPTOPUNKSGetUsersHistoricalRequest) ([]CRYPTOPUNKSUserDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSUserDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSGetUsersHistorical")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/users/historical"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startBlock", r.startBlock, "")
	}
	if r.endBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endBlock", r.endBlock, "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSItemsCurrentRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
}

func (r ApiCRYPTOPUNKSItemsCurrentRequest) Execute() ([]CRYPTOPUNKSItemDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSItemsCurrentExecute(r)
}

/*
CRYPTOPUNKSItemsCurrent Items (current)

Gets items.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSItemsCurrentRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSItemsCurrent(ctx context.Context) ApiCRYPTOPUNKSItemsCurrentRequest {
	return ApiCRYPTOPUNKSItemsCurrentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSItemDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSItemsCurrentExecute(r ApiCRYPTOPUNKSItemsCurrentRequest) ([]CRYPTOPUNKSItemDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSItemDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSItemsCurrent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/items/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSMarketPlacesCurrentRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
}

func (r ApiCRYPTOPUNKSMarketPlacesCurrentRequest) Execute() ([]CRYPTOPUNKSMarketPlaceDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSMarketPlacesCurrentExecute(r)
}

/*
CRYPTOPUNKSMarketPlacesCurrent MarketPlaces (current)

Gets marketPlaces.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSMarketPlacesCurrentRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSMarketPlacesCurrent(ctx context.Context) ApiCRYPTOPUNKSMarketPlacesCurrentRequest {
	return ApiCRYPTOPUNKSMarketPlacesCurrentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSMarketPlaceDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSMarketPlacesCurrentExecute(r ApiCRYPTOPUNKSMarketPlacesCurrentRequest) ([]CRYPTOPUNKSMarketPlaceDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSMarketPlaceDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSMarketPlacesCurrent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/marketPlaces/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSMarketplaceDailySnapshotsCurrentRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
}

func (r ApiCRYPTOPUNKSMarketplaceDailySnapshotsCurrentRequest) Execute() ([]CRYPTOPUNKSMarketplaceDailySnapshotDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSMarketplaceDailySnapshotsCurrentExecute(r)
}

/*
CRYPTOPUNKSMarketplaceDailySnapshotsCurrent MarketplaceDailySnapshots (current)

Gets marketplaceDailySnapshots.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSMarketplaceDailySnapshotsCurrentRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSMarketplaceDailySnapshotsCurrent(ctx context.Context) ApiCRYPTOPUNKSMarketplaceDailySnapshotsCurrentRequest {
	return ApiCRYPTOPUNKSMarketplaceDailySnapshotsCurrentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSMarketplaceDailySnapshotDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSMarketplaceDailySnapshotsCurrentExecute(r ApiCRYPTOPUNKSMarketplaceDailySnapshotsCurrentRequest) ([]CRYPTOPUNKSMarketplaceDailySnapshotDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSMarketplaceDailySnapshotDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSMarketplaceDailySnapshotsCurrent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/marketplaceDailySnapshots/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSTradesCurrentRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
}

func (r ApiCRYPTOPUNKSTradesCurrentRequest) Execute() ([]CRYPTOPUNKSTradeDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSTradesCurrentExecute(r)
}

/*
CRYPTOPUNKSTradesCurrent Trades (current)

Gets trades.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSTradesCurrentRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSTradesCurrent(ctx context.Context) ApiCRYPTOPUNKSTradesCurrentRequest {
	return ApiCRYPTOPUNKSTradesCurrentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSTradeDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSTradesCurrentExecute(r ApiCRYPTOPUNKSTradesCurrentRequest) ([]CRYPTOPUNKSTradeDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSTradeDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSTradesCurrent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/trades/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCRYPTOPUNKSUsersCurrentRequest struct {
	ctx context.Context
	ApiService *CRYPTOPUNKSApiService
}

func (r ApiCRYPTOPUNKSUsersCurrentRequest) Execute() ([]CRYPTOPUNKSUserDTO, *http.Response, error) {
	return r.ApiService.CRYPTOPUNKSUsersCurrentExecute(r)
}

/*
CRYPTOPUNKSUsersCurrent Users (current)

Gets users.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCRYPTOPUNKSUsersCurrentRequest
*/
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSUsersCurrent(ctx context.Context) ApiCRYPTOPUNKSUsersCurrentRequest {
	return ApiCRYPTOPUNKSUsersCurrentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CRYPTOPUNKSUserDTO
func (a *CRYPTOPUNKSApiService) CRYPTOPUNKSUsersCurrentExecute(r ApiCRYPTOPUNKSUsersCurrentRequest) ([]CRYPTOPUNKSUserDTO, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CRYPTOPUNKSUserDTO
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CRYPTOPUNKSApiService.CRYPTOPUNKSUsersCurrent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dapps/cryptopunks/users/current"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
