openapi: 3.0.4
info:
  title: Prediction Markets API
  contact:
    name: API BRICKS LTD
    url: https://www.finfeedapi.com
    email: support@apibricks.io
  license:
    name: MIT License
    url: https://github.com/api-bricks/api-bricks-sdk/blob/master/LICENSE
  version: v1
servers:
  - url: https://api.prediction-markets.finfeedapi.com
paths:
  /v1/exchanges:
    get:
      tags:
        - Exchanges
      summary: Gets a list of all supported exchanges.
      responses:
        '200':
          description: A list of all supported exchanges.
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exchanges.ExchangeModel'
              examples:
                Example list:
                  value:
                    - exchange_id: KALSHI
                      market_name_institution_description: A US‑regulated exchange for trading event contracts.
                      website: https://kalshi.com
                    - exchange_id: POLYMARKET
                      market_name_institution_description: The world's largest prediction market.
                      website: https://polymarket.com
                    - exchange_id: MYRIAD
                      market_name_institution_description: A decentralized prediction markets platform.
                      website: https://myriad.markets
                    - exchange_id: MANIFOLD
                      market_name_institution_description: The world's largest social prediction market (play‑money).
                      website: https://manifold.markets
                    - exchange_id: HYPERLIQUIDOUTCOME
                      market_name_institution_description: Hyperliquid HIP-4 outcome markets — fully collateralized binary and multi-outcome contracts.
                      website: https://hyperliquid.xyz
                    - exchange_id: PASCAL
                      market_name_institution_description: A noncustodial prediction market exchange on Solana.
                      website: https://www.pascal.trade
                    - exchange_id: GEMINIPM
                      market_name_institution_description: Gemini's prediction markets product.
                      website: https://www.gemini.com/prediction-markets
                    - exchange_id: CRYPTOCOMPM
                      market_name_institution_description: 'Crypto.com''s OG prediction markets product, powered by CDNA.'
                      website: https://crypto.com/us/prediction
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exchanges.ExchangeModel'
              examples:
                Example list:
                  value:
                    - exchange_id: KALSHI
                      market_name_institution_description: A US‑regulated exchange for trading event contracts.
                      website: https://kalshi.com
                    - exchange_id: POLYMARKET
                      market_name_institution_description: The world's largest prediction market.
                      website: https://polymarket.com
                    - exchange_id: MYRIAD
                      market_name_institution_description: A decentralized prediction markets platform.
                      website: https://myriad.markets
                    - exchange_id: MANIFOLD
                      market_name_institution_description: The world's largest social prediction market (play‑money).
                      website: https://manifold.markets
                    - exchange_id: HYPERLIQUIDOUTCOME
                      market_name_institution_description: Hyperliquid HIP-4 outcome markets — fully collateralized binary and multi-outcome contracts.
                      website: https://hyperliquid.xyz
                    - exchange_id: PASCAL
                      market_name_institution_description: A noncustodial prediction market exchange on Solana.
                      website: https://www.pascal.trade
                    - exchange_id: GEMINIPM
                      market_name_institution_description: Gemini's prediction markets product.
                      website: https://www.gemini.com/prediction-markets
                    - exchange_id: CRYPTOCOMPM
                      market_name_institution_description: 'Crypto.com''s OG prediction markets product, powered by CDNA.'
                      website: https://crypto.com/us/prediction
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exchanges.ExchangeModel'
              examples:
                Example list:
                  value:
                    - exchange_id: KALSHI
                      market_name_institution_description: A US‑regulated exchange for trading event contracts.
                      website: https://kalshi.com
                    - exchange_id: POLYMARKET
                      market_name_institution_description: The world's largest prediction market.
                      website: https://polymarket.com
                    - exchange_id: MYRIAD
                      market_name_institution_description: A decentralized prediction markets platform.
                      website: https://myriad.markets
                    - exchange_id: MANIFOLD
                      market_name_institution_description: The world's largest social prediction market (play‑money).
                      website: https://manifold.markets
                    - exchange_id: HYPERLIQUIDOUTCOME
                      market_name_institution_description: Hyperliquid HIP-4 outcome markets — fully collateralized binary and multi-outcome contracts.
                      website: https://hyperliquid.xyz
                    - exchange_id: PASCAL
                      market_name_institution_description: A noncustodial prediction market exchange on Solana.
                      website: https://www.pascal.trade
                    - exchange_id: GEMINIPM
                      market_name_institution_description: Gemini's prediction markets product.
                      website: https://www.gemini.com/prediction-markets
                    - exchange_id: CRYPTOCOMPM
                      market_name_institution_description: 'Crypto.com''s OG prediction markets product, powered by CDNA.'
                      website: https://crypto.com/us/prediction
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exchanges.ExchangeModel'
              examples:
                Example list:
                  value:
                    - exchange_id: KALSHI
                      market_name_institution_description: A US‑regulated exchange for trading event contracts.
                      website: https://kalshi.com
                    - exchange_id: POLYMARKET
                      market_name_institution_description: The world's largest prediction market.
                      website: https://polymarket.com
                    - exchange_id: MYRIAD
                      market_name_institution_description: A decentralized prediction markets platform.
                      website: https://myriad.markets
                    - exchange_id: MANIFOLD
                      market_name_institution_description: The world's largest social prediction market (play‑money).
                      website: https://manifold.markets
                    - exchange_id: HYPERLIQUIDOUTCOME
                      market_name_institution_description: Hyperliquid HIP-4 outcome markets — fully collateralized binary and multi-outcome contracts.
                      website: https://hyperliquid.xyz
                    - exchange_id: PASCAL
                      market_name_institution_description: A noncustodial prediction market exchange on Solana.
                      website: https://www.pascal.trade
                    - exchange_id: GEMINIPM
                      market_name_institution_description: Gemini's prediction markets product.
                      website: https://www.gemini.com/prediction-markets
                    - exchange_id: CRYPTOCOMPM
                      market_name_institution_description: 'Crypto.com''s OG prediction markets product, powered by CDNA.'
                      website: https://crypto.com/us/prediction
  '/v1/exchanges/{exchange_id}':
    get:
      tags:
        - Exchanges
      summary: Gets a specific exchange by its unique identifier.
      parameters:
        - name: exchange_id
          in: path
          description: 'The unique identifier of the exchange (e.g., `POLYMARKET`).'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The detailed information for the requested exchange.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Exchanges.ExchangeModel'
              examples:
                Example exchange:
                  value:
                    exchange_id: POLYMARKET
                    market_name_institution_description: The world's largest prediction market.
                    website: https://polymarket.com
            application/json:
              schema:
                $ref: '#/components/schemas/Exchanges.ExchangeModel'
              examples:
                Example exchange:
                  value:
                    exchange_id: POLYMARKET
                    market_name_institution_description: The world's largest prediction market.
                    website: https://polymarket.com
            text/json:
              schema:
                $ref: '#/components/schemas/Exchanges.ExchangeModel'
              examples:
                Example exchange:
                  value:
                    exchange_id: POLYMARKET
                    market_name_institution_description: The world's largest prediction market.
                    website: https://polymarket.com
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Exchanges.ExchangeModel'
              examples:
                Example exchange:
                  value:
                    exchange_id: POLYMARKET
                    market_name_institution_description: The world's largest prediction market.
                    website: https://polymarket.com
        '404':
          description: Exchange not found
  '/v1/activity/{exchange_id}/{market_id}/current':
    get:
      tags:
        - Market Activity
      summary: Returns the latest trade and the latest quote for a market.
      parameters:
        - name: exchange_id
          in: path
          required: true
          schema:
            type: string
        - name: market_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Latest trade and latest quote (either may be null).
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MarketActivity.MarketActivityCurrent'
            application/json:
              schema:
                $ref: '#/components/schemas/MarketActivity.MarketActivityCurrent'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketActivity.MarketActivityCurrent'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/MarketActivity.MarketActivityCurrent'
        '404':
          description: Market not found or no activity
  '/v1/activity/{exchange_id}/{market_id}/latest':
    get:
      tags:
        - Market Activity
      summary: Returns recent trades and recent quotes for a market.
      description: "Trades and quotes are returned as separate lists. The `limit` applies independently to each list\n(default 100, max 10000 per list)."
      parameters:
        - name: exchange_id
          in: path
          description: The unique identifier of the exchange.
          required: true
          schema:
            type: string
        - name: market_id
          in: path
          description: 'The unique identifier of the market, including the outcome suffix.'
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'Maximum number of trades and quotes to return in each list (1-10000, default 100)'
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: Recent trades and quotes (lists may be empty).
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MarketActivity.MarketActivityBatch'
            application/json:
              schema:
                $ref: '#/components/schemas/MarketActivity.MarketActivityBatch'
            text/json:
              schema:
                $ref: '#/components/schemas/MarketActivity.MarketActivityBatch'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/MarketActivity.MarketActivityBatch'
        '404':
          description: Market not found or no activity
  '/v1/activity/{exchange_id}/{market_id}/history/trades':
    get:
      tags:
        - Market Activity
      summary: Returns historical trades for a market from flat files.
      description: "Retrieves historical trade data from flat files stored in external storage (S3).\nSupports hourly granularity with automatic fallback to daily files.\nUse either 'date' for full day or 'time_start'/'time_end' for specific time ranges.\nThe `limit` parameter applies in both cases (default 100, max 10000), including when `date` selects a full day.\n            \n**Important:** Results are filtered by data processing time (time_coinapi) - the time when CoinAPI\nreceived and processed the data from the exchange. Each trade also includes time_exchange showing\nwhen the trade actually occurred on the exchange. Due to API polling delays, time_exchange may be\nearlier than time_coinapi."
      parameters:
        - name: exchange_id
          in: path
          required: true
          schema:
            type: string
        - name: market_id
          in: path
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: Full day in ISO 8601 or YYYY-MM-DD (mutually exclusive with time_start/time_end)
          schema:
            type: string
        - name: time_start
          in: query
          description: Range start in ISO 8601 (required if date is omitted)
          schema:
            type: string
        - name: time_end
          in: query
          description: Range end in ISO 8601 (optional)
          schema:
            type: string
        - name: limit
          in: query
          description: 'Maximum number of trades to return (1-10000, default 100). Applies even when date selects a full day.'
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: Historical trades in ascending time order
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketActivity.TradeModel'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketActivity.TradeModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketActivity.TradeModel'
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketActivity.TradeModel'
  '/v1/activity/{exchange_id}/{market_id}/history/quotes':
    get:
      tags:
        - Market Activity
      summary: Returns historical quotes for a market from flat files.
      description: "Retrieves historical quote (bid/ask) data from flat files stored in external storage (S3).\nSupports hourly granularity with automatic fallback to daily files.\nUse either 'date' for full day or 'time_start'/'time_end' for specific time ranges.\nThe `limit` parameter applies in both cases (default 100, max 10000), including when `date` selects a full day.\n            \n**Important:** Results are filtered by data processing time (time_coinapi) - the time when CoinAPI\nreceived and processed the data from the exchange. Each quote also includes time_exchange showing\nwhen the quote was created on the exchange. Due to API polling delays, time_exchange may be\nearlier than time_coinapi."
      parameters:
        - name: exchange_id
          in: path
          required: true
          schema:
            type: string
        - name: market_id
          in: path
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: Full day in ISO 8601 or YYYY-MM-DD (mutually exclusive with time_start/time_end)
          schema:
            type: string
        - name: time_start
          in: query
          description: Range start in ISO 8601 (required if date is omitted)
          schema:
            type: string
        - name: time_end
          in: query
          description: Range end in ISO 8601 (optional)
          schema:
            type: string
        - name: limit
          in: query
          description: 'Maximum number of quotes to return (1-10000, default 100). Applies even when date selects a full day.'
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: Historical quotes in ascending time order
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteTicks.QuoteTick'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteTicks.QuoteTick'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteTicks.QuoteTick'
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteTicks.QuoteTick'
  '/v1/markets/{exchange_id}/history':
    get:
      tags:
        - Markets
      summary: Lists markets for a specific exchange using cursor-based pagination.
      parameters:
        - name: exchange_id
          in: path
          description: 'The unique identifier of the exchange (e.g., `POLYMARKET`).'
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'Maximum number of markets to return (1-10000, default 100).'
          schema:
            type: integer
            format: int32
            default: 100
        - name: cursor
          in: query
          description: Cursor from the previous response's `next_cursor` field. Omit for the first page.
          schema:
            type: string
      responses:
        '200':
          description: A page of markets for the given exchange.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Markets.MarketsPage'
              examples:
                Example list:
                  value:
                    - market_id: WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_YES
                      title: Will Trump sell 10k-25k Gold Cards in 2025?
                      description: Resolves based on official reporting by the Trump Administration.
                      outcome_name: Yes
                      price: 0.12
                      status: Open
                      exchange_id: POLYMARKET
                      outcome_type: Binary
                    - market_id: WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_NO
                      title: Will Trump sell 10k-25k Gold Cards in 2025?
                      outcome_name: No
                      price: 0.88
                      status: Open
                      exchange_id: POLYMARKET
                      outcome_type: Binary
            application/json:
              schema:
                $ref: '#/components/schemas/Markets.MarketsPage'
              examples:
                Example list:
                  value:
                    - market_id: WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_YES
                      title: Will Trump sell 10k-25k Gold Cards in 2025?
                      description: Resolves based on official reporting by the Trump Administration.
                      outcome_name: Yes
                      price: 0.12
                      status: Open
                      exchange_id: POLYMARKET
                      outcome_type: Binary
                    - market_id: WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_NO
                      title: Will Trump sell 10k-25k Gold Cards in 2025?
                      outcome_name: No
                      price: 0.88
                      status: Open
                      exchange_id: POLYMARKET
                      outcome_type: Binary
            text/json:
              schema:
                $ref: '#/components/schemas/Markets.MarketsPage'
              examples:
                Example list:
                  value:
                    - market_id: WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_YES
                      title: Will Trump sell 10k-25k Gold Cards in 2025?
                      description: Resolves based on official reporting by the Trump Administration.
                      outcome_name: Yes
                      price: 0.12
                      status: Open
                      exchange_id: POLYMARKET
                      outcome_type: Binary
                    - market_id: WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_NO
                      title: Will Trump sell 10k-25k Gold Cards in 2025?
                      outcome_name: No
                      price: 0.88
                      status: Open
                      exchange_id: POLYMARKET
                      outcome_type: Binary
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Markets.MarketsPage'
              examples:
                Example list:
                  value:
                    - market_id: WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_YES
                      title: Will Trump sell 10k-25k Gold Cards in 2025?
                      description: Resolves based on official reporting by the Trump Administration.
                      outcome_name: Yes
                      price: 0.12
                      status: Open
                      exchange_id: POLYMARKET
                      outcome_type: Binary
                    - market_id: WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_NO
                      title: Will Trump sell 10k-25k Gold Cards in 2025?
                      outcome_name: No
                      price: 0.88
                      status: Open
                      exchange_id: POLYMARKET
                      outcome_type: Binary
        '400':
          description: Bad request - invalid limit
        '404':
          description: Market not found
  '/v1/markets/{exchange_id}/active':
    get:
      tags:
        - Markets
      summary: Lists active market IDs for a specific exchange.
      description: "Returns only market IDs (not full market objects) because this data is derived from recent quotes and transactions only.\nUse the /history endpoint to retrieve full market details."
      parameters:
        - name: exchange_id
          in: path
          description: 'The unique identifier of the exchange (e.g., `POLYMARKET`).'
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'Maximum number of market IDs to return (1-10000, default 100).'
          schema:
            type: integer
            format: int32
            default: 100
        - name: page
          in: query
          description: 'Page number (1-based, >= 1, default 1). Internally converted to offset = (page - 1) * limit.'
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          description: A list of active market IDs for the given exchange.
          content:
            text/plain:
              schema:
                type: array
                items:
                  type: string
              examples:
                Example active market IDs:
                  value:
                    - WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_YES
                    - WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_NO
                    - NFL-PIT-CAR-2025-08-21-SPREAD-AWAY-5PT5_YES
                    - NFL-PIT-CAR-2025-08-21-SPREAD-AWAY-5PT5_NO
                    - CRYPTO-BTC-PRICE-ABOVE-100K-BY-EOY-2025_YES
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Example active market IDs:
                  value:
                    - WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_YES
                    - WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_NO
                    - NFL-PIT-CAR-2025-08-21-SPREAD-AWAY-5PT5_YES
                    - NFL-PIT-CAR-2025-08-21-SPREAD-AWAY-5PT5_NO
                    - CRYPTO-BTC-PRICE-ABOVE-100K-BY-EOY-2025_YES
            text/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Example active market IDs:
                  value:
                    - WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_YES
                    - WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_NO
                    - NFL-PIT-CAR-2025-08-21-SPREAD-AWAY-5PT5_YES
                    - NFL-PIT-CAR-2025-08-21-SPREAD-AWAY-5PT5_NO
                    - CRYPTO-BTC-PRICE-ABOVE-100K-BY-EOY-2025_YES
            application/x-msgpack:
              schema:
                type: array
                items:
                  type: string
              examples:
                Example active market IDs:
                  value:
                    - WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_YES
                    - WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_NO
                    - NFL-PIT-CAR-2025-08-21-SPREAD-AWAY-5PT5_YES
                    - NFL-PIT-CAR-2025-08-21-SPREAD-AWAY-5PT5_NO
                    - CRYPTO-BTC-PRICE-ABOVE-100K-BY-EOY-2025_YES
        '400':
          description: Bad request - invalid limit/offset
        '404':
          description: No active markets found
  '/v1/markets/{exchange_id}/{market_id}':
    get:
      tags:
        - Markets
      summary: Gets a specific market by its unique identifier.
      parameters:
        - name: exchange_id
          in: path
          description: 'The unique identifier of the exchange (e.g., `POLYMARKET`).'
          required: true
          schema:
            type: string
        - name: market_id
          in: path
          description: 'The unique identifier of the market including outcome suffix, e.g., `WILL-THE-BOSTON-RED-SOX-WIN-THE-2025-WORLD-SERIES_YES`.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The detailed information for the requested market.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Markets.MarketModel'
              examples:
                Example market:
                  value:
                    market_id: WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_YES
                    title: Will Trump sell 10k-25k Gold Cards in 2025?
                    description: Resolves based on official reporting by the Trump Administration.
                    outcome_name: Yes
                    price: 0.1234
                    status: Open
                    exchange:
                      exchange_id: POLYMARKET
                      market_name_institution_description: The world's largest prediction market.
                      website: https://polymarket.com
                    exchange_id: POLYMARKET
                    outcome_type: Binary
                    mechanism: CPMM
                    source_specific_data:
                      market_slug: will-trump-sell-10k-25k-gold-cards-in-2025
            application/json:
              schema:
                $ref: '#/components/schemas/Markets.MarketModel'
              examples:
                Example market:
                  value:
                    market_id: WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_YES
                    title: Will Trump sell 10k-25k Gold Cards in 2025?
                    description: Resolves based on official reporting by the Trump Administration.
                    outcome_name: Yes
                    price: 0.1234
                    status: Open
                    exchange:
                      exchange_id: POLYMARKET
                      market_name_institution_description: The world's largest prediction market.
                      website: https://polymarket.com
                    exchange_id: POLYMARKET
                    outcome_type: Binary
                    mechanism: CPMM
                    source_specific_data:
                      market_slug: will-trump-sell-10k-25k-gold-cards-in-2025
            text/json:
              schema:
                $ref: '#/components/schemas/Markets.MarketModel'
              examples:
                Example market:
                  value:
                    market_id: WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_YES
                    title: Will Trump sell 10k-25k Gold Cards in 2025?
                    description: Resolves based on official reporting by the Trump Administration.
                    outcome_name: Yes
                    price: 0.1234
                    status: Open
                    exchange:
                      exchange_id: POLYMARKET
                      market_name_institution_description: The world's largest prediction market.
                      website: https://polymarket.com
                    exchange_id: POLYMARKET
                    outcome_type: Binary
                    mechanism: CPMM
                    source_specific_data:
                      market_slug: will-trump-sell-10k-25k-gold-cards-in-2025
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Markets.MarketModel'
              examples:
                Example market:
                  value:
                    market_id: WILL-TRUMP-SELL-10K-25K-GOLD-CARDS-IN-2025_YES
                    title: Will Trump sell 10k-25k Gold Cards in 2025?
                    description: Resolves based on official reporting by the Trump Administration.
                    outcome_name: Yes
                    price: 0.1234
                    status: Open
                    exchange:
                      exchange_id: POLYMARKET
                      market_name_institution_description: The world's largest prediction market.
                      website: https://polymarket.com
                    exchange_id: POLYMARKET
                    outcome_type: Binary
                    mechanism: CPMM
                    source_specific_data:
                      market_slug: will-trump-sell-10k-25k-gold-cards-in-2025
        '404':
          description: Market not found
  /v1/ohlcv/periods:
    get:
      tags:
        - OHLCV
      summary: List all periods
      description: "Get full list of supported time periods available for requesting OHLCV timeseries data.\n            \n### Available periods\n            \nTime unit | Period identifiers\n--------- | -----------\nSecond | 1SEC, 2SEC, 3SEC, 4SEC, 5SEC, 6SEC, 10SEC, 15SEC, 20SEC, 30SEC\nMinute | 1MIN, 2MIN, 3MIN, 4MIN, 5MIN, 6MIN, 10MIN, 15MIN, 20MIN, 30MIN\nHour | 1HRS, 2HRS, 3HRS, 4HRS, 6HRS, 8HRS, 12HRS\nDay | 1DAY, 2DAY, 3DAY, 5DAY, 7DAY, 10DAY\nMonth | 1MTH, 2MTH, 3MTH, 4MTH, 6MTH\nYear | 1YRS, 2YRS, 3YRS, 4YRS, 5YRS\n            \n:::tip\nYou can assume that we will not remove any periods from this response, however, we may add new ones.\n:::"
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.TimeseriesPeriod'
              examples:
                Example response:
                  value:
                    - period_id: 1SEC
                      length_seconds: 1
                      length_months: 0
                      unit_count: 1
                      unit_name: second
                      display_name: 1 Second
                    - period_id: 10DAY
                      length_seconds: 864000
                      length_months: 0
                      unit_count: 10
                      unit_name: day
                      display_name: 10 Days
                    - period_id: 2YRS
                      length_seconds: 0
                      length_months: 24
                      unit_count: 2
                      unit_name: year
                      display_name: 2 Years
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.TimeseriesPeriod'
              examples:
                Example response:
                  value:
                    - period_id: 1SEC
                      length_seconds: 1
                      length_months: 0
                      unit_count: 1
                      unit_name: second
                      display_name: 1 Second
                    - period_id: 10DAY
                      length_seconds: 864000
                      length_months: 0
                      unit_count: 10
                      unit_name: day
                      display_name: 10 Days
                    - period_id: 2YRS
                      length_seconds: 0
                      length_months: 24
                      unit_count: 2
                      unit_name: year
                      display_name: 2 Years
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.TimeseriesPeriod'
              examples:
                Example response:
                  value:
                    - period_id: 1SEC
                      length_seconds: 1
                      length_months: 0
                      unit_count: 1
                      unit_name: second
                      display_name: 1 Second
                    - period_id: 10DAY
                      length_seconds: 864000
                      length_months: 0
                      unit_count: 10
                      unit_name: day
                      display_name: 10 Days
                    - period_id: 2YRS
                      length_seconds: 0
                      length_months: 24
                      unit_count: 2
                      unit_name: year
                      display_name: 2 Years
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.TimeseriesPeriod'
              examples:
                Example response:
                  value:
                    - period_id: 1SEC
                      length_seconds: 1
                      length_months: 0
                      unit_count: 1
                      unit_name: second
                      display_name: 1 Second
                    - period_id: 10DAY
                      length_seconds: 864000
                      length_months: 0
                      unit_count: 10
                      unit_name: day
                      display_name: 10 Days
                    - period_id: 2YRS
                      length_seconds: 0
                      length_months: 24
                      unit_count: 2
                      unit_name: year
                      display_name: 2 Years
  '/v1/ohlcv/{exchange_id}/history':
    get:
      tags:
        - OHLCV
      summary: Historical data for an exchange
      description: "Get OHLCV timeseries data for an exchange, returned in time ascending order.\nTime range is limited to 24 hours. Use `limit` to cap the number of market rows returned."
      parameters:
        - name: exchange_id
          in: path
          description: The unique identifier of the exchange.
          required: true
          schema:
            type: string
        - name: period_id
          in: query
          description: Identifier of requested timeseries period (e.g. `1DAY` or `1HRS`)
          required: true
          schema:
            type: string
        - name: time_start
          in: query
          description: Timeseries starting time in ISO 8601
          schema:
            type: string
        - name: time_end
          in: query
          description: Timeseries ending time in ISO 8601
          schema:
            type: string
        - name: limit
          in: query
          description: 'Maximum number of market rows to return (1-10000, default 100)'
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.ExchangeTimeseriesItem'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.ExchangeTimeseriesItem'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.ExchangeTimeseriesItem'
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.ExchangeTimeseriesItem'
  '/v1/ohlcv/{exchange_id}/{market_id}/history':
    get:
      tags:
        - OHLCV
      summary: Historical data for a specific market
      description: 'Get OHLCV timeseries data for a specific market, returned in time ascending order.'
      parameters:
        - name: exchange_id
          in: path
          description: The unique identifier of the exchange.
          required: true
          schema:
            type: string
        - name: market_id
          in: path
          description: 'The unique identifier of the market, including the outcome (e.g., `will-it-rain-tomorrow_yes`).'
          required: true
          schema:
            type: string
        - name: period_id
          in: query
          description: Identifier of requested timeseries period (e.g. `1DAY` or `1HRS`)
          required: true
          schema:
            type: string
        - name: time_start
          in: query
          description: Timeseries starting time in ISO 8601
          schema:
            type: string
        - name: time_end
          in: query
          description: Timeseries ending time in ISO 8601
          schema:
            type: string
        - name: limit
          in: query
          description: 'Amount of items to return (mininum is 1, maximum is 100000, default value is 100)'
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.TimeseriesItem'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.TimeseriesItem'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.TimeseriesItem'
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.TimeseriesItem'
  '/v1/ohlcv/{exchange_id}/{market_id}/latest':
    get:
      tags:
        - OHLCV
      summary: Latest data for a market
      description: 'Get OHLCV latest timeseries data for a specific market, returned in time descending order.'
      parameters:
        - name: exchange_id
          in: path
          description: The unique identifier of the exchange.
          required: true
          schema:
            type: string
        - name: market_id
          in: path
          description: 'The unique identifier of the market, including the outcome (e.g., `will-it-rain-tomorrow_yes`).'
          required: true
          schema:
            type: string
        - name: period_id
          in: query
          description: Identifier of requested timeseries period (e.g. `1DAY` or `1HRS`)
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'Amount of items to return (mininum is 1, maximum is 100000, default value is 100)'
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: successful operation
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.TimeseriesItem'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.TimeseriesItem'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.TimeseriesItem'
            application/x-msgpack:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ohlcv.TimeseriesItem'
  '/v1/orderbook/{exchange_id}/{market_id}/current':
    get:
      tags:
        - Orderbooks
      summary: Gets the current order book snapshot for a specific market outcome.
      parameters:
        - name: exchange_id
          in: path
          description: 'The unique identifier of the exchange (e.g., `POLYMARKET`).'
          required: true
          schema:
            type: string
        - name: market_id
          in: path
          description: 'The unique identifier of the market (including outcome), e.g., `will-it-rain_yes`.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The current order book snapshot for the specified market outcome.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Orderbooks.OrderBook'
              examples:
                Example orderbook:
                  value:
                    exchange_id: POLYMARKET
                    market_id: market_yes
                    time_exchange: '0001-01-01T00:00:00.0000000Z'
                    time_coinapi: '0001-01-01T00:00:00.0000000Z'
                    asks: [ ]
                    bids: [ ]
            application/json:
              schema:
                $ref: '#/components/schemas/Orderbooks.OrderBook'
              examples:
                Example orderbook:
                  value:
                    exchange_id: POLYMARKET
                    market_id: market_yes
                    time_exchange: '0001-01-01T00:00:00.0000000Z'
                    time_coinapi: '0001-01-01T00:00:00.0000000Z'
                    asks: [ ]
                    bids: [ ]
            text/json:
              schema:
                $ref: '#/components/schemas/Orderbooks.OrderBook'
              examples:
                Example orderbook:
                  value:
                    exchange_id: POLYMARKET
                    market_id: market_yes
                    time_exchange: '0001-01-01T00:00:00.0000000Z'
                    time_coinapi: '0001-01-01T00:00:00.0000000Z'
                    asks: [ ]
                    bids: [ ]
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Orderbooks.OrderBook'
              examples:
                Example orderbook:
                  value:
                    exchange_id: POLYMARKET
                    market_id: market_yes
                    time_exchange: '0001-01-01T00:00:00.0000000Z'
                    time_coinapi: '0001-01-01T00:00:00.0000000Z'
                    asks: [ ]
                    bids: [ ]
        '404':
          description: Market or outcome not found
  '/v1/orderbook/{exchange_id}/{market_id}/history':
    get:
      tags:
        - Orderbooks
      summary: Returns historical orderbook limit orders for a market from flat files.
      description: "Retrieves historical limit order data from flat files stored in external storage (S3).\nReturns raw limit order updates (adds, updates, deletes) rather than reconstructed snapshots.\nSupports hourly granularity with automatic fallback to daily files.\nUse either 'date' for full day or 'time_start'/'time_end' for specific time ranges.\nThe `limit` parameter applies in both cases (default 100, max 10000), including when `date` selects a full day.\n            \n**Important:** Results are filtered by data processing time (time_coinapi) - the time when CoinAPI\nreceived and processed the data from the exchange. Each order also includes time_exchange showing\nwhen the order was created/updated on the exchange. Due to API polling delays, time_exchange may be\nearlier than time_coinapi."
      parameters:
        - name: exchange_id
          in: path
          required: true
          schema:
            type: string
        - name: market_id
          in: path
          required: true
          schema:
            type: string
        - name: date
          in: query
          description: Full day in ISO 8601 or YYYY-MM-DD (mutually exclusive with time_start/time_end)
          schema:
            type: string
        - name: time_start
          in: query
          description: Range start in ISO 8601 (required if date is omitted)
          schema:
            type: string
        - name: time_end
          in: query
          description: Range end in ISO 8601 (optional)
          schema:
            type: string
        - name: limit
          in: query
          description: 'Maximum number of limit order updates to return (1-10000, default 100). Applies even when date selects a full day.'
          schema:
            type: integer
            format: int32
            default: 100
      responses:
        '200':
          description: Historical limit order updates in ascending time order
          content:
            text/plain:
              schema:
                type: array
                items: { }
            application/json:
              schema:
                type: array
                items: { }
            text/json:
              schema:
                type: array
                items: { }
            application/x-msgpack:
              schema:
                type: array
                items: { }
components:
  schemas:
    Exchanges.ExchangeModel:
      type: object
      properties:
        exchange_id:
          type: string
          description: 'The unique name of the exchange (e.g., POLYMARKET, KALSHI).'
          nullable: true
        market_name_institution_description:
          type: string
          description: A brief description of the exchange.
          nullable: true
        website:
          type: string
          description: The official URL of the exchange's website.
          nullable: true
      additionalProperties: false
      description: Represents an exchange or platform where prediction markets are traded.
    MarketActivity.MarketActivityBatch:
      type: object
      properties:
        trades:
          type: array
          items:
            $ref: '#/components/schemas/MarketActivity.TradeModel'
          description: Collection of trades executed in the market.
          nullable: true
        quotes:
          type: array
          items:
            $ref: '#/components/schemas/QuoteTicks.QuoteTick'
          description: Collection of quote updates for the market.
          nullable: true
      additionalProperties: false
      description: Represents a batch of market activity including both trades and quotes.
    MarketActivity.MarketActivityCurrent:
      type: object
      properties:
        trade:
          $ref: '#/components/schemas/MarketActivity.TradeModel'
        quote:
          $ref: '#/components/schemas/QuoteTicks.QuoteTick'
      additionalProperties: false
      description: Represents the current market activity snapshot including the latest trade and quote.
    MarketActivity.TradeModel:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the trade.
          nullable: true
        market_id:
          type: string
          description: 'The unique identifier for the market where the trade occurred (e.g., `will-it-rain-tomorrow_yes`).'
          nullable: true
        price:
          type: number
          description: The price at which the trade was executed.
          format: double
        quantity:
          type: number
          description: The quantity of shares traded.
          format: double
        timestamp:
          type: string
          description: The timestamp of when the trade occurred.
          format: date-time
        outcome:
          type: string
          description: The specific outcome that was traded.
          nullable: true
        side:
          $ref: '#/components/schemas/MarketActivity.TradeSide'
      additionalProperties: false
      description: Represents a single trade executed in a market.
    MarketActivity.TradeSide:
      enum:
        - Buy
        - Sell
      type: string
      description: The side of the trade (buy or sell).
    Markets.MarketModel:
      type: object
      properties:
        market_id:
          type: string
          description: 'The unique, human-readable identifier for the market and its outcome (e.g., `will-it-rain-tomorrow_yes`).'
          nullable: true
        title:
          type: string
          description: The title or question of the market.
          nullable: true
        description:
          type: string
          description: A detailed description of the market and its resolution criteria.
          nullable: true
        outcome_name:
          type: string
          description: 'The name of the specific outcome this market represents (e.g., "Yes", "No").'
          nullable: true
        price:
          type: number
          description: The current price of this specific market outcome.
          format: double
        status:
          $ref: '#/components/schemas/Markets.MarketStatus'
        exchange:
          $ref: '#/components/schemas/Exchanges.ExchangeModel'
        exchange_id:
          type: string
          description: The ID of the exchange where this market is traded.
          nullable: true
        outcome_type:
          $ref: '#/components/schemas/Markets.OutcomeType'
        mechanism:
          type: string
          description: 'The trading mechanism used by the market (e.g., CPMM, CLOB).'
          nullable: true
        source_specific_data:
          type: object
          additionalProperties:
            nullable: true
          description: A flexible dictionary to store any source-specific raw data.
          nullable: true
      additionalProperties: false
      description: Represents a detailed view of a single prediction market.
    Markets.MarketStatus:
      enum:
        - Open
        - Closed
        - Resolved
        - Suspended
      type: string
      description: The status of a prediction market.
    Markets.MarketsPage:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Markets.MarketModel'
          nullable: true
        next_cursor:
          type: string
          nullable: true
      additionalProperties: false
      description: "Paginated response for the /history endpoint when using cursor-based pagination.\nPass `next_cursor` as the `cursor` query parameter in the next request to get the following page.\nWhen `next_cursor` is null, there are no more results."
    Markets.OutcomeType:
      enum:
        - Binary
        - MultipleChoice
        - Numeric
      type: string
      description: The type of outcome a market can have.
    Ohlcv.ExchangeTimeseriesItem:
      type: object
      properties:
        time_period_start:
          type: string
          description: Gets or sets the start time of the time period.
          format: date-time
        time_period_end:
          type: string
          description: Gets or sets the end time of the time period.
          format: date-time
        time_open:
          type: string
          description: Gets or sets the time when the price opened.
          format: date-time
          nullable: true
        time_close:
          type: string
          description: Gets or sets the time when the price closed.
          format: date-time
          nullable: true
        price_open:
          type: number
          description: Gets or sets the opening price.
          format: double
          nullable: true
        price_high:
          type: number
          description: Gets or sets the highest price during the time period.
          format: double
          nullable: true
        price_low:
          type: number
          description: Gets or sets the lowest price during the time period.
          format: double
          nullable: true
        price_close:
          type: number
          description: Gets or sets the closing price.
          format: double
          nullable: true
        volume_traded:
          type: number
          description: Gets or sets the total volume traded during the time period.
          format: double
        trades_count:
          type: integer
          description: Gets or sets the number of trades executed during the time period.
          format: int64
        market_id_exchange:
          type: string
          nullable: true
      additionalProperties: false
      description: Represents a timeseries item with price and volume information.
    Ohlcv.TimeseriesItem:
      type: object
      properties:
        time_period_start:
          type: string
          description: Gets or sets the start time of the time period.
          format: date-time
        time_period_end:
          type: string
          description: Gets or sets the end time of the time period.
          format: date-time
        time_open:
          type: string
          description: Gets or sets the time when the price opened.
          format: date-time
          nullable: true
        time_close:
          type: string
          description: Gets or sets the time when the price closed.
          format: date-time
          nullable: true
        price_open:
          type: number
          description: Gets or sets the opening price.
          format: double
          nullable: true
        price_high:
          type: number
          description: Gets or sets the highest price during the time period.
          format: double
          nullable: true
        price_low:
          type: number
          description: Gets or sets the lowest price during the time period.
          format: double
          nullable: true
        price_close:
          type: number
          description: Gets or sets the closing price.
          format: double
          nullable: true
        volume_traded:
          type: number
          description: Gets or sets the total volume traded during the time period.
          format: double
        trades_count:
          type: integer
          description: Gets or sets the number of trades executed during the time period.
          format: int64
      additionalProperties: false
      description: Represents a timeseries item with price and volume information.
    Ohlcv.TimeseriesPeriod:
      type: object
      properties:
        period_id:
          type: string
          description: Gets or sets the period ID.
          nullable: true
        length_seconds:
          type: integer
          description: Gets or sets the length of the period in seconds.
          format: int32
        length_months:
          type: integer
          description: Gets or sets the length of the period in months.
          format: int32
        unit_count:
          type: integer
          description: Gets or sets the unit count.
          format: int32
          nullable: true
        unit_name:
          type: string
          description: Gets or sets the unit name.
          nullable: true
        display_name:
          type: string
          description: Gets or sets the display name of the timeseries period.
          nullable: true
      additionalProperties: false
      description: Represents a timeseries period used in exchange rate data.
    Orderbooks.OrderBook:
      type: object
      properties:
        exchange_id:
          type: string
          description: Gets or sets the exchange identifier.
          nullable: true
        market_id:
          type: string
          description: Gets or sets the market identifier.
          nullable: true
        time_exchange:
          type: string
          description: Gets or sets the exchange time of the order book.
          format: date-time
        time_coinapi:
          type: string
          description: Gets or sets the CoinAPI time when the order book was received.
          format: date-time
        asks:
          description: Gets or sets the asks made by market makers.
          nullable: true
        bids:
          description: Gets or sets the bids made by market makers.
          nullable: true
      additionalProperties: false
      description: Represents an order book with additional information and functionality.
    QuoteTicks.QuoteTick:
      type: object
      properties:
        entry_time:
          type: string
          format: date-time
        recv_time:
          type: string
          format: date-time
        ask:
          type: number
          format: double
        bid:
          type: number
          format: double
        ask_volume:
          type: number
          format: double
        bid_volume:
          type: number
          format: double
      additionalProperties: false
  securitySchemes:
    APIKey:
      type: apiKey
      description: API Key is required to access the endpoints
      name: Authorization
      in: header
    JWT:
      type: http
      description: 'JWT Authorization header using the Bearer scheme. Example: "Bearer {token}"'
      scheme: bearer
      bearerFormat: JWT
security:
  - APIKey: [ ]
  - JWT: [ ]
tags:
  - name: Orderbooks
    description: Current prediction market order book snapshots by exchange and market.
    x-displayName: Orderbooks
  - name: OHLCV
    description: 'Prediction market open, high, low, close, and volume time series.'
    x-displayName: OHLCV
  - name: Markets
    description: 'Listed prediction markets, metadata, and discovery by exchange.'
    x-displayName: Markets
  - name: Market Activity
    description: Latest trade and quote snapshot per prediction market.
    x-displayName: Market Activity
  - name: Exchanges
    description: Prediction market exchanges available in this API.
    x-displayName: Exchanges