# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule FinFeedAPICurrenciesRealtimeRESTAPI.Api.RateLimit do
  @moduledoc """
  API calls for all endpoints tagged `RateLimit`.
  """

  alias FinFeedAPICurrenciesRealtimeRESTAPI.Connection
  import FinFeedAPICurrenciesRealtimeRESTAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (FinFeedAPICurrenciesRealtimeRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec internal_ratelimit_wsconcon_apikey_get(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def internal_ratelimit_wsconcon_apikey_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/internal/ratelimit/wsconcon/apikey")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (FinFeedAPICurrenciesRealtimeRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec internal_ratelimit_wshello_ip_get(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def internal_ratelimit_wshello_ip_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/internal/ratelimit/wshello/ip")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (FinFeedAPICurrenciesRealtimeRESTAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec internal_ratelimit_wsreq_ip_get(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def internal_ratelimit_wsreq_ip_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/internal/ratelimit/wsreq/ip")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end
end
