openapi: 3.0.4
info:
  contact:
    email: support@apibricks.io
    name: API BRICKS LTD
    url: https://www.coinapi.io
  description: "Cryptocurrency market data: metadata, quotes, books, trades, OHLCV,\
    \ rates, metrics, options."
  license:
    name: MIT License
    url: https://github.com/api-bricks/api-bricks-sdk/blob/master/LICENSE
  title: CoinAPI Market Data REST API
  version: v1
servers:
- url: https://rest.coinapi.io
security:
- APIKey: []
- JWT: []
tags:
- description: "Executed trades with price, size, and taker side when reported or\
    \ inferred."
  name: Trades
  x-displayName: Trades
- description: "Exchanges, assets, blockchains, and symbols for IDs before other market\
    \ data calls."
  name: Metadata
  x-displayName: Metadata
- description: Best bid and ask with sizes and last trade when the venue publishes
    them.
  name: Quotes
  x-displayName: Quotes
- description: "Level three depth: individual resting orders with identifiers, not\
    \ only aggregates."
  name: Order Book L3
  x-displayName: Order Book L3
- description: "Level two depth: aggregated bids and asks by price, current or historical\
    \ snapshots."
  name: Order Book
  x-displayName: Order Book
- description: "Options instruments, chains, and exchange groups for listed contracts."
  name: Options
  x-displayName: Options
- description: "Open, high, low, close, and volume bars over time from trades and\
    \ book activity."
  name: OHLCV
  x-displayName: OHLCV
- description: "Exchange and symbol metrics: listing, current values, and history\
    \ in API v1."
  name: Metrics V1
  x-displayName: Metrics V1
- description: Metrics listing and time series in API v2; preferred for new integrations.
  name: Metrics V2
  x-displayName: Metrics V2
- description: Spot rates as a twenty-four hour rolling VWAP across curated markets
    and pairs.
  name: Exchange Rates
  x-displayName: Exchange Rates
paths:
  /v1/exchangerate/{asset_id_base}/{asset_id_quote}:
    get:
      description: "Retrieves the exchange rate for a specific base and quote asset\
        \ at a given time or the current rate.\n            \n:::info\nIf you are\
        \ using an exchange rate for mission-critical operations, then for best reliability,\
        \ you should measure the difference between current time and the time returned\
        \ from the response to ensure that value of the difference between those meets\
        \ your internal requirements.\n:::"
      operationId: Get specific rate
      parameters:
      - description: Requested exchange rate base asset identifier (from the Metadata
          -> Assets)
        explode: false
        in: path
        name: asset_id_base
        required: true
        schema:
          type: string
        style: simple
      - description: Requested exchange rate quote asset identifier (from the Metadata
          -> Assets)
        explode: false
        in: path
        name: asset_id_quote
        required: true
        schema:
          type: string
        style: simple
      - description: "Time at which exchange rate is calculated (optional, if not\
          \ supplied then current rate is returned)"
        explode: true
        in: query
        name: time
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                    time: 2026-07-27T06:03:27.3735779Z
                    asset_id_base: BTC
                    asset_id_quote: USD
                    rate: 10000.0
              schema:
                $ref: "#/components/schemas/v1.ExchangeRate"
            application/json:
              examples:
                Example response:
                  value:
                    time: 2026-07-27T06:03:27.3735779Z
                    asset_id_base: BTC
                    asset_id_quote: USD
                    rate: 10000.0
              schema:
                $ref: "#/components/schemas/v1.ExchangeRate"
            text/json:
              examples:
                Example response:
                  value:
                    time: 2026-07-27T06:03:27.3735779Z
                    asset_id_base: BTC
                    asset_id_quote: USD
                    rate: 10000.0
              schema:
                $ref: "#/components/schemas/v1.ExchangeRate"
            application/x-msgpack:
              examples:
                Example response:
                  value:
                    time: 2026-07-27T06:03:27.3735779Z
                    asset_id_base: BTC
                    asset_id_quote: USD
                    rate: 10000.0
              schema:
                $ref: "#/components/schemas/v1.ExchangeRate"
          description: successful operation
      summary: Get specific rate
      tags:
      - Exchange Rates
  /v1/exchangerate/{asset_id_base}:
    get:
      description: "Get the current exchange rate between requested asset and all\
        \ other assets.\n            \n:::info\nIf you are using an exchange rate\
        \ for mission-critical operations, then for best reliability, you should measure\
        \ the difference between current time and the time returned from the response\
        \ to ensure that value of the difference between those meets your internal\
        \ requirements.\n:::\n            \n:::info\nYou can invert the rates by using\
        \ Y = 1 / X equation, for example BTC/USD = 1 / (USD/BTC);\n:::"
      parameters:
      - description: Requested exchange rates base asset identifier (from the Metadata
          -> Assets)
        explode: false
        in: path
        name: asset_id_base
        required: true
        schema:
          type: string
        style: simple
      - description: Comma or semicolon delimited asset identifiers used to filter
          response (optional)
        explode: true
        in: query
        name: filter_asset_id
        required: false
        schema:
          type: string
        style: form
      - description: "True will invert all the rates (optional, if true then rates\
          \ will be calculated as `rate = 1 / actual_rate` eg. `USD/BTC` as `BTC/USD`)"
        explode: true
        in: query
        name: invert
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Time for historical rates (optional)
        explode: true
        in: query
        name: time
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                    asset_id_base: BTC
                    rates:
                    - time: 2017-08-09T14:31:37.0520000Z
                      asset_id_quote: USD
                      rate: 3258.887541779804
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: EUR
                      rate: 2782.5255080599272
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: CNY
                      rate: 21756.295595926054
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: GBP
                      rate: 2509.602420379958
              schema:
                $ref: "#/components/schemas/v1.ExchangeRates"
            application/json:
              examples:
                Example response:
                  value:
                    asset_id_base: BTC
                    rates:
                    - time: 2017-08-09T14:31:37.0520000Z
                      asset_id_quote: USD
                      rate: 3258.887541779804
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: EUR
                      rate: 2782.5255080599272
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: CNY
                      rate: 21756.295595926054
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: GBP
                      rate: 2509.602420379958
              schema:
                $ref: "#/components/schemas/v1.ExchangeRates"
            text/json:
              examples:
                Example response:
                  value:
                    asset_id_base: BTC
                    rates:
                    - time: 2017-08-09T14:31:37.0520000Z
                      asset_id_quote: USD
                      rate: 3258.887541779804
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: EUR
                      rate: 2782.5255080599272
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: CNY
                      rate: 21756.295595926054
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: GBP
                      rate: 2509.602420379958
              schema:
                $ref: "#/components/schemas/v1.ExchangeRates"
            application/x-msgpack:
              examples:
                Example response:
                  value:
                    asset_id_base: BTC
                    rates:
                    - time: 2017-08-09T14:31:37.0520000Z
                      asset_id_quote: USD
                      rate: 3258.887541779804
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: EUR
                      rate: 2782.5255080599272
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: CNY
                      rate: 21756.295595926054
                    - time: 2017-08-09T14:31:36.7570000Z
                      asset_id_quote: GBP
                      rate: 2509.602420379958
              schema:
                $ref: "#/components/schemas/v1.ExchangeRates"
          description: successful operation
      summary: Get all current rates
      tags:
      - Exchange Rates
  /v1/exchangerate/history/periods:
    get:
      description: "You can also obtain historical exchange rates of any asset pair,\
        \ grouped into time periods.\nGet full list of supported time periods available\
        \ for requesting exchange rates historical timeseries data.\n            \n\
        ## Timeseries periods\nTime unit |\tPeriod identifiers\n--- | ---\nSecond\
        \ | 1SEC, 2SEC, 3SEC, 4SEC, 5SEC, 6SEC, 10SEC, 15SEC, 20SEC, 30SEC\nMinute\
        \ | 1MIN, 2MIN, 3MIN, 4MIN, 5MIN, 6MIN, 10MIN, 15MIN, 20MIN, 30MIN\nHour |\
        \ 1HRS, 2HRS, 3HRS, 4HRS, 6HRS, 8HRS, 12HRS\nDay | 1DAY, 2DAY, 3DAY, 5DAY,\
        \ 7DAY, 10DAY"
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - period_id: 1SEC
                    length_seconds: 1
                    length_months: 0
                    unit_count: 1
                    unit_name: second
                    display_name: 1 Second
                  - period_id: 30MIN
                    length_seconds: 1800
                    length_months: 0
                    unit_count: 30
                    unit_name: minute
                    display_name: 30 Minutes
                  - period_id: 10DAY
                    length_seconds: 864000
                    length_months: 0
                    unit_count: 10
                    unit_name: day
                    display_name: 10 Days
              schema:
                items:
                  $ref: "#/components/schemas/v1.TimeseriesPeriod"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - period_id: 1SEC
                    length_seconds: 1
                    length_months: 0
                    unit_count: 1
                    unit_name: second
                    display_name: 1 Second
                  - period_id: 30MIN
                    length_seconds: 1800
                    length_months: 0
                    unit_count: 30
                    unit_name: minute
                    display_name: 30 Minutes
                  - period_id: 10DAY
                    length_seconds: 864000
                    length_months: 0
                    unit_count: 10
                    unit_name: day
                    display_name: 10 Days
              schema:
                items:
                  $ref: "#/components/schemas/v1.TimeseriesPeriod"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - period_id: 1SEC
                    length_seconds: 1
                    length_months: 0
                    unit_count: 1
                    unit_name: second
                    display_name: 1 Second
                  - period_id: 30MIN
                    length_seconds: 1800
                    length_months: 0
                    unit_count: 30
                    unit_name: minute
                    display_name: 30 Minutes
                  - period_id: 10DAY
                    length_seconds: 864000
                    length_months: 0
                    unit_count: 10
                    unit_name: day
                    display_name: 10 Days
              schema:
                items:
                  $ref: "#/components/schemas/v1.TimeseriesPeriod"
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - period_id: 1SEC
                    length_seconds: 1
                    length_months: 0
                    unit_count: 1
                    unit_name: second
                    display_name: 1 Second
                  - period_id: 30MIN
                    length_seconds: 1800
                    length_months: 0
                    unit_count: 30
                    unit_name: minute
                    display_name: 30 Minutes
                  - period_id: 10DAY
                    length_seconds: 864000
                    length_months: 0
                    unit_count: 10
                    unit_name: day
                    display_name: 10 Days
              schema:
                items:
                  $ref: "#/components/schemas/v1.TimeseriesPeriod"
                type: array
          description: successful operation
      summary: Timeseries periods
      tags:
      - Exchange Rates
  /v1/exchangerate/{asset_id_base}/{asset_id_quote}/history:
    get:
      description: Get the historical exchange rates between two assets in the form
        of the timeseries.
      parameters:
      - description: Requested exchange rates base asset identifier (from the Metadata
          -> Assets)
        explode: false
        in: path
        name: asset_id_base
        required: true
        schema:
          type: string
        style: simple
      - description: Requested exchange rates base asset identifier (from the Metadata
          -> Assets)
        explode: false
        in: path
        name: asset_id_quote
        required: true
        schema:
          type: string
        style: simple
      - description: "Identifier of requested timeseries period (required, e.g. `5SEC`\
          \ or `1HRS`)"
        explode: true
        in: query
        name: period_id
        required: false
        schema:
          type: string
        style: form
      - description: Timeseries starting time in ISO 8601 (required)
        explode: true
        in: query
        name: time_start
        required: false
        schema:
          type: string
        style: form
      - description: Timeseries ending time in ISO 8601 (required)
        explode: true
        in: query
        name: time_end
        required: false
        schema:
          type: string
        style: form
      - description: "Amount of items to return (optional, mininum is 1, maximum is\
          \ 100000, default value is 100, if the parameter is used then every 100\
          \ output items are counted as one request)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - time_period_start: 2016-01-01T00:00:00.0000000Z
                    time_period_end: 0001-01-01T00:00:00.0000000Z
                    time_open: 2016-01-01T00:00:00.0000000Z
                    time_close: 2016-01-01T00:00:00.0000000Z
                    rate_open: 430.586617904731
                    rate_high: 430.586617904731
                    rate_low: 430.586617904731
                    rate_close: 430.586617904731
                  - time_period_start: 2016-01-01T00:01:00.0000000Z
                    time_period_end: 2016-01-01T00:02:00.0000000Z
                    time_open: 2016-01-01T00:01:00.0000000Z
                    time_close: 2016-01-01T00:01:00.0000000Z
                    rate_open: 430.38999999999993
                    rate_high: 430.38999999999993
                    rate_low: 430.38999999999993
                    rate_close: 430.38999999999993
                  - time_period_start: 2016-01-01T00:02:00.0000000Z
                    time_period_end: 2016-01-01T00:03:00.0000000Z
                    time_open: 2016-01-01T00:02:00.0000000Z
                    time_close: 2016-01-01T00:02:00.0000000Z
                    rate_open: 430.6522189770523
                    rate_high: 430.6522189770523
                    rate_low: 430.6522189770523
                    rate_close: 430.6522189770523
              schema:
                items:
                  $ref: "#/components/schemas/v1.ExchangeRatesTimeseriesItem"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - time_period_start: 2016-01-01T00:00:00.0000000Z
                    time_period_end: 0001-01-01T00:00:00.0000000Z
                    time_open: 2016-01-01T00:00:00.0000000Z
                    time_close: 2016-01-01T00:00:00.0000000Z
                    rate_open: 430.586617904731
                    rate_high: 430.586617904731
                    rate_low: 430.586617904731
                    rate_close: 430.586617904731
                  - time_period_start: 2016-01-01T00:01:00.0000000Z
                    time_period_end: 2016-01-01T00:02:00.0000000Z
                    time_open: 2016-01-01T00:01:00.0000000Z
                    time_close: 2016-01-01T00:01:00.0000000Z
                    rate_open: 430.38999999999993
                    rate_high: 430.38999999999993
                    rate_low: 430.38999999999993
                    rate_close: 430.38999999999993
                  - time_period_start: 2016-01-01T00:02:00.0000000Z
                    time_period_end: 2016-01-01T00:03:00.0000000Z
                    time_open: 2016-01-01T00:02:00.0000000Z
                    time_close: 2016-01-01T00:02:00.0000000Z
                    rate_open: 430.6522189770523
                    rate_high: 430.6522189770523
                    rate_low: 430.6522189770523
                    rate_close: 430.6522189770523
              schema:
                items:
                  $ref: "#/components/schemas/v1.ExchangeRatesTimeseriesItem"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - time_period_start: 2016-01-01T00:00:00.0000000Z
                    time_period_end: 0001-01-01T00:00:00.0000000Z
                    time_open: 2016-01-01T00:00:00.0000000Z
                    time_close: 2016-01-01T00:00:00.0000000Z
                    rate_open: 430.586617904731
                    rate_high: 430.586617904731
                    rate_low: 430.586617904731
                    rate_close: 430.586617904731
                  - time_period_start: 2016-01-01T00:01:00.0000000Z
                    time_period_end: 2016-01-01T00:02:00.0000000Z
                    time_open: 2016-01-01T00:01:00.0000000Z
                    time_close: 2016-01-01T00:01:00.0000000Z
                    rate_open: 430.38999999999993
                    rate_high: 430.38999999999993
                    rate_low: 430.38999999999993
                    rate_close: 430.38999999999993
                  - time_period_start: 2016-01-01T00:02:00.0000000Z
                    time_period_end: 2016-01-01T00:03:00.0000000Z
                    time_open: 2016-01-01T00:02:00.0000000Z
                    time_close: 2016-01-01T00:02:00.0000000Z
                    rate_open: 430.6522189770523
                    rate_high: 430.6522189770523
                    rate_low: 430.6522189770523
                    rate_close: 430.6522189770523
              schema:
                items:
                  $ref: "#/components/schemas/v1.ExchangeRatesTimeseriesItem"
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - time_period_start: 2016-01-01T00:00:00.0000000Z
                    time_period_end: 0001-01-01T00:00:00.0000000Z
                    time_open: 2016-01-01T00:00:00.0000000Z
                    time_close: 2016-01-01T00:00:00.0000000Z
                    rate_open: 430.586617904731
                    rate_high: 430.586617904731
                    rate_low: 430.586617904731
                    rate_close: 430.586617904731
                  - time_period_start: 2016-01-01T00:01:00.0000000Z
                    time_period_end: 2016-01-01T00:02:00.0000000Z
                    time_open: 2016-01-01T00:01:00.0000000Z
                    time_close: 2016-01-01T00:01:00.0000000Z
                    rate_open: 430.38999999999993
                    rate_high: 430.38999999999993
                    rate_low: 430.38999999999993
                    rate_close: 430.38999999999993
                  - time_period_start: 2016-01-01T00:02:00.0000000Z
                    time_period_end: 2016-01-01T00:03:00.0000000Z
                    time_open: 2016-01-01T00:02:00.0000000Z
                    time_close: 2016-01-01T00:02:00.0000000Z
                    rate_open: 430.6522189770523
                    rate_high: 430.6522189770523
                    rate_low: 430.6522189770523
                    rate_close: 430.6522189770523
              schema:
                items:
                  $ref: "#/components/schemas/v1.ExchangeRatesTimeseriesItem"
                type: array
          description: successful operation
      summary: Timeseries data
      tags:
      - Exchange Rates
  /v1/symbols/map/{exchange_id}:
    get:
      parameters:
      - description: The ID of the exchange (from the Metadata -> Exchanges)
        explode: false
        in: path
        name: exchange_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/v1.SymbolMapping"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/v1.SymbolMapping"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/v1.SymbolMapping"
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: "#/components/schemas/v1.SymbolMapping"
                type: array
          description: successful operation
      summary: List active symbol mapping for the exchange
      tags:
      - Metadata
  /v1/symbols/{exchange_id}/active:
    get:
      description: "Retrieves all currently active (listed) symbols, with optional\
        \ filtering.\n            \n:::info\n\"price_precision\" and \"size_precision\"\
        \ are data precisions and are not always the same precisions used for trading\
        \ eg. for the \"BINANCE\" exchanges.\n:::\n            \n:::info\nYou should\
        \ not assume that the market data will be always within the resolution provided\
        \ by the \"price_precision\" and \"size_precision\". The fact that the precision\
        \ values can be derived from a posterior implies the fact that this data could\
        \ be delayed, also it can be changed by the data source without notice and\
        \ we will immediately deliver data with the new precision while could not\
        \ update the precision values in this endpoint immediately.\n:::\n       \
        \     \n### Symbol identifier\n            \nOur symbol identifier is created\
        \ using a pattern that depends on symbol type.\n            \nType | `symbol_id`\
        \ pattern\n--------- | ---------\nSPOT | `{exchange_id}_SPOT_{asset_id_base}_{asset_id_quote}`\n\
        FUTURES | `{exchange_id}_FTS_{asset_id_base}_{asset_id_quote}_{YYMMDD of future_delivery_time}`\n\
        OPTION | `{exchange_id}_OPT_{asset_id_base}_{asset_id_quote}_{YYMMDD of option_expiration_time}_{option_strike_price}_{option_type_is_call\
        \ as C/P}`\nPERPETUAL | `{exchange_id}_PERP_{asset_id_base}_{asset_id_quote}`\n\
        DEPLOYER_PERPETUAL | `{exchange_id}_DPERP_{deployer_symbol}_{asset_id_quote}`\n\
        INDEX | `{exchange_id}_IDX_{index_id}`\nCREDIT | `{exchange_id}_CRE_{asset_id_base}`\n\
        CONTACT  | `{exchange_id}_COT_{contract_id}`\nOPTION_COMBO | `{exchange_id}_OPTCMB_{exchange_symbol_id}`\n\
        FUTURE_COMBO | `{exchange_id}_FTSCMB_{exchange_symbol_id}`\n            \n\
        :::info\nIn the unlikely event when the \"symbol_id\" for more than one market\
        \ is the same. We will append the additional term (prefixed with the \"_\"\
        ) at the end of the duplicated identifiers to differentiate them.\n:::info\n\
        \            \n### Symbol types list (enumeration of `symbol_type` output\
        \ variable)\n            \nType | Name | Description\n-------- | - | -----------\n\
        SPOT | FX Spot | Agreement to exchange one asset for another one *(e.g. Buy\
        \ BTC for USD)*\nFUTURES | Futures contract | FX Spot derivative contract\
        \ where traders agree to trade fx spot at predetermined future time\nOPTION\
        \ | Option contract | FX Spot derivative contract where traders agree to trade\
        \ right to require buy or sell of fx spot at agreed price on exercise date\n\
        PERPETUAL | Perpetual contract | FX Spot derivative contract where traders\
        \ agree to trade fx spot continously without predetermined future delivery\
        \ time\nDEPLOYER_PERPETUAL | Deployer Perpetual contract | Perpetual contract\
        \ for user-deployed markets *(e.g. Hyperliquid user-deployed perpetuals)*\n\
        INDEX | Index | Statistical composite that measures changes in the economy\
        \ or markets.\nCREDIT | Credit/Funding | Margin funding contract. Order book\
        \ displays lending offers and borrow bids. Price represents the daily rate.\n\
        CONTRACT | Contract | Represents other types of financial instruments *(e.g.\
        \ spreads, interest rate swap)*\nOPTION_COMBO | Option Combo | Multi-leg option\
        \ strategy combining two or more option positions *(e.g. put spread, protective\
        \ collar)*\nFUTURE_COMBO | Future Combo | Multi-leg futures calendar spread\
        \ combining two futures positions *(e.g. futures vs perpetual)*\n        \
        \    \n### Additional output variables for `symbol_type = INDEX`\n       \
        \     \nVariable | Description\n--------- | -----------\nindex_id | Index\
        \ identifier\nindex_display_name | Human readable name of the index *(optional)*\n\
        index_display_description | Description of the index *(optional)*\n      \
        \      \n### Additional output variables for `symbol_type = FUTURES`\n   \
        \         \nVariable | Description\n--------- | -----------\nfuture_delivery_time\
        \ | Predetermined time of futures contract delivery date in ISO 8601\nfuture_contract_unit\
        \ | Contact size *(eg. 10 BTC if `future_contract_unit` = `10` and `future_contract_unit_asset`\
        \ = `BTC`)*\nfuture_contract_unit_asset | Identifier of the asset used to\
        \ denominate the contract unit\n            \n### Additional output variables\
        \ for `symbol_type = PERPETUAL`\n            \nVariable | Description\n---------\
        \ | -----------\nfuture_contract_unit | Contact size *(eg. 10 BTC if `future_contract_unit`\
        \ = `10` and `future_contract_unit_asset` = `BTC`)*\nfuture_contract_unit_asset\
        \ | Identifier of the asset used to denominate the contract unit\n       \
        \     \n### Additional output variables for `symbol_type = DEPLOYER_PERPETUAL`\n\
        \            \nVariable | Description\n--------- | -----------\nfuture_contract_unit\
        \ | Contact size *(eg. 10 BTC if `future_contract_unit` = `10` and `future_contract_unit_asset`\
        \ = `BTC`)*\nfuture_contract_unit_asset | Identifier of the asset used to\
        \ denominate the contract unit\n            \n### Additional output variables\
        \ for `symbol_type = OPTION`\n            \nVariable | Description\n---------\
        \ | -----------\noption_type_is_call | Boolean value representing option type.\
        \ `true` for Call options, `false` for Put options\noption_strike_price |\
        \ Price at which option contract can be exercised\noption_contract_unit |\
        \ Base asset amount of underlying spot which single option represents\noption_exercise_style\
        \ | Option exercise style. Can be `EUROPEAN` or `AMERICAN`\noption_expiration_time\
        \ | Option contract expiration time in ISO 8601\n            \n### Additional\
        \ output variables for `symbol_type = CONTRACT`\n            \nVariable |\
        \ Description\n--------- | -----------\ncontract_delivery_time | Predetermined\
        \ time of contract delivery date in ISO 8601\ncontract_unit | Contact size\
        \ *(eg. 10 BTC if `contract_unit` = `10` and `contract_unit_asset` = `BTC`)*\n\
        contract_unit_asset | Identifier of the asset used to denominate the contract\
        \ unit\ncontract_id | Identifier of contract by the exchange"
      parameters:
      - description: The ID of the exchange.
        explode: false
        in: path
        name: exchange_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Comma or semicolon delimited parts of symbol identifier used\
          \ to filter response. (optional, eg. `BITSTAMP`_ or `BINANCE_SPOT_`)"
        explode: true
        in: query
        name: filter_symbol_id
        required: false
        schema:
          type: string
        style: form
      - description: The filter for asset ID.
        explode: true
        in: query
        name: filter_asset_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - symbol_id: KRAKENFTS_PERP_BTC_USD
                    exchange_id: KRAKENFTS
                    symbol_type: PERPETUAL
                    asset_id_base: BTC
                    asset_id_quote: USD
                    asset_id_unit: USD
                    future_contract_unit: 1.0
                    future_contract_unit_asset: USD
                    data_start: 2019-10-30
                    data_end: 2021-03-03
                    data_quote_start: 2019-10-30T16:53:10.3262317Z
                    data_quote_end: 2021-03-03T13:51:45.6970000Z
                    data_orderbook_start: 2019-10-30T16:53:10.3262317Z
                    data_orderbook_end: 2020-08-05T14:37:32.0080000Z
                    data_trade_start: 2019-10-30T16:38:52.1620000Z
                    data_trade_end: 2021-03-03T13:46:25.7810000Z
                    volume_1hrs: 22897091
                    volume_1hrs_usd: 2.2897091E7
                    volume_1day: 459390289
                    volume_1day_usd: 4.59390289E8
                    volume_1mth: 12875674995
                    volume_1mth_usd: 1.2875674995E10
                    price: 51266
                    symbol_id_exchange: pi_xbtusd
                    asset_id_base_exchange: XBT
                    asset_id_quote_exchange: USD
                    price_precision: 0.1
                    size_precision: 1.0
                    symbol_id_int: 0
                  - symbol_id: POLONIEX_SPOT_LTC_USDC
                    exchange_id: POLONIEX
                    symbol_type: SPOT
                    asset_id_base: LTC
                    asset_id_quote: USDC
                    data_start: 2018-11-20
                    data_end: 2021-03-01
                    data_quote_start: 2018-11-20T15:24:58.4128803Z
                    data_quote_end: 2021-03-01T16:07:09.3475456Z
                    data_orderbook_start: 2018-11-20T15:24:58.4128803Z
                    data_orderbook_end: 2020-08-05T14:37:20.2695780Z
                    data_trade_start: 2018-11-20T15:25:38.0000000Z
                    data_trade_end: 2021-03-01T16:03:18.0000000Z
                    volume_1hrs: 51.68645899
                    volume_1hrs_usd: 9036.44
                    volume_1day: 465.568863
                    volume_1day_usd: 81396.28
                    volume_1mth: 22528.27638495
                    volume_1mth_usd: 3938661.0
                    symbol_id_exchange: USDC_LTC
                    asset_id_base_exchange: LTC
                    asset_id_quote_exchange: USDC
                    price_precision: 1.0E-8
                    size_precision: 1.0E-8
                    symbol_id_int: 0
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Symbol"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - symbol_id: KRAKENFTS_PERP_BTC_USD
                    exchange_id: KRAKENFTS
                    symbol_type: PERPETUAL
                    asset_id_base: BTC
                    asset_id_quote: USD
                    asset_id_unit: USD
                    future_contract_unit: 1.0
                    future_contract_unit_asset: USD
                    data_start: 2019-10-30
                    data_end: 2021-03-03
                    data_quote_start: 2019-10-30T16:53:10.3262317Z
                    data_quote_end: 2021-03-03T13:51:45.6970000Z
                    data_orderbook_start: 2019-10-30T16:53:10.3262317Z
                    data_orderbook_end: 2020-08-05T14:37:32.0080000Z
                    data_trade_start: 2019-10-30T16:38:52.1620000Z
                    data_trade_end: 2021-03-03T13:46:25.7810000Z
                    volume_1hrs: 22897091
                    volume_1hrs_usd: 2.2897091E7
                    volume_1day: 459390289
                    volume_1day_usd: 4.59390289E8
                    volume_1mth: 12875674995
                    volume_1mth_usd: 1.2875674995E10
                    price: 51266
                    symbol_id_exchange: pi_xbtusd
                    asset_id_base_exchange: XBT
                    asset_id_quote_exchange: USD
                    price_precision: 0.1
                    size_precision: 1.0
                    symbol_id_int: 0
                  - symbol_id: POLONIEX_SPOT_LTC_USDC
                    exchange_id: POLONIEX
                    symbol_type: SPOT
                    asset_id_base: LTC
                    asset_id_quote: USDC
                    data_start: 2018-11-20
                    data_end: 2021-03-01
                    data_quote_start: 2018-11-20T15:24:58.4128803Z
                    data_quote_end: 2021-03-01T16:07:09.3475456Z
                    data_orderbook_start: 2018-11-20T15:24:58.4128803Z
                    data_orderbook_end: 2020-08-05T14:37:20.2695780Z
                    data_trade_start: 2018-11-20T15:25:38.0000000Z
                    data_trade_end: 2021-03-01T16:03:18.0000000Z
                    volume_1hrs: 51.68645899
                    volume_1hrs_usd: 9036.44
                    volume_1day: 465.568863
                    volume_1day_usd: 81396.28
                    volume_1mth: 22528.27638495
                    volume_1mth_usd: 3938661.0
                    symbol_id_exchange: USDC_LTC
                    asset_id_base_exchange: LTC
                    asset_id_quote_exchange: USDC
                    price_precision: 1.0E-8
                    size_precision: 1.0E-8
                    symbol_id_int: 0
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Symbol"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - symbol_id: KRAKENFTS_PERP_BTC_USD
                    exchange_id: KRAKENFTS
                    symbol_type: PERPETUAL
                    asset_id_base: BTC
                    asset_id_quote: USD
                    asset_id_unit: USD
                    future_contract_unit: 1.0
                    future_contract_unit_asset: USD
                    data_start: 2019-10-30
                    data_end: 2021-03-03
                    data_quote_start: 2019-10-30T16:53:10.3262317Z
                    data_quote_end: 2021-03-03T13:51:45.6970000Z
                    data_orderbook_start: 2019-10-30T16:53:10.3262317Z
                    data_orderbook_end: 2020-08-05T14:37:32.0080000Z
                    data_trade_start: 2019-10-30T16:38:52.1620000Z
                    data_trade_end: 2021-03-03T13:46:25.7810000Z
                    volume_1hrs: 22897091
                    volume_1hrs_usd: 2.2897091E7
                    volume_1day: 459390289
                    volume_1day_usd: 4.59390289E8
                    volume_1mth: 12875674995
                    volume_1mth_usd: 1.2875674995E10
                    price: 51266
                    symbol_id_exchange: pi_xbtusd
                    asset_id_base_exchange: XBT
                    asset_id_quote_exchange: USD
                    price_precision: 0.1
                    size_precision: 1.0
                    symbol_id_int: 0
                  - symbol_id: POLONIEX_SPOT_LTC_USDC
                    exchange_id: POLONIEX
                    symbol_type: SPOT
                    asset_id_base: LTC
                    asset_id_quote: USDC
                    data_start: 2018-11-20
                    data_end: 2021-03-01
                    data_quote_start: 2018-11-20T15:24:58.4128803Z
                    data_quote_end: 2021-03-01T16:07:09.3475456Z
                    data_orderbook_start: 2018-11-20T15:24:58.4128803Z
                    data_orderbook_end: 2020-08-05T14:37:20.2695780Z
                    data_trade_start: 2018-11-20T15:25:38.0000000Z
                    data_trade_end: 2021-03-01T16:03:18.0000000Z
                    volume_1hrs: 51.68645899
                    volume_1hrs_usd: 9036.44
                    volume_1day: 465.568863
                    volume_1day_usd: 81396.28
                    volume_1mth: 22528.27638495
                    volume_1mth_usd: 3938661.0
                    symbol_id_exchange: USDC_LTC
                    asset_id_base_exchange: LTC
                    asset_id_quote_exchange: USDC
                    price_precision: 1.0E-8
                    size_precision: 1.0E-8
                    symbol_id_int: 0
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Symbol"
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - symbol_id: KRAKENFTS_PERP_BTC_USD
                    exchange_id: KRAKENFTS
                    symbol_type: PERPETUAL
                    asset_id_base: BTC
                    asset_id_quote: USD
                    asset_id_unit: USD
                    future_contract_unit: 1.0
                    future_contract_unit_asset: USD
                    data_start: 2019-10-30
                    data_end: 2021-03-03
                    data_quote_start: 2019-10-30T16:53:10.3262317Z
                    data_quote_end: 2021-03-03T13:51:45.6970000Z
                    data_orderbook_start: 2019-10-30T16:53:10.3262317Z
                    data_orderbook_end: 2020-08-05T14:37:32.0080000Z
                    data_trade_start: 2019-10-30T16:38:52.1620000Z
                    data_trade_end: 2021-03-03T13:46:25.7810000Z
                    volume_1hrs: 22897091
                    volume_1hrs_usd: 2.2897091E7
                    volume_1day: 459390289
                    volume_1day_usd: 4.59390289E8
                    volume_1mth: 12875674995
                    volume_1mth_usd: 1.2875674995E10
                    price: 51266
                    symbol_id_exchange: pi_xbtusd
                    asset_id_base_exchange: XBT
                    asset_id_quote_exchange: USD
                    price_precision: 0.1
                    size_precision: 1.0
                    symbol_id_int: 0
                  - symbol_id: POLONIEX_SPOT_LTC_USDC
                    exchange_id: POLONIEX
                    symbol_type: SPOT
                    asset_id_base: LTC
                    asset_id_quote: USDC
                    data_start: 2018-11-20
                    data_end: 2021-03-01
                    data_quote_start: 2018-11-20T15:24:58.4128803Z
                    data_quote_end: 2021-03-01T16:07:09.3475456Z
                    data_orderbook_start: 2018-11-20T15:24:58.4128803Z
                    data_orderbook_end: 2020-08-05T14:37:20.2695780Z
                    data_trade_start: 2018-11-20T15:25:38.0000000Z
                    data_trade_end: 2021-03-01T16:03:18.0000000Z
                    volume_1hrs: 51.68645899
                    volume_1hrs_usd: 9036.44
                    volume_1day: 465.568863
                    volume_1day_usd: 81396.28
                    volume_1mth: 22528.27638495
                    volume_1mth_usd: 3938661.0
                    symbol_id_exchange: USDC_LTC
                    asset_id_base_exchange: LTC
                    asset_id_quote_exchange: USDC
                    price_precision: 1.0E-8
                    size_precision: 1.0E-8
                    symbol_id_int: 0
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Symbol"
                type: array
          description: successful operation
      summary: List all active symbols
      tags:
      - Metadata
  /v1/symbols/{exchange_id}/history:
    get:
      description: |-
        This endpoint provides access to symbols that are no longer actively traded or listed on a given exchange.
        The data is provided with pagination support.
      parameters:
      - description: The ID of the exchange.
        explode: false
        in: path
        name: exchange_id
        required: true
        schema:
          type: string
        style: simple
      - description: The page number for pagination (starts from 1).
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: Number of records to return per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - symbol_id: KRAKENFTS_PERP_BTC_USD
                    exchange_id: KRAKENFTS
                    symbol_type: PERPETUAL
                    asset_id_base: BTC
                    asset_id_quote: USD
                    asset_id_unit: USD
                    future_contract_unit: 1.0
                    future_contract_unit_asset: USD
                    data_start: 2019-10-30
                    data_end: 2021-03-03
                    data_quote_start: 2019-10-30T16:53:10.3262317Z
                    data_quote_end: 2021-03-03T13:51:45.6970000Z
                    data_orderbook_start: 2019-10-30T16:53:10.3262317Z
                    data_orderbook_end: 2020-08-05T14:37:32.0080000Z
                    data_trade_start: 2019-10-30T16:38:52.1620000Z
                    data_trade_end: 2021-03-03T13:46:25.7810000Z
                    volume_1hrs: 22897091
                    volume_1hrs_usd: 2.2897091E7
                    volume_1day: 459390289
                    volume_1day_usd: 4.59390289E8
                    volume_1mth: 12875674995
                    volume_1mth_usd: 1.2875674995E10
                    price: 51266
                    symbol_id_exchange: pi_xbtusd
                    asset_id_base_exchange: XBT
                    asset_id_quote_exchange: USD
                    price_precision: 0.1
                    size_precision: 1.0
                    symbol_id_int: 0
                  - symbol_id: POLONIEX_SPOT_LTC_USDC
                    exchange_id: POLONIEX
                    symbol_type: SPOT
                    asset_id_base: LTC
                    asset_id_quote: USDC
                    data_start: 2018-11-20
                    data_end: 2021-03-01
                    data_quote_start: 2018-11-20T15:24:58.4128803Z
                    data_quote_end: 2021-03-01T16:07:09.3475456Z
                    data_orderbook_start: 2018-11-20T15:24:58.4128803Z
                    data_orderbook_end: 2020-08-05T14:37:20.2695780Z
                    data_trade_start: 2018-11-20T15:25:38.0000000Z
                    data_trade_end: 2021-03-01T16:03:18.0000000Z
                    volume_1hrs: 51.68645899
                    volume_1hrs_usd: 9036.44
                    volume_1day: 465.568863
                    volume_1day_usd: 81396.28
                    volume_1mth: 22528.27638495
                    volume_1mth_usd: 3938661.0
                    symbol_id_exchange: USDC_LTC
                    asset_id_base_exchange: LTC
                    asset_id_quote_exchange: USDC
                    price_precision: 1.0E-8
                    size_precision: 1.0E-8
                    symbol_id_int: 0
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Symbol"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - symbol_id: KRAKENFTS_PERP_BTC_USD
                    exchange_id: KRAKENFTS
                    symbol_type: PERPETUAL
                    asset_id_base: BTC
                    asset_id_quote: USD
                    asset_id_unit: USD
                    future_contract_unit: 1.0
                    future_contract_unit_asset: USD
                    data_start: 2019-10-30
                    data_end: 2021-03-03
                    data_quote_start: 2019-10-30T16:53:10.3262317Z
                    data_quote_end: 2021-03-03T13:51:45.6970000Z
                    data_orderbook_start: 2019-10-30T16:53:10.3262317Z
                    data_orderbook_end: 2020-08-05T14:37:32.0080000Z
                    data_trade_start: 2019-10-30T16:38:52.1620000Z
                    data_trade_end: 2021-03-03T13:46:25.7810000Z
                    volume_1hrs: 22897091
                    volume_1hrs_usd: 2.2897091E7
                    volume_1day: 459390289
                    volume_1day_usd: 4.59390289E8
                    volume_1mth: 12875674995
                    volume_1mth_usd: 1.2875674995E10
                    price: 51266
                    symbol_id_exchange: pi_xbtusd
                    asset_id_base_exchange: XBT
                    asset_id_quote_exchange: USD
                    price_precision: 0.1
                    size_precision: 1.0
                    symbol_id_int: 0
                  - symbol_id: POLONIEX_SPOT_LTC_USDC
                    exchange_id: POLONIEX
                    symbol_type: SPOT
                    asset_id_base: LTC
                    asset_id_quote: USDC
                    data_start: 2018-11-20
                    data_end: 2021-03-01
                    data_quote_start: 2018-11-20T15:24:58.4128803Z
                    data_quote_end: 2021-03-01T16:07:09.3475456Z
                    data_orderbook_start: 2018-11-20T15:24:58.4128803Z
                    data_orderbook_end: 2020-08-05T14:37:20.2695780Z
                    data_trade_start: 2018-11-20T15:25:38.0000000Z
                    data_trade_end: 2021-03-01T16:03:18.0000000Z
                    volume_1hrs: 51.68645899
                    volume_1hrs_usd: 9036.44
                    volume_1day: 465.568863
                    volume_1day_usd: 81396.28
                    volume_1mth: 22528.27638495
                    volume_1mth_usd: 3938661.0
                    symbol_id_exchange: USDC_LTC
                    asset_id_base_exchange: LTC
                    asset_id_quote_exchange: USDC
                    price_precision: 1.0E-8
                    size_precision: 1.0E-8
                    symbol_id_int: 0
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Symbol"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - symbol_id: KRAKENFTS_PERP_BTC_USD
                    exchange_id: KRAKENFTS
                    symbol_type: PERPETUAL
                    asset_id_base: BTC
                    asset_id_quote: USD
                    asset_id_unit: USD
                    future_contract_unit: 1.0
                    future_contract_unit_asset: USD
                    data_start: 2019-10-30
                    data_end: 2021-03-03
                    data_quote_start: 2019-10-30T16:53:10.3262317Z
                    data_quote_end: 2021-03-03T13:51:45.6970000Z
                    data_orderbook_start: 2019-10-30T16:53:10.3262317Z
                    data_orderbook_end: 2020-08-05T14:37:32.0080000Z
                    data_trade_start: 2019-10-30T16:38:52.1620000Z
                    data_trade_end: 2021-03-03T13:46:25.7810000Z
                    volume_1hrs: 22897091
                    volume_1hrs_usd: 2.2897091E7
                    volume_1day: 459390289
                    volume_1day_usd: 4.59390289E8
                    volume_1mth: 12875674995
                    volume_1mth_usd: 1.2875674995E10
                    price: 51266
                    symbol_id_exchange: pi_xbtusd
                    asset_id_base_exchange: XBT
                    asset_id_quote_exchange: USD
                    price_precision: 0.1
                    size_precision: 1.0
                    symbol_id_int: 0
                  - symbol_id: POLONIEX_SPOT_LTC_USDC
                    exchange_id: POLONIEX
                    symbol_type: SPOT
                    asset_id_base: LTC
                    asset_id_quote: USDC
                    data_start: 2018-11-20
                    data_end: 2021-03-01
                    data_quote_start: 2018-11-20T15:24:58.4128803Z
                    data_quote_end: 2021-03-01T16:07:09.3475456Z
                    data_orderbook_start: 2018-11-20T15:24:58.4128803Z
                    data_orderbook_end: 2020-08-05T14:37:20.2695780Z
                    data_trade_start: 2018-11-20T15:25:38.0000000Z
                    data_trade_end: 2021-03-01T16:03:18.0000000Z
                    volume_1hrs: 51.68645899
                    volume_1hrs_usd: 9036.44
                    volume_1day: 465.568863
                    volume_1day_usd: 81396.28
                    volume_1mth: 22528.27638495
                    volume_1mth_usd: 3938661.0
                    symbol_id_exchange: USDC_LTC
                    asset_id_base_exchange: LTC
                    asset_id_quote_exchange: USDC
                    price_precision: 1.0E-8
                    size_precision: 1.0E-8
                    symbol_id_int: 0
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Symbol"
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - symbol_id: KRAKENFTS_PERP_BTC_USD
                    exchange_id: KRAKENFTS
                    symbol_type: PERPETUAL
                    asset_id_base: BTC
                    asset_id_quote: USD
                    asset_id_unit: USD
                    future_contract_unit: 1.0
                    future_contract_unit_asset: USD
                    data_start: 2019-10-30
                    data_end: 2021-03-03
                    data_quote_start: 2019-10-30T16:53:10.3262317Z
                    data_quote_end: 2021-03-03T13:51:45.6970000Z
                    data_orderbook_start: 2019-10-30T16:53:10.3262317Z
                    data_orderbook_end: 2020-08-05T14:37:32.0080000Z
                    data_trade_start: 2019-10-30T16:38:52.1620000Z
                    data_trade_end: 2021-03-03T13:46:25.7810000Z
                    volume_1hrs: 22897091
                    volume_1hrs_usd: 2.2897091E7
                    volume_1day: 459390289
                    volume_1day_usd: 4.59390289E8
                    volume_1mth: 12875674995
                    volume_1mth_usd: 1.2875674995E10
                    price: 51266
                    symbol_id_exchange: pi_xbtusd
                    asset_id_base_exchange: XBT
                    asset_id_quote_exchange: USD
                    price_precision: 0.1
                    size_precision: 1.0
                    symbol_id_int: 0
                  - symbol_id: POLONIEX_SPOT_LTC_USDC
                    exchange_id: POLONIEX
                    symbol_type: SPOT
                    asset_id_base: LTC
                    asset_id_quote: USDC
                    data_start: 2018-11-20
                    data_end: 2021-03-01
                    data_quote_start: 2018-11-20T15:24:58.4128803Z
                    data_quote_end: 2021-03-01T16:07:09.3475456Z
                    data_orderbook_start: 2018-11-20T15:24:58.4128803Z
                    data_orderbook_end: 2020-08-05T14:37:20.2695780Z
                    data_trade_start: 2018-11-20T15:25:38.0000000Z
                    data_trade_end: 2021-03-01T16:03:18.0000000Z
                    volume_1hrs: 51.68645899
                    volume_1hrs_usd: 9036.44
                    volume_1day: 465.568863
                    volume_1day_usd: 81396.28
                    volume_1mth: 22528.27638495
                    volume_1mth_usd: 3938661.0
                    symbol_id_exchange: USDC_LTC
                    asset_id_base_exchange: LTC
                    asset_id_quote_exchange: USDC
                    price_precision: 1.0E-8
                    size_precision: 1.0E-8
                    symbol_id_int: 0
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Symbol"
                type: array
          description: successful operation
      summary: List all historical symbols for an exchange.
      tags:
      - Metadata
  /v1/exchanges:
    get:
      description: "Get a detailed list of exchanges provided by the system.\n   \
        \         \n:::info\nProperties of the output are providing aggregated information\
        \ from across all symbols related to the specific exchange. If you need to\
        \ calculate your aggregation (e.g., limiting only the particular type of symbols),\
        \ you should use /v1/symbols endpoint as a data source.\n:::"
      parameters:
      - description: "Comma or semicolon delimited exchange identifiers used to filter\
          \ response. (optional, eg. `BITSTAMP;GEMINI`)"
        explode: true
        in: query
        name: filter_exchange_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Exchange"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Exchange"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Exchange"
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Exchange"
                type: array
          description: successful operation
      summary: List all exchanges
      tags:
      - Metadata
  /v1/exchanges/{exchange_id}:
    get:
      parameters:
      - description: The ID of the exchange.
        explode: false
        in: path
        name: exchange_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Exchange"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Exchange"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Exchange"
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - exchange_id: OKCOINCNY
                    website: https://www.okcoin.cn/
                    name: OKCoin CNY
                    data_quote_start: 2015-02-15T12:53:50.3430000Z
                    data_quote_end: 2018-03-09T23:34:52.5800000Z
                    data_orderbook_start: 2015-02-15T12:53:50.3430000Z
                    data_orderbook_end: 2018-03-09T23:34:52.5800000Z
                    data_trade_start: 2013-06-12T14:24:24.0000000Z
                    data_trade_end: 2017-11-01T16:30:39.7077259Z
                    data_symbols_count: 2
                    volume_1hrs_usd: 0.0
                    volume_1day_usd: 0.0
                    volume_1mth_usd: 0.0
                    rank: 1
                  - exchange_id: HUOBI
                    website: https://www.huobi.com/
                    name: Huobi (HBUS)
                    data_quote_start: 2015-03-29T21:46:06.2630000Z
                    data_quote_end: 2019-11-03T18:22:29.1837496Z
                    data_orderbook_start: 2015-03-29T21:46:06.2630000Z
                    data_orderbook_end: 2019-11-03T18:23:53.2859878Z
                    data_trade_start: 2015-03-29T21:46:08.7030000Z
                    data_trade_end: 2019-11-03T18:21:48.2770000Z
                    data_symbols_count: 403
                    volume_1hrs_usd: 1605.8
                    volume_1day_usd: 59957.44
                    volume_1mth_usd: 1259508.43
                    rank: 5
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Exchange"
                type: array
          description: successful operation
      summary: List all exchanges by exchange_id
      tags:
      - Metadata
  /v1/exchanges/icons/{size}:
    get:
      parameters:
      - description: The size of the icons.
        explode: false
        in: path
        name: size
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - exchange_id: CHAINCE
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/204e55dd8dab4a0d823c21f04be6be4b.png
                  - exchange_id: BILAXY
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/4958c92dbddd4936b1f655e5063dc782.png
                  - exchange_id: BCOINSG
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/b7c77041cdef4f359b4044b2d73c7741.png
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Icon"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - exchange_id: CHAINCE
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/204e55dd8dab4a0d823c21f04be6be4b.png
                  - exchange_id: BILAXY
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/4958c92dbddd4936b1f655e5063dc782.png
                  - exchange_id: BCOINSG
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/b7c77041cdef4f359b4044b2d73c7741.png
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Icon"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - exchange_id: CHAINCE
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/204e55dd8dab4a0d823c21f04be6be4b.png
                  - exchange_id: BILAXY
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/4958c92dbddd4936b1f655e5063dc782.png
                  - exchange_id: BCOINSG
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/b7c77041cdef4f359b4044b2d73c7741.png
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Icon"
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - exchange_id: CHAINCE
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/204e55dd8dab4a0d823c21f04be6be4b.png
                  - exchange_id: BILAXY
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/4958c92dbddd4936b1f655e5063dc782.png
                  - exchange_id: BCOINSG
                    url: https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/b7c77041cdef4f359b4044b2d73c7741.png
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Icon"
                type: array
          description: successful operation
      summary: List of icons for the exchanges
      tags:
      - Metadata
  /v1/chains:
    get:
      description: "Retrieves all blockchain chains supported by the system.\n   \
        \         \n:::info\nProperties of the output are providing aggregated information\
        \ from across all symbols related to the specific chain. If you need to calculate\
        \ your aggregation (e.g., limiting only the particular type of symbols), you\
        \ should use /v1/symbols endpoint as a data source.\n:::"
      parameters:
      - description: "Comma or semicolon delimited chain identifiers used to filter\
          \ response. (optional, eg. `ETHEREUM;ARBITRUM`)."
        explode: true
        in: query
        name: filter_chain_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Chain"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Chain"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Chain"
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Chain"
                type: array
          description: successful operation
      summary: List all blockchain chains
      tags:
      - Metadata
  /v1/chains/{chain_id}:
    get:
      parameters:
      - description: The chain ID.
        explode: false
        in: path
        name: chain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Chain"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Chain"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Chain"
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - chain_id: ETHEREUM
                    name: Ethereum
                  - chain_id: ARBITRUM
                    name: Arbitrum
                  - chain_id: POLYGON
                    name: Polygon
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Chain"
                type: array
          description: successful operation
      summary: List all chains by chain ID
      tags:
      - Metadata
  /v1/assets:
    get:
      description: "Retrieves all assets.\n            \n:::info\nOur asset identifiers\
        \ are aligned with the ISO 4217 currency codes standard only for fiat money\
        \ (government or law regulated currency).\n:::\n            \n:::info\nProperties\
        \ of the output are providing aggregated information from across all symbols\
        \ related to the specific asset. If you need to calculate your aggregation\
        \ (e.g., limiting only the particular type of symbols), you should use /v1/symbols\
        \ endpoint as a data source.\n:::"
      parameters:
      - description: "Comma or semicolon delimited asset identifiers used to filter\
          \ response. (optional, eg. `BTC;ETH`)."
        explode: true
        in: query
        name: filter_asset_id
        required: false
        schema:
          type: string
        style: form
      - description: "Optional asset type filter. Allowed values: FIAT, STABLECOIN,\
          \ CRYPTO, COMMODITY, STOCK."
        explode: true
        in: query
        name: filter_asset_type
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Asset"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Asset"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Asset"
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Asset"
                type: array
          description: successful operation
      summary: List all assets
      tags:
      - Metadata
  /v1/assets/{asset_id}:
    get:
      parameters:
      - description: The asset ID.
        explode: false
        in: path
        name: asset_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Asset"
                type: array
            application/json:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Asset"
                type: array
            text/json:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:11.8220000Z
                    data_symbols_count: 22711
                    volume_1hrs_usd: 1.0289443143649E11
                    volume_1day_usd: 2.08639232325616E12
                    volume_1mth_usd: 5.792916835998454E13
                    price_usd: 9166.207274778093
                    chain_addresses:
                    - chain_id: ARBITRUM
                      network_id: MAINNET
                      address: 0x2f2a2543b76a4166549f7aab2e75bef0aefc5b0f
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0x2260fac5e5542a773aa44fbcfedf7c193bc2c599
                    data_start: 2010-07-17
                    data_end: 2019-11-03
                  - asset_id: USD
                    name: US Dollar
                    type_is_crypto: 0
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:54:49.3807706Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:13.1863931Z
                    data_trade_start: 2010-07-17T23:09:17.0000000Z
                    data_trade_end: 2019-11-03T17:55:07.7870000Z
                    data_symbols_count: 10728
                    volume_1hrs_usd: 9.46645401652E9
                    volume_1day_usd: 2.2158075817349E11
                    volume_1mth_usd: 1.18166851746617E13
                    price_usd: 1.0
                    chain_addresses:
                    - chain_id: ETHEREUM
                      network_id: MAINNET
                      address: 0xd233d1f6fd11640081abb8db125f722b5dc729dc
                    data_start: 2010-07-17
                    data_end: 2019-11-03
              schema:
                items:
                  $ref: "#/components/schemas/MarketDataMetadata.Asset"
                type: array
            application/x-msgpack:
              examples:
                Example response:
                  value:
                  - asset_id: BTC
                    name: Bitcoin
                    type_is_crypto: 1
                    data_quote_start: 2014-02-24T17:43:05.0000000Z
                    data_quote_end: 2019-11-03T17:55:07.6724523Z
                    data_orderbook_start: 2014-02-24T17:43:05.0000000Z
                    data_orderbook_end: 2019-11-03T17:55:17.8592413Z
[...]
