=begin
#FinFeedAPI Stock REST API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1
Contact: support@apibricks.io
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module OpenapiClient
  class MetadataApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List of exchanges
    # @param [Hash] opts the optional parameters
    # @return [Array<FinFeedAPIExchangeModel>]
    def v1_exchanges_get(opts = {})
      data, _status_code, _headers = v1_exchanges_get_with_http_info(opts)
      data
    end

    # List of exchanges
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<FinFeedAPIExchangeModel>, Integer, Hash)>] Array<FinFeedAPIExchangeModel> data, response status code and response headers
    def v1_exchanges_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetadataApi.v1_exchanges_get ...'
      end
      # resource path
      local_var_path = '/v1/exchanges'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<FinFeedAPIExchangeModel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKey', 'JWT']

      new_options = opts.merge(
        :operation => :"MetadataApi.v1_exchanges_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetadataApi#v1_exchanges_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List of symbols for the exchange
    # Results are paginated. Use `limit` and `page` to control page size and offset (default limit: 100, max: 10000, default page: 1).
    # @param exchange_id [String] The ID of the exchange (from the Metadata -&gt; Exchanges)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_symbol_id Comma or semicolon delimited symbol identifiers used to filter response (optional, eg. &#x60;TSLA&#x60; or &#x60;TSLA,NVDA&#x60;)
    # @option opts [Integer] :limit Maximum number of symbols to return (1-10000, default 100) (default to 100)
    # @option opts [Integer] :page Page number (1-based, default 1) (default to 1)
    # @return [Array<FinFeedAPISymbolModel>]
    def v1_symbols_exchange_id_get(exchange_id, opts = {})
      data, _status_code, _headers = v1_symbols_exchange_id_get_with_http_info(exchange_id, opts)
      data
    end

    # List of symbols for the exchange
    # Results are paginated. Use &#x60;limit&#x60; and &#x60;page&#x60; to control page size and offset (default limit: 100, max: 10000, default page: 1).
    # @param exchange_id [String] The ID of the exchange (from the Metadata -&gt; Exchanges)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_symbol_id Comma or semicolon delimited symbol identifiers used to filter response (optional, eg. &#x60;TSLA&#x60; or &#x60;TSLA,NVDA&#x60;)
    # @option opts [Integer] :limit Maximum number of symbols to return (1-10000, default 100) (default to 100)
    # @option opts [Integer] :page Page number (1-based, default 1) (default to 1)
    # @return [Array<(Array<FinFeedAPISymbolModel>, Integer, Hash)>] Array<FinFeedAPISymbolModel> data, response status code and response headers
    def v1_symbols_exchange_id_get_with_http_info(exchange_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetadataApi.v1_symbols_exchange_id_get ...'
      end
      # verify the required parameter 'exchange_id' is set
      if @api_client.config.client_side_validation && exchange_id.nil?
        fail ArgumentError, "Missing the required parameter 'exchange_id' when calling MetadataApi.v1_symbols_exchange_id_get"
      end
      # resource path
      local_var_path = '/v1/symbols/{exchange_id}'.sub('{exchange_id}', CGI.escape(exchange_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter_symbol_id'] = opts[:'filter_symbol_id'] if !opts[:'filter_symbol_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<FinFeedAPISymbolModel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKey', 'JWT']

      new_options = opts.merge(
        :operation => :"MetadataApi.v1_symbols_exchange_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetadataApi#v1_symbols_exchange_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
