=begin
#FinFeedAPI Stock REST API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1
Contact: support@apibricks.io
Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module OpenapiClient
  class NativeIEXApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Admin Messages
    # Streaming endpoint. Use `limit` to cap the number of records returned (default 100, max 10000).
    # @param symbol [String] The symbol identifier
    # @param date [Time] Date in format YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return (1-10000, default 100) (default to 100)
    # @return [Array<ModelsAdminMessageModel>]
    def v1_native_iex_admin_messages_symbol_get(symbol, date, opts = {})
      data, _status_code, _headers = v1_native_iex_admin_messages_symbol_get_with_http_info(symbol, date, opts)
      data
    end

    # Get Admin Messages
    # Streaming endpoint. Use &#x60;limit&#x60; to cap the number of records returned (default 100, max 10000).
    # @param symbol [String] The symbol identifier
    # @param date [Time] Date in format YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return (1-10000, default 100) (default to 100)
    # @return [Array<(Array<ModelsAdminMessageModel>, Integer, Hash)>] Array<ModelsAdminMessageModel> data, response status code and response headers
    def v1_native_iex_admin_messages_symbol_get_with_http_info(symbol, date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeIEXApi.v1_native_iex_admin_messages_symbol_get ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling NativeIEXApi.v1_native_iex_admin_messages_symbol_get"
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling NativeIEXApi.v1_native_iex_admin_messages_symbol_get"
      end
      # resource path
      local_var_path = '/v1/native/iex/admin/messages/{symbol}'.sub('{symbol}', CGI.escape(symbol.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date'] = date
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ModelsAdminMessageModel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKey', 'JWT']

      new_options = opts.merge(
        :operation => :"NativeIEXApi.v1_native_iex_admin_messages_symbol_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeIEXApi#v1_native_iex_admin_messages_symbol_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get System Events
    # Streaming endpoint. Use `limit` to cap the number of records returned (default 100, max 10000).
    # @param date [Time] Date in format YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return (1-10000, default 100) (default to 100)
    # @return [Array<IEXSystemEventSystemEventModel>]
    def v1_native_iex_admin_system_event_get(date, opts = {})
      data, _status_code, _headers = v1_native_iex_admin_system_event_get_with_http_info(date, opts)
      data
    end

    # Get System Events
    # Streaming endpoint. Use &#x60;limit&#x60; to cap the number of records returned (default 100, max 10000).
    # @param date [Time] Date in format YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return (1-10000, default 100) (default to 100)
    # @return [Array<(Array<IEXSystemEventSystemEventModel>, Integer, Hash)>] Array<IEXSystemEventSystemEventModel> data, response status code and response headers
    def v1_native_iex_admin_system_event_get_with_http_info(date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeIEXApi.v1_native_iex_admin_system_event_get ...'
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling NativeIEXApi.v1_native_iex_admin_system_event_get"
      end
      # resource path
      local_var_path = '/v1/native/iex/admin/system-event'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date'] = date
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<IEXSystemEventSystemEventModel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKey', 'JWT']

      new_options = opts.merge(
        :operation => :"NativeIEXApi.v1_native_iex_admin_system_event_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeIEXApi#v1_native_iex_admin_system_event_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Level-1 Quotes
    # Streaming endpoint. Use `limit` to cap the number of records returned (default 100, max 10000).
    # @param symbol [String] The symbol identifier
    # @param date [Time] Date in format YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return (1-10000, default 100) (default to 100)
    # @return [Array<IEXQuoteUpdateQuoteUpdateModel>]
    def v1_native_iex_level1_quote_symbol_get(symbol, date, opts = {})
      data, _status_code, _headers = v1_native_iex_level1_quote_symbol_get_with_http_info(symbol, date, opts)
      data
    end

    # Get Level-1 Quotes
    # Streaming endpoint. Use &#x60;limit&#x60; to cap the number of records returned (default 100, max 10000).
    # @param symbol [String] The symbol identifier
    # @param date [Time] Date in format YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return (1-10000, default 100) (default to 100)
    # @return [Array<(Array<IEXQuoteUpdateQuoteUpdateModel>, Integer, Hash)>] Array<IEXQuoteUpdateQuoteUpdateModel> data, response status code and response headers
    def v1_native_iex_level1_quote_symbol_get_with_http_info(symbol, date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeIEXApi.v1_native_iex_level1_quote_symbol_get ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling NativeIEXApi.v1_native_iex_level1_quote_symbol_get"
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling NativeIEXApi.v1_native_iex_level1_quote_symbol_get"
      end
      # resource path
      local_var_path = '/v1/native/iex/level1-quote/{symbol}'.sub('{symbol}', CGI.escape(symbol.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date'] = date
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<IEXQuoteUpdateQuoteUpdateModel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKey', 'JWT']

      new_options = opts.merge(
        :operation => :"NativeIEXApi.v1_native_iex_level1_quote_symbol_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeIEXApi#v1_native_iex_level1_quote_symbol_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Level-2 Price Level Book
    # Streaming endpoint. Use `limit` to cap the number of records returned (default 100, max 10000).
    # @param symbol [String] The symbol identifier
    # @param date [Time] Date in format YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return (1-10000, default 100) (default to 100)
    # @return [Array<IEXPriceLevelUpdatePriceLevelUpdateModel>]
    def v1_native_iex_level2_price_level_update_symbol_get(symbol, date, opts = {})
      data, _status_code, _headers = v1_native_iex_level2_price_level_update_symbol_get_with_http_info(symbol, date, opts)
      data
    end

    # Get Level-2 Price Level Book
    # Streaming endpoint. Use &#x60;limit&#x60; to cap the number of records returned (default 100, max 10000).
    # @param symbol [String] The symbol identifier
    # @param date [Time] Date in format YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return (1-10000, default 100) (default to 100)
    # @return [Array<(Array<IEXPriceLevelUpdatePriceLevelUpdateModel>, Integer, Hash)>] Array<IEXPriceLevelUpdatePriceLevelUpdateModel> data, response status code and response headers
    def v1_native_iex_level2_price_level_update_symbol_get_with_http_info(symbol, date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeIEXApi.v1_native_iex_level2_price_level_update_symbol_get ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling NativeIEXApi.v1_native_iex_level2_price_level_update_symbol_get"
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling NativeIEXApi.v1_native_iex_level2_price_level_update_symbol_get"
      end
      # resource path
      local_var_path = '/v1/native/iex/level2-price-level-update/{symbol}'.sub('{symbol}', CGI.escape(symbol.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date'] = date
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<IEXPriceLevelUpdatePriceLevelUpdateModel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKey', 'JWT']

      new_options = opts.merge(
        :operation => :"NativeIEXApi.v1_native_iex_level2_price_level_update_symbol_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeIEXApi#v1_native_iex_level2_price_level_update_symbol_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Level-3 Order Book
    # Streaming endpoint. Use `limit` to cap the number of records returned (default 100, max 10000).
    # @param symbol [String] The symbol identifier
    # @param date [Time] Date in format YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return (1-10000, default 100) (default to 100)
    # @return [Array<ModelsOrderBookModel>]
    def v1_native_iex_level3_order_book_symbol_get(symbol, date, opts = {})
      data, _status_code, _headers = v1_native_iex_level3_order_book_symbol_get_with_http_info(symbol, date, opts)
      data
    end

    # Get Level-3 Order Book
    # Streaming endpoint. Use &#x60;limit&#x60; to cap the number of records returned (default 100, max 10000).
    # @param symbol [String] The symbol identifier
    # @param date [Time] Date in format YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return (1-10000, default 100) (default to 100)
    # @return [Array<(Array<ModelsOrderBookModel>, Integer, Hash)>] Array<ModelsOrderBookModel> data, response status code and response headers
    def v1_native_iex_level3_order_book_symbol_get_with_http_info(symbol, date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeIEXApi.v1_native_iex_level3_order_book_symbol_get ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling NativeIEXApi.v1_native_iex_level3_order_book_symbol_get"
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling NativeIEXApi.v1_native_iex_level3_order_book_symbol_get"
      end
      # resource path
      local_var_path = '/v1/native/iex/level3-order-book/{symbol}'.sub('{symbol}', CGI.escape(symbol.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date'] = date
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ModelsOrderBookModel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKey', 'JWT']

      new_options = opts.merge(
        :operation => :"NativeIEXApi.v1_native_iex_level3_order_book_symbol_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeIEXApi#v1_native_iex_level3_order_book_symbol_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Trades
    # Streaming endpoint. Use `limit` to cap the number of trade records returned (default 100, max 10000).
    # @param symbol [String] The symbol identifier
    # @param date [Time] Date in format YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return (1-10000, default 100) (default to 100)
    # @return [Array<IEXTradeTradeModel>]
    def v1_native_iex_trade_symbol_get(symbol, date, opts = {})
      data, _status_code, _headers = v1_native_iex_trade_symbol_get_with_http_info(symbol, date, opts)
      data
    end

    # Get Trades
    # Streaming endpoint. Use &#x60;limit&#x60; to cap the number of trade records returned (default 100, max 10000).
    # @param symbol [String] The symbol identifier
    # @param date [Time] Date in format YYYY-MM-DD
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of records to return (1-10000, default 100) (default to 100)
    # @return [Array<(Array<IEXTradeTradeModel>, Integer, Hash)>] Array<IEXTradeTradeModel> data, response status code and response headers
    def v1_native_iex_trade_symbol_get_with_http_info(symbol, date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NativeIEXApi.v1_native_iex_trade_symbol_get ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling NativeIEXApi.v1_native_iex_trade_symbol_get"
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling NativeIEXApi.v1_native_iex_trade_symbol_get"
      end
      # resource path
      local_var_path = '/v1/native/iex/trade/{symbol}'.sub('{symbol}', CGI.escape(symbol.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date'] = date
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<IEXTradeTradeModel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['APIKey', 'JWT']

      new_options = opts.merge(
        :operation => :"NativeIEXApi.v1_native_iex_trade_symbol_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NativeIEXApi#v1_native_iex_trade_symbol_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
